extend /partials/layout

block append config
  - page.title = "A middle power moment"
  - var chart  = data.getOne("static/charts/api/2022/fig-1b/data")

block page
  #wrapper(ontouchstart="")
    .chart-title.txt-bold.txt-tu Comprehensive power
    .bars.pv-xs
      .bar-row(style="border-top:2px solid; border-bottom: 2px solid; padding: 4px 0 2px 0;")
        span.rank.fl-l.txt-sm
          strong Rank
        span.rank.fl-l.txt-sm &nbsp;
        span.fl-l.txt-sm(style='width:145px;')
          strong Country/Territory
        span.score.fl-l.txt-sm.txt-bold Score
        span.fl-l.txt-sm.txt-bold Trend
        span.label.fl-l

      for item in chart.list
        .bar-row.clearfix.txt-sm(class=item.trend < 0 ? "neg" : "pos")
          .rank.fl-l= item.rank
          .rank.fl-l(style=item.rank2 == 0 ? "color:#fff;": "")= item.rank2 == 2 ? ('+') + item.rank2 : ('') + item.rank2
          .label.fl-l= item.country
          .score.fl-l= item.change.toFixed(1)
          .trend.fl-l(style="color:#ccc")
            if item.trend > 0
              span(style="color:#16B56F")
                | &nearr;
            else if item.trend < 0
              span(style="color:#F00")
                | &searr;
            else
              | –
          
          .power
            if item.change >= 70
              span.txt-bold Superpowers 
              span &ge; 70 points
            else if item.change >= 10
              span.txt-bold Middle powers 
              span &ge; 10 points
            else
              span.txt-bold Minor powers 
              span &lt; 10 points


    .key.txt-right
      span.txt-tu.txt-bold Greatest gains
      br
      . 
        Cambodia +0.7
      br
      . 
        Brunei +0.4
      br
      . 
        Laos +0.3
      br
      br
      span.txt-tu.txt-bold Greatest losses
      br
      . 
        China -2.1
      br
      . 
        United States -1.5
      br
      . 
        Russia -1.4

    .pv-xs.txt-muted.txt-right.hint(style="max-width:none;")
      :marked
        \*Brunei is classified as a minor power as its unrounded score is 9.98  
        Trend arrows track annual changes in scores above a minimum absolute change threshold (≥ 0.15)

block append css
  style
    :sass
      body
        font-family: Sans
        display: flex
        width: 1px
        min-width: 100%
        *width: 100%

      #wrapper
        line-height: 1.4
        overflow: visible
        font-feature-settings: "pnum" 1
        margin: auto
        width: 600px
        max-width: 100%

      .hint
        font-size: 80%
        max-width: 512px
        margin: auto

      .bars
        position: relative

      .label
        width: 145px
        font-weight: 200
        height: 100%
        margin-left: 12px

      .trend
        width: 40px
        font-weight: 300
        line-height: 1.2
        height: 100%
        text-align: center
        margin-right: 20px

      .rank
        min-width: 32px
        font-weight: 400
      
      .score
        margin: 0 20px
        text-align: right
        min-width: 36px

      .bar-scale
        display: flex
        margin-left: 165px
        margin-right: 0
        font-size: 14px

      .bar-scale-tick
        width: 25%
        text-align: center
        position: relative
        padding-top: 4px

        &:before
          content: ""
          position: absolute
          left: 50%
          bottom: 100%
          margin-bottom: 1px
          height: 32 * 1.5em
          padding-top: 23px
          border-left: 1px solid rgba(#0F1F2B, 0.2)
          margin-left: -0.5px

        &:first-of-type:before
          border-left: 2px solid rgba(#002b45, 1)

        &:last-of-type,&:last-of-type:before
          border-left: 0
          color: #fff

      .bar-row .power
        display: inline-block
        color: #fff

      .bar-row:nth-of-type(3) .power,.bar-row:nth-of-type(11) .power,.bar-row:nth-of-type(23) .power
        color: #333

      .bar-row:nth-of-type(3),.bar-row:nth-of-type(18)
        border-bottom: 2px solid #333

      .bar-row:nth-of-type(3) .power
        top: 61px
        display: block
        position: absolute
        left: 358px
        

      .bar-row
        height: 1.4em
        margin-bottom: 4px
        padding: 2px 0
        overflow: hidden

        &:hover
          background: #f2f4f6

          .bar-label
            background: #f2f4f6

      .bar
        height: 100%
        margin-left: -108px
        margin-right: 20px
        position: relative
        z-index: 1

      .bar-inner
        position: relative
        height: 80%
        margin: 2px 0

        .neg &
          background: #002b45

        .pos &
          background: #539ed4

      .bar-label
        position: absolute
        padding: 0 0.3em
        background: white
        height: 100%
        font-size: 14px
        left: 100%

      .bar-group-label
        position: absolute
        line-height: 1
        min-width: 220px

      .bar-group-label-neg
        color: #002b45
        margin-left: 102px
        left: 50%
        transform: translateX(-50%) rotate(90deg)
        top: 50%
        margin-top: 132px

      .bar-group-label-pos
        color: #539ed4
        margin-left: 36px
        left: 50%
        transform: translateX(-50%) rotate(-90deg)
        margin-top: 120px

      .key
        position: absolute
        bottom: 120px
        right: 146px
        width: 140px
        background-color: #efeef7
        font-size: 13px
        padding: 12px

      ul
        list-style: none
      .legend-item
        margin: 0
        padding-right: 16px
        position: relative
      .legend-item-box
        position: absolute
        right: 0
        top: 4px
        height: 0.8em
        width: 0.8em
        background: black


      @media (max-width: 512px)
        .label
          width: 108px

        .trend
          width: 12px

        .bar-scale,
        .bar
          margin-left: 120px

        .bar-group-label-neg
          margin-left: 64px
        .bar-group-label-pos
          margin-left: 36px
