extend /partials/layout

block append config
  - _.extend(page, data.getOne("static/features/20-years/data"))

block page
  include partials/other/header
  include partials/other/background-gallery

  mixin item(index, n = 1)
    .scroll-item(
      id=`scroll-item-${index}`
      class=(index == "index" ? "active" : null)
      style=`height: ${n * 100}%`
      data-n-slides=n
    )
      block

  #scroller.txt-lt(
    data-view="scroller" 
    data-pager=".pager-page" 
    data-index=".pager-index"
    data-min=1
    data-max=15
    data-i=0
  )
    +item("intro")
      include partials/slides/intro
    +item(1)
      include partials/slides/01
    +item(2)
      include partials/slides/02
    +item(3)
      include partials/slides/03
    +item(4)
      include partials/slides/04
    +item(5)
      include partials/slides/05
    +item(6)
      include partials/slides/06
    +item(7)
      include partials/slides/07
    +item(8)
      include partials/slides/08
    +item(9, 5)
      include partials/slides/09
    +item(10)
      include partials/slides/10
    +item(11)
      include partials/slides/11
    +item(12)
      include partials/slides/12
    +item(13)
      include partials/slides/13
    +item(14, 5)
      include partials/slides/14
    +item("outro")
      include partials/slides/outro

  include partials/other/footer

block append css
  style
    include:sass _styles.sass

block append scripts
  script
    include:coffee coffee/scroller.coffee
    include:coffee coffee/counter.coffee
    include coffee/image-slider.js

  //- script.
    window.onload = () => document.querySelector("#scroller").scrollTo({top: 0, behavior: "instant"})