extend /partials/layout

block append config
  - page.class = "essay"
  - page.image = "https://interactives.lowyinstitute.org/features/rbo-indo-pacific/img/thumb.png"
  - page.data = data.getOne("static/features/rbo-indo-pacific/data").essays
  - essay = page.data.find(e => e.author === author)
  - index = page.data.findIndex(e => e.author === author)

block prepend head
  - page.url = "https://interactives.lowyinstitute.org/features/rbo-indo-pacific/"
  - page.url += "essays/" + essay.href
  - page.metaTitle = `${essay.title} - The Indo-Pacific and the Rules Based Order – Lowy Insitute`
  - page.description = ""

block page
  
  include _logo
  include _pagemenu
  
  #splash.h-screen.flex-cv(
    style=`background-image: url('../../img/essays/${essay.href}.jpg')`
    )
      .landing-block.flex.items-center.txt-ff.container
        .col.mx-4
          h1.txt-xxl.lead-tightest= essay.title
          h3= essay.author
    
  .profile-block.bg-dk.txt-ff
    .container.flex.items-center
      img.profile-image(src=`../../img/authors/${slugify(essay.author)}.jpg` width="200" height="180")
      .flex-col
        .txt-mini.fw700.txt-lt About the author
        p.profile-text!= essay.bio
  +pagemenu(["Essay", "Challenge", "Menu"], true)
  
    
  article.relative.above

    #essay.mb-16
    
    //- p.opacity-50.fw-400.mb-8
      | In response to the article <em><a href="https://www.foreignaffairs.com/articles/united-states/2021-01-12/how-america-can-shore-asian-order" target="_blank">How America Can Shore up Asian Order</a></em>
    
    section
      h1 Essay
      block body
        
    hr#challenge.my-20(style="border-bottom: 3px solid #002b45")
      
    h1 Challenge the expert
    p.opacity-50.fw-400.mb-8
      | Ben Scott, Director of the Lowy Institute’s Rules-Based Order Project, challenges 
      span= essay.author
      | ’s key arguments.
    hr
      
    section
      block qanda
    
    hr.my-20#menu(style="border-bottom: 3px solid #002b45")
    section
      h1 Menu
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam voluptatibus earum atque molestiae ipsa expedita ullam nulla nemo tempora praesentium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, molestias.
      include _link-grid

  include _footer


block append css
  style
    include:sass ../styles/_app.sass
    include:sass ../styles/_link-grid.sass
    include:sass ../styles/_page-menu.sass
    include:sass ../styles/_article.sass
    
block append scripts
  script
    include:coffee ../coffee/utils.coffee
    include:coffee ../coffee/base.coffee
