extend /partials/layout

block append config
  - page.class = "essay"
  - page.image = "https://interactives.lowyinstitute.org/features/rbo-indo-pacific/img/thumb.png"
  - page.data = data.getOne("static/features/rbo-indo-pacific/data").essays
  - essay = page.data.find(e => e.author === author)
  - index = page.data.findIndex(e => e.author === author)

block prepend head
  - page.url = "https://interactives.lowyinstitute.org/features/rbo-indo-pacific/"
  - page.url += "essays/" + essay.href
  - page.metaTitle = `${essay.title} - The Indo-Pacific and the Rules Based Order – Lowy Insitute`
  - page.description = ""

block page
  
  include _logo
  include _pagemenu

  article
  
    section#landing
      h1= essay.title
      .mini-profile.flex.items-center.my-6
        img.thumbnail(src=`../../img/authors/${slugify(essay.author)}-thumb.jpg` width="50" height="50")
        .col.mx-4
          .text-mini.mb-0= essay.author
          .text-mini.txt-muted.mb-0!= essay.position

    +pagemenu(["Essay", "Q&A", "Menu"], true)
    
    hr#essay
    p.opacity-50.fw-400.mb-8
      | In response to the article <em><a href="https://www.foreignaffairs.com/articles/united-states/2021-01-12/how-america-can-shore-asian-order" target="_blank">How America Can Shore up Asian Order</a></em>
    
    section
      block body
        
    hr#challenge-the-expert.my-20(style="border-bottom: 3px solid #002b45")
      
    h1.type.wrappable
      .line Challenge the expert
    p.opacity-50.fw-400.mb-8
      | Ben Scott, Director of the Lowy Institute’s Rules-Based Order Project, challenges 
      span= essay.author
      | ’s key arguments.
    hr
      
    section#q-a
      block qanda
        
    hr.my-20
    .profile
      img.profile-img.float-left(src=`../../img/authors/${slugify(essay.author)}.jpg` width="220")
      p.profile-text!= essay.bio
    
    section#menu  
      include _link-grid


block append css
  style
    include:sass ../styles/_app.sass
    include:sass ../styles/_link-grid.sass
    include:sass ../styles/_page-menu.sass
    include:sass ../styles/_article.sass
    
block append scripts
  script
    include:coffee ../coffee/utils.coffee
    include:coffee ../coffee/base.coffee
    include:coffee ../coffee/article.coffee
