extend /partials/layout

block append config
  - 
    slug = "southeast-asia-economy"
    page.url = `https://interactives.lowyinstitute.org/features/${slug}/`
    page.class = "homepage"
    page.title = "Southeast Asia Economy Debate"
    page.metaTitle = `${page.title} - Lowy Institute`
    page.description = ""
    page.image = `https://interactives.lowyinstitute.org/features/${slug}/img/thumb.jpg`
    page.posts = data.getOne(`static/features/${slug}/data`).posts

    authorList = page.posts.map((p,i,a) =>
      (i === a.length - 1 ? "and " : "" ) +
      `<a href='/features/${slug}/post/${p.href}'>${p.author}</a>`
    ).join(", ")


block page

  include partials/header

  section.title-block
    .flex.w-title-block
      .col-text
        h1 Debate series: Does Southeast Asia need a new development model?
        p.caption!= "A Lowy Institute debate, with contributions from local experts " + authorList

  include partials/gallery
  +gallery("relative")
  +gallery("fixed collapse")
  
  main
    article
      include partials/introduction

  include partials/footer
  
block append css
  style
    include:sass ./styles/_base.sass
    include:sass ./styles/_utils.sass
    include:sass ./styles/_layout.sass
    include:sass ./styles/_header.sass
    include:sass ./styles/_button.sass
    include:sass ./styles/_footer.sass
    include:sass ./styles/_figure.sass
    include:sass ./styles/_gallery.sass
    include:sass ./styles/_scroller.sass
    include:sass ./styles/_typography.sass
    include:sass ./styles/_title-block.sass

block append scripts
  script
    include:coffee ./scripts/utils.coffee
    include:coffee ./scripts/scroll.coffee