extend /partials/layout

block append config
  - 
    slug = "southeast-asia-economy"
    page.url = `https://interactives.lowyinstitute.org/features/${slug}/`
    page.class = "homepage"
    page.title = "Does Southeast Asia need a new development model?"
    page.metaTitle = `${page.title} - Lowy Institute`
    page.description = "A Lowy Institute debate, with contributions from leading Southeast Asian experts."
    page.image = `https://interactives.lowyinstitute.org/features/${slug}/img/thumb.png`
    page.posts = data.getOne(`static/features/${slug}/data`).posts

    authorList = page.posts.map((p,i,a) =>
      (i === a.length - 1 ? "and " : "" ) +
      `<a href='/features/${slug}/post/${p.href}'>${p.author}</a>`
    ).join(", ")


block page

  include partials/gallery
  include partials/header

  .bg-dk
    section.title-block.w-title-block
      .feature-image
        include ./img/feature-bg
      .flex.relative.above
        .col-text
          span.caption.opacity-75.txt-muted  01 September 2022
          h1 Does Southeast Asia need a new development model?
          p.caption!= "A Lowy Institute debate, with contributions from leading Southeast Asian experts " + authorList + "."

    +gallery("relative")

  +gallery("fixed collapse")
  
  main
    article
      include partials/introduction

  include partials/footer

  //- IMAGE: https://unsplash.com/photos/sG6pxanVWJI
  
block append css
  style
    include:sass ./styles/_base.sass
    include:sass ./styles/_utils.sass
    include:sass ./styles/_layout.sass
    include:sass ./styles/_header.sass
    include:sass ./styles/_button.sass
    include:sass ./styles/_footer.sass
    include:sass ./styles/_figure.sass
    include:sass ./styles/_gallery.sass
    include:sass ./styles/_homepage.sass
    include:sass ./styles/_scroller.sass
    include:sass ./styles/_typography.sass
    include:sass ./styles/_title-block.sass

block append scripts
  script
    include:coffee ./scripts/utils.coffee
    include:coffee ./scripts/scroll.coffee