.wrapper.flex.bg-ff.txt-dk
  .slide-inner(data-view="in-viewport")
    .type.txt-md.txt-left.posa.fade-in(
      data-view="slide, in-viewport"
      data-duration=1000
    )
      span.line.bg-lta
        = page.data.makeup.gender.title

    .bars.txt-mid.fh.txt-sm.fade-in
      .txt-center.txt-tu.txt-sans.txt-mid(style="line-height: 1.3;") 
        strong CCP Membership
        br
        span.txt-normal.txt-mid 89M members
    
      for item, j in page.data.makeup.gender.data
        .bar-group.flex-cv
          .bar-group-label.txt-center.txt-mid.fade-in.delay-8
            = item.label 

          for value, i in item.values
            .bar(
              style={margin: "20px 0"}
              data-view="bars, in-viewport"
              data-duration=(2000 - j * 400)
              data-delay=(j * 400 + i * 40)
              data-value=value
              data-direction=(j > 0 ? 1 : -1)
              data-suffix="%"
            )
              .bar-bg.txt-ff.r0(
                style={
                  width: `${value / page.data.makeup.gender.scale}%`
                }
                class=[
                  ["bg-mid", "bg-hl"][i],
                  j > 0 ? "l0 bar-bg-fade" : "r0"
                ]
              )
                .bar-value(
                  class=[
                    j > 0 ? "bar-value-outside txt-mid" : "",
                    j > 0 ? "bar-value-right" : ""
                  ]
                )
                  = value
              
              //if j > 0
                .bar-label.txt-center.txt-tu.txt-sans(
                  class=["txt-ff", "txt-hl"][i]
                  style="line-height: 1.3; margin-top:-100px; margin-left:-200px; left:0;"
                )
                  = page.data.makeup.gender.labels[i]
                  br
                  span.txt-normal.txt-mid
                    = page.data.makeup.gender.sizes[i]

      .txt-center.txt-tu.txt-sans.txt-hl(style="line-height: 1.3;") 
        strong Central committee
        br
        span.txt-normal.txt-mid 204 members

    .posa.txt-muted.fade-in.delay-8(style="bottom: 0; right: 0")
      | Source: CCP Organisation Department (2017)

block append css
  style
    :sass
    
      body
        background: #fff
      .wrapper
        padding: 24px
      .slide-inner
        width: 100%

      .bars
        margin-top: 100px
      .bar-group
        overflow: visible
        height: 50%
      .bar-group-label
        top: 20px