extend /partials/layout

block append config
  - var datapath = "static/charts/china-influence-un/fig-3/data"
  - var colorpath = "static/charts/templates/colors/data"
  - _.extend(page, data.getOne(datapath))
  - _.extend(page, data.getOne(colorpath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"
  - isEmpty = (y) => (y === undefined || y == null || y.length <= 0)
  - chart = page
  
block page
  .wrapper.flex
    .txt-center.flex.flex-grow.flex-col
      .chart-title= chart.title
      //.chart-subtitle.txt-muted.txt-tu.p-sm!= chart.subtitle
      .chart.flex-grow: .chart-content
        - ln = chart.series[0].values.length
        - axes = chart.axes
        - minY = axes.minY
        - maxY = axes.maxY
        - range = maxY - minY
        - fx = (i) => (i + 0.6) / (ln + 0.25)
        - fy = (y) => (y - minY) / range
        
        .subtitles
          .box-sub-left: .chart-subtitle Voluntary core (un-earmarked) contributions
          .box-sub-right: .chart-subtitle Voluntary non-core (earmarked) contributions

        .chart-container(height="100%" width="100%")
          // CHART 1: fig-7a
          svg.box-left(height="100%")

            //-- Y-Axis labels
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0%
              svg(y="85.71%")
                text(text-anchor="end" transform="translate(-8 4)") 5%
              svg(y="71.43%")
                text(text-anchor="end" transform="translate(-8 4)") 10%
              svg(y="57.14%")
                text(text-anchor="end" transform="translate(-8 4)") 15%
              svg(y="42.86%")
                text(text-anchor="end" transform="translate(-8 4)") 20%
              svg(y="28.57%")
                text(text-anchor="end" transform="translate(-8 4)") 25%
              svg(y="14.29%")
                text(text-anchor="end" transform="translate(-8 4)") 30%
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(-8 4)") 35%

            // -- Y-Axis minor lines
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="0%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="14.29%" x2="100%" y2="14.29%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="28.57%" x2="100%" y2="28.57%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="42.86%" x2="100%" y2="42.86%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="57.14%" x2="100%" y2="57.14%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="71.43%" x2="100%" y2="71.43%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="85.71%" x2="100%" y2="85.71%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="100%" y1="0.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")

            // X-Axis labels
            svg(class="x-label" x="4.90%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2010
            svg(class="x-label" x="13.06%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2011
            svg(class="x-label" x="21.22%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2012
            svg(class="x-label" x="29.39%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2013
            svg(class="x-label" x="37.55%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2014
            svg(class="x-label" x="45.71%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2015
            svg(class="x-label" x="53.88%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2016
            svg(class="x-label" x="62.04%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2017
            svg(class="x-label" x="70.20%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2018
            svg(class="x-label" x="78.37%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2019
            svg(class="x-label" x="86.53%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2020
            svg(class="x-label" x="94.69%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2021

            // OPTIONAL GUIDE LINE
            // CHART LINES
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              // SERIES LINES
              polyline(fill="none" stroke="#ff8800" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 93.05179102000001,13.061224489795919 90.53007327428571,21.22448979591837 85.75421733714285,29.38775510204082 94.74145230857143,37.55102040816326 87.76828148285715,45.714285714285715 92.26748642285713,53.87755102040816 92.06956122857142,62.04081632653061 88.14032172571427,70.20408163265306 95.29381381142858,78.36734693877551 95.59972725714286,86.53061224489795 93.59528138857144,94.6938775510204 94.65265310857143")
              polyline(fill="none" stroke="#008A97" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 86.15792714,13.061224489795919 82.3404520342857,21.22448979591837 96.48529972857143,29.38775510204082 87.0271762342857,37.55102040816326 93.28970454571429,45.714285714285715 88.14929011428572,53.87755102040816 84.10689817714285,62.04081632653061 88.78434146,70.20408163265306 89.4464460657143,78.36734693877551 91.60923685142858,86.53061224489795 90.52835645714285,94.6938775510204 92.92224985142857")
              polyline(fill="none" stroke="#a5dd75" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 84.22861752,13.061224489795919 85.31762511142857,21.22448979591837 84.04817523142857,29.38775510204082 78.52665903142858,37.55102040816326 85.6077356,45.714285714285715 81.58033126285714,53.87755102040816 81.83079430857141,62.04081632653061 89.01263938857143,70.20408163265306 89.40460028857143,78.36734693877551 85.75450459714286,86.53061224489795 87.84122534,94.6938775510204 83.14297456285715")
              polyline(fill="none" stroke="#16B56F" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 89.08597984000001,13.061224489795919 89.62419282857142,21.22448979591837 92.56958041428571,29.38775510204082 88.91455651142857,37.55102040816326 86.8426422,45.714285714285715 89.73776898571428,53.87755102040816 86.86209874285714,62.04081632653061 88.02749552285714,70.20408163265306 81.07136941142858,78.36734693877551 77.33541764857142,86.53061224489795 55.601741800000006,94.6938775510204 73.25510773428572")
              polyline(fill="none" stroke="#FBBCC0" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 83.52870398571429,13.061224489795919 87.18381285428572,21.22448979591837 86.20168602285713,29.38775510204082 86.51542527428572,37.55102040816326 83.58732286857142,45.714285714285715 86.24328839142858,53.87755102040816 85.22022204857144,62.04081632653061 87.07037707428572,70.20408163265306 85.99306076857143,78.36734693877551 85.06178989428571,86.53061224489795 85.95516698,94.6938775510204 89.37748888285715")
              polyline(fill="none" stroke="#DF0C1B" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 69.10998434285715,13.061224489795919 74.25309633142857,21.22448979591837 71.07224665714286,29.38775510204082 78.46625798571428,37.55102040816326 78.44263595142856,45.714285714285715 86.39932631428572,53.87755102040816 73.06858405142857,62.04081632653061 85.05127376,70.20408163265306 82.7600628,78.36734693877551 68.8262494,86.53061224489795 85.43463432285714,94.6938775510204 89.39700696")
              polyline(fill="none" stroke="#ffe18f" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 68.85807848571429,13.061224489795919 69.1318126857143,21.22448979591837 65.30322828571428,29.38775510204082 69.87377782857142,37.55102040816326 74.79392233428571,45.714285714285715 74.82863983428571,53.87755102040816 79.66598925714285,62.04081632653061 75.82537686857142,70.20408163265306 78.12056327714286,78.36734693877551 68.701934,86.53061224489795 85.42705311142858,94.6938775510204 82.63675537142858")
              polyline(fill="none" stroke="#cab0d6" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 70.2096822,13.061224489795919 65.11185005714286,21.22448979591837 66.17132565714286,29.38775510204082 61.3057812,37.55102040816326 69.62549188571428,45.714285714285715 67.90145705714285,53.87755102040816 59.6031108,62.04081632653061 57.193238,70.20408163265306 49.85987497142857,78.36734693877551 68.37753285714285,86.53061224489795 57.29052617142857,94.6938775510204 34.76072682857143")
              polyline(fill="none" stroke="#68389a" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 89.4080207657143,13.061224489795919 91.51183685999999,21.22448979591837 89.61393656000001,29.38775510204082 86.72032861714285,37.55102040816326 86.51646567142856,45.714285714285715 85.69708653428572,53.87755102040816 87.13886780857143,62.04081632653061 84.78858231428572,70.20408163265306 83.92403268285716,78.36734693877551 89.98194802285714,86.53061224489795 92.30794991142858,94.6938775510204 88.88353742285715")
              polyline(fill="none" stroke="#ffc52b" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 79.35834806857143,13.061224489795919 71.67695771142857,21.22448979591837 59.76607611428572,29.38775510204082 79.39229758285714,37.55102040816326 72.0088774742857,45.714285714285715 70.13679102857144,53.87755102040816 74.7868992857143,62.04081632653061 61.2353563142857,70.20408163265306 70.37158117142857,78.36734693877551 69.66946580000001,86.53061224489795 76.74975708000001,94.6938775510204 80.7653116857143")
              polyline(fill="none" stroke="#a37c09" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 61.798895685714285,13.061224489795919 66.35303014285715,21.22448979591837 62.615233342857145,29.38775510204082 60.854539114285714,37.55102040816326 62.683200085714276,45.714285714285715 51.34616571428571,53.87755102040816 56.78089528571428,62.04081632653061 62.34551840000001,70.20408163265306 76.24699923142857,78.36734693877551 78.59670479714286,86.53061224489795 72.90545932,94.6938775510204 69.97822888571429")
              polyline(fill="none" stroke="#ff4050" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 98.66982159142856,13.061224489795919 98.89247934285714,21.22448979591837 98.99947937714285,29.38775510204082 98.77135701714288,37.55102040816326 98.72906568285714,45.714285714285715 98.47029238,53.87755102040816 97.81843156571428,62.04081632653061 97.19912126857143,70.20408163265306 97.67487266857144,78.36734693877551 97.17569312857142,86.53061224489795 97.09757995714287,94.6938775510204 97.87572883142857")
            g
              circle(r="4" cx="4.90%" cy="93.05%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="90.53%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="85.75%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="94.74%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="87.77%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="92.27%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="92.07%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="88.14%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="95.29%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="95.60%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="93.60%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="94.65%" fill="#ff8800" stroke="#fff" stroke-width="0")
            g
              rect(width="6" height="6" x="4.20%" y="85.46%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="12.36%" y="81.64%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="20.52%" y="95.79%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="28.69%" y="86.33%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="36.85%" y="92.59%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="45.01%" y="87.45%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="53.18%" y="83.41%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="61.34%" y="88.08%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="69.50%" y="88.75%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="77.67%" y="90.91%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="85.83%" y="89.83%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="93.99%" y="92.22%" fill="#fff" stroke="#008A97" stroke-width="2")
            g
              //circle(r="4" cx="4.90%" cy="84.23%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="4.90 82.63 6.20 84.83 3.50 84.83 4.90 82.63" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="13.06%" cy="85.32%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="13.06 83.72 14.36 85.92 11.66 85.92 13.06 83.72" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="21.22%" cy="84.05%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="21.22 82.45 22.52 84.65 19.82 84.65 21.22 82.45" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="29.39%" cy="78.53%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="29.39 76.93 30.69 79.13 27.99 79.13 29.39 76.93" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="37.55%" cy="85.61%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="37.55 84.01 38.85 86.21 36.15 86.21 37.55 84.01" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="45.71%" cy="81.58%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="45.71 79.98 47.01 82.18 44.31 82.18 45.71 79.98" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="53.88%" cy="81.83%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="53.88 80.23 55.18 82.43 52.48 82.43 53.88 80.23" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="62.04%" cy="89.01%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="62.04 87.41 63.34 89.61 60.64 89.61 62.04 87.41" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="70.20%" cy="89.40%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="70.20 87.80 71.50 90.00 68.80 90.00 70.20 87.80" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="78.37%" cy="85.75%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="78.37 84.15 79.67 86.35 76.97 86.35 78.37 84.15" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="86.53%" cy="87.84%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="86.53 86.24 87.83 88.44 85.13 88.44 86.53 86.24" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.69%" cy="83.14%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.69 81.54 95.99 83.74 93.29 83.74 94.69 81.54" fill="#a5dd75" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="4.90%" cy="89.09%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="4.90 87.49 6.20 89.69 3.50 89.69 4.90 87.49" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="13.06%" cy="89.62%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="13.06 88.02 14.36 90.22 11.66 90.22 13.06 88.02" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="21.22%" cy="92.57%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="21.22 90.97 22.52 93.17 19.82 93.17 21.22 90.97" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="29.39%" cy="88.91%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="29.39 87.31 30.69 89.51 27.99 89.51 29.39 87.31" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="37.55%" cy="86.84%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="37.55 85.24 38.85 87.44 36.15 87.44 37.55 85.24" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="45.71%" cy="89.74%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="45.71 88.14 47.01 90.34 44.31 90.34 45.71 88.14" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="53.88%" cy="86.86%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="53.88 85.26 55.18 87.46 52.48 87.46 53.88 85.26" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="62.04%" cy="88.03%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="62.04 86.43 63.34 88.63 60.64 88.63 62.04 86.43" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="70.20%" cy="81.07%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="70.20 79.47 71.50 81.67 68.80 81.67 70.20 79.47" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="78.37%" cy="77.34%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="78.37 75.74 79.67 77.94 76.97 77.94 78.37 75.74" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="86.53%" cy="55.60%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="86.53 54.00 87.83 56.20 85.13 56.20 86.53 54.00" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.69%" cy="73.26%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.69 71.66 95.99 73.86 93.29 73.86 94.69 71.66" fill="#16B56F" stroke="#fff" stroke-width="0")
            g
              circle(r="4" cx="4.90%" cy="83.53%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="87.18%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="86.20%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="86.52%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="83.59%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="86.24%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="85.22%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="87.07%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="85.99%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="85.06%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="85.96%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="4.90%" cy="69.11%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="4.90 67.51 6.20 69.71 3.50 69.71 4.90 67.51" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="13.06%" cy="74.25%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="13.06 72.65 14.36 74.85 11.66 74.85 13.06 72.65" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="21.22%" cy="71.07%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="21.22 69.47 22.52 71.67 19.82 71.67 21.22 69.47" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="29.39%" cy="78.47%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="29.39 76.87 30.69 79.07 27.99 79.07 29.39 76.87" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="37.55%" cy="78.44%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="37.55 76.84 38.85 79.04 36.15 79.04 37.55 76.84" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="45.71%" cy="86.40%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="45.71 84.80 47.01 87.00 44.31 87.00 45.71 84.80" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="53.88%" cy="73.07%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="53.88 71.47 55.18 73.67 52.48 73.67 53.88 71.47" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="62.04%" cy="85.05%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="62.04 83.45 63.34 85.65 60.64 85.65 62.04 83.45" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="70.20%" cy="82.76%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="70.20 81.16 71.50 83.36 68.80 83.36 70.20 81.16" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="78.37%" cy="68.83%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="78.37 67.23 79.67 69.43 76.97 69.43 78.37 67.23" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="86.53%" cy="85.43%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="86.53 83.83 87.83 86.03 85.13 86.03 86.53 83.83" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.69%" cy="89.40%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.69 87.80 95.99 90.00 93.29 90.00 94.69 87.80" fill="#DF0C1B" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="4.90%" cy="68.86%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="4.90 67.26 6.20 69.46 3.50 69.46 4.90 67.26" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="13.06%" cy="69.13%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="13.06 67.53 14.36 69.73 11.66 69.73 13.06 67.53" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="21.22%" cy="65.30%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="21.22 63.70 22.52 65.90 19.82 65.90 21.22 63.70" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="29.39%" cy="69.87%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="29.39 68.27 30.69 70.47 27.99 70.47 29.39 68.27" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="37.55%" cy="74.79%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="37.55 73.19 38.85 75.39 36.15 75.39 37.55 73.19" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="45.71%" cy="74.83%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="45.71 73.23 47.01 75.43 44.31 75.43 45.71 73.23" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="53.88%" cy="79.67%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="53.88 78.07 55.18 80.27 52.48 80.27 53.88 78.07" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="62.04%" cy="75.83%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="62.04 74.23 63.34 76.43 60.64 76.43 62.04 74.23" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="70.20%" cy="78.12%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="70.20 76.52 71.50 78.72 68.80 78.72 70.20 76.52" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="78.37%" cy="68.70%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="78.37 67.10 79.67 69.30 76.97 69.30 78.37 67.10" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="86.53%" cy="85.43%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="86.53 83.83 87.83 86.03 85.13 86.03 86.53 83.83" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.69%" cy="82.64%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.69 81.04 95.99 83.24 93.29 83.24 94.69 81.04" fill="#ffe18f" stroke="#fff" stroke-width="0")
              
            g
              //circle(r="4" cx="4.90%" cy="70.21%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="4.90 68.61 6.20 70.81 3.50 70.81 4.90 68.61" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="13.06%" cy="65.11%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="13.06 63.51 14.36 65.71 11.66 65.71 13.06 63.51" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="21.22%" cy="66.17%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="21.22 64.57 22.52 66.77 19.82 66.77 21.22 64.57" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="29.39%" cy="61.31%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="29.39 59.71 30.69 61.91 27.99 61.91 29.39 59.71" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="37.55%" cy="69.63%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="37.55 68.03 38.85 70.23 36.15 70.23 37.55 68.03" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="45.71%" cy="67.90%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="45.71 66.30 47.01 68.50 44.31 68.50 45.71 66.30" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="53.88%" cy="59.60%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="53.88 58.00 55.18 60.20 52.48 60.20 53.88 58.00" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="62.04%" cy="57.19%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="62.04 55.59 63.34 57.79 60.64 57.79 62.04 55.59" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="70.20%" cy="49.86%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="70.20 48.26 71.50 50.46 68.80 50.46 70.20 48.26" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="78.37%" cy="68.38%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="78.37 66.78 79.67 68.98 76.97 68.98 78.37 66.78" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="86.53%" cy="57.29%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="86.53 55.69 87.83 57.89 85.13 57.89 86.53 55.69" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.69%" cy="34.76%" fill="#cab0d6" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.69 33.16 95.99 35.36 93.29 35.36 94.69 33.16" fill="#cab0d6" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="4.90%" cy="89.41%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="4.90 87.81 6.20 90.01 3.50 90.01 4.90 87.81" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="13.06%" cy="91.51%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="13.06 89.91 14.36 92.11 11.66 92.11 13.06 89.91" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="21.22%" cy="89.61%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="21.22 88.01 22.52 90.21 19.82 90.21 21.22 88.01" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="29.39%" cy="86.72%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="29.39 85.12 30.69 87.32 27.99 87.32 29.39 85.12" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="37.55%" cy="86.52%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="37.55 84.92 38.85 87.12 36.15 87.12 37.55 84.92" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="45.71%" cy="85.70%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="45.71 84.10 47.01 86.30 44.31 86.30 45.71 84.10" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="53.88%" cy="87.14%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="53.88 85.54 55.18 87.74 52.48 87.74 53.88 85.54" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="62.04%" cy="84.79%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="62.04 83.19 63.34 85.39 60.64 85.39 62.04 83.19" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="70.20%" cy="83.92%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="70.20 82.32 71.50 84.52 68.80 84.52 70.20 82.32" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="78.37%" cy="89.98%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="78.37 88.38 79.67 90.58 76.97 90.58 78.37 88.38" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="86.53%" cy="92.31%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="86.53 90.71 87.83 92.91 85.13 92.91 86.53 90.71" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.69%" cy="88.88%" fill="#68389a" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.69 87.28 95.99 89.48 93.29 89.48 94.69 87.28" fill="#68389a" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="4.90%" cy="79.36%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="4.90 77.76 6.20 79.96 3.50 79.96 4.90 77.76" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="13.06%" cy="71.68%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="13.06 70.08 14.36 72.28 11.66 72.28 13.06 70.08" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="21.22%" cy="59.77%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="21.22 58.17 22.52 60.37 19.82 60.37 21.22 58.17" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="29.39%" cy="79.39%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="29.39 77.79 30.69 79.99 27.99 79.99 29.39 77.79" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="37.55%" cy="72.01%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="37.55 70.41 38.85 72.61 36.15 72.61 37.55 70.41" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="45.71%" cy="70.14%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="45.71 68.54 47.01 70.74 44.31 70.74 45.71 68.54" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="53.88%" cy="74.79%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="53.88 73.19 55.18 75.39 52.48 75.39 53.88 73.19" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="62.04%" cy="61.24%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="62.04 59.64 63.34 61.84 60.64 61.84 62.04 59.64" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="70.20%" cy="69.67%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="70.20 68.07 71.50 70.27 68.80 70.27 70.20 68.07" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="78.37%" cy="69.67%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="78.37 68.07 79.67 70.27 76.97 70.27 78.37 68.07" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="86.53%" cy="76.75%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="86.53 75.15 87.83 77.35 85.13 77.35 86.53 75.15" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.69%" cy="80.77%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.69 79.17 95.99 81.37 93.29 81.37 94.69 79.17" fill="#ffc52b" stroke="#fff" stroke-width="0")
              
            g
              rect(width="6" height="6" x="4.20%" y="61.10%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="12.36%" y="65.65%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="20.52%" y="61.92%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="28.69%" y="60.15%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="36.85%" y="61.98%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="45.01%" y="50.65%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="53.18%" y="56.08%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="61.34%" y="61.65%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="69.50%" y="75.55%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="77.67%" y="77.90%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="85.83%" y="72.21%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="93.99%" y="69.28%" fill="#fff" stroke="#a37c09" stroke-width="2")
            g
              circle(r="6" cx="4.90%" cy="98.67%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="13.06%" cy="98.89%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="21.22%" cy="99.00%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="29.39%" cy="98.77%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="37.55%" cy="98.73%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="45.71%" cy="98.47%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="53.88%" cy="97.82%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="62.04%" cy="97.20%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="70.20%" cy="97.67%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="78.37%" cy="97.18%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="86.53%" cy="97.10%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="94.69%" cy="97.88%" fill="#ff4050" stroke="#fff" stroke-width="0")


          // CHART 2: fig-7b
          .box-sub-right-mobile: .chart-subtitle Percentage contributions over GDP
          svg.box-right(height="100%")

            //-- Y-Axis labels
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0%
              svg(y="85.71%")
                text(text-anchor="end" transform="translate(-8 4)") 5%
              svg(y="71.43%")
                text(text-anchor="end" transform="translate(-8 4)") 10%
              svg(y="57.14%")
                text(text-anchor="end" transform="translate(-8 4)") 15%
              svg(y="42.86%")
                text(text-anchor="end" transform="translate(-8 4)") 20%
              svg(y="28.57%")
                text(text-anchor="end" transform="translate(-8 4)") 25%
              svg(y="14.29%")
                text(text-anchor="end" transform="translate(-8 4)") 30%
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(-8 4)") 35%

            // -- Y-Axis minor lines
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="0%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="14.29%" x2="100%" y2="14.29%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="28.57%" x2="100%" y2="28.57%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="42.86%" x2="100%" y2="42.86%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="57.14%" x2="100%" y2="57.14%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="71.43%" x2="100%" y2="71.43%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="85.71%" x2="100%" y2="85.71%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="100%" y1="0.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")

            // X-Axis labels
            svg(class="x-label" x="4.90%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2010
            svg(class="x-label" x="13.06%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2011
            svg(class="x-label" x="21.22%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2012
            svg(class="x-label" x="29.39%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2013
            svg(class="x-label" x="37.55%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2014
            svg(class="x-label" x="45.71%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2015
            svg(class="x-label" x="53.88%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2016
            svg(class="x-label" x="62.04%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2017
            svg(class="x-label" x="70.20%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2018
            svg(class="x-label" x="78.37%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2019
            svg(class="x-label" x="86.53%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2020
            svg(class="x-label" x="94.69%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2021

            // OPTIONAL GUIDE LINE
            // CHART LINES
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              // SERIES LINES
              polyline(fill="none" stroke="#539ed4" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 94.2949349142857,13.061224489795919 91.88698196,21.22448979591837 92.97751192285713,29.38775510204082 91.20111325428572,37.55102040816326 85.37089786,45.714285714285715 89.64955172857142,53.87755102040816 91.31994553428572,62.04081632653061 91.20122868,70.20408163265306 92.63382364,78.36734693877551 98.75602938857142,86.53061224489795 98.95790998571428,94.6938775510204 98.66684118285714")
              polyline(fill="none" stroke="#008A97" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 82.61339783142857,13.061224489795919 79.63556604285714,21.22448979591837 83.03813426285714,29.38775510204082 81.89040941714286,37.55102040816326 87.23499926,45.714285714285715 87.66103884857142,53.87755102040816 85.33234515714287,62.04081632653061 92.59662186285715,70.20408163265306 91.57208585142857,78.36734693877551 90.11347260857143,86.53061224489795 93.30744739714285,94.6938775510204 87.74737193142856")
              polyline(fill="none" stroke="#16B56F" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 91.67052813142857,13.061224489795919 89.83953185142856,21.22448979591837 87.93054961142857,29.38775510204082 86.19133657142858,37.55102040816326 84.27596918,45.714285714285715 82.46138962285715,53.87755102040816 65.63843948571429,62.04081632653061 58.79659414285714,70.20408163265306 64.5042812857143,78.36734693877551 65.96403454285714,86.53061224489795 51.31390091428572,94.6938775510204 50.76844691428571")
              polyline(fill="none" stroke="#FBBCC0" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 69.75724685714285,13.061224489795919 73.12357262857144,21.22448979591837 73.49086700285714,29.38775510204082 74.71997513142855,37.55102040816326 83.65932288571429,45.714285714285715 81.49621564857144,53.87755102040816 81.44824349428572,62.04081632653061 86.01440857142858,70.20408163265306 86.84825192,78.36734693877551 88.64925357714284,86.53061224489795 87.05593854857143,94.6938775510204 86.5917166342857")
              polyline(fill="none" stroke="#DF0C1B" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 89.21421655142858,13.061224489795919 90.41669246857143,21.22448979591837 89.84659718857144,29.38775510204082 90.97118242571428,37.55102040816326 93.48471495142859,45.714285714285715 89.91682788857143,53.87755102040816 93.69348256571428,62.04081632653061 94.19358891142858,70.20408163265306 91.12298862285714,78.36734693877551 88.81238249142858,86.53061224489795 94.51419989142858,94.6938775510204 94.72609972000001")
              polyline(fill="none" stroke="#ffe18f" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 86.43902185428571,13.061224489795919 85.8302498,21.22448979591837 85.79678445714285,29.38775510204082 87.14515281999999,37.55102040816326 90.6232695,45.714285714285715 91.19851842571428,53.87755102040816 90.93606883142857,62.04081632653061 90.48900836571428,70.20408163265306 86.71947166571428,78.36734693877551 91.81338907428572,86.53061224489795 91.23540402,94.6938775510204 91.40829452857143")
              polyline(fill="none" stroke="#cab0d6" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 88.35954027428572,13.061224489795919 88.16202111428572,21.22448979591837 87.84642584571428,29.38775510204082 89.75314903428571,37.55102040816326 90.40035990571428,45.714285714285715 90.45435280571428,53.87755102040816 91.48073547714286,62.04081632653061 90.18638807142857,70.20408163265306 84.52587082857143,78.36734693877551 89.48059199714285,86.53061224489795 90.29670358,94.6938775510204 84.72953646")
              polyline(fill="none" stroke="#ffc52b" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 80.03401292000001,13.061224489795919 76.56092664857142,21.22448979591837 75.26532405428571,29.38775510204082 64.62475502857143,37.55102040816326 77.42340340857142,45.714285714285715 69.0410224,53.87755102040816 71.75017072,62.04081632653061 70.8808062,70.20408163265306 71.86017385428572,78.36734693877551 71.44816594857143,86.53061224489795 77.00380399714287,94.6938775510204 90.80085909428571")
              polyline(fill="none" stroke="#a37c09" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 20.58004451428571,13.061224489795919 29.623253457142855,21.22448979591837 22.137057685714286,29.38775510204082 29.45841851428571,37.55102040816326 9.339681485714287,45.714285714285715 11.19174002857143,53.87755102040816 17.23249068571429,62.04081632653061 10.976373371428576,70.20408163265306 19.50291317142857,78.36734693877551 8.404314914285708,86.53061224489795 8.259851857142857,94.6938775510204 10.117239085714292")
              polyline(fill="none" stroke="#ff4050" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 99.24598723142856,13.061224489795919 98.54998182000001,21.22448979591837 99.09934126857142,29.38775510204082 98.9926075,37.55102040816326 98.62806193714285,45.714285714285715 99.09095207142856,53.87755102040816 95.97749752285713,62.04081632653061 97.60900211428572,70.20408163265306 98.62417233999999,78.36734693877551 98.32390792285713,86.53061224489795 98.25465084857143,94.6938775510204 98.56303497142856")
            g
              rect(width="8" height="8" x="4.20%" y="93.29%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="12.36%" y="90.89%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="20.52%" y="91.98%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="28.69%" y="90.20%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="36.85%" y="84.37%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="45.01%" y="88.65%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="53.18%" y="90.32%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="61.34%" y="90.20%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="69.50%" y="91.63%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="77.67%" y="97.76%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="85.83%" y="97.96%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="93.99%" y="97.97%" fill="#539ed4" stroke="#fff" stroke-width="0")
            g
              rect(width="6" height="6" x="4.20%" y="81.91%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="12.36%" y="78.94%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="20.52%" y="82.34%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="28.69%" y="81.19%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="36.85%" y="86.53%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="45.01%" y="86.96%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="53.18%" y="84.63%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="61.34%" y="91.9%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="69.50%" y="90.87%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="77.67%" y="89.41%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="85.83%" y="92.61%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="93.99%" y="87.05%" fill="#fff" stroke="#008A97" stroke-width="2")
            g
              //circle(r="4" cx=" 4.90%" cy="91.67%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="4.90 90.07 6.20 92.27 3.50 92.27 4.90 90.07" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="13.06%" cy="89.84%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="13.06 88.24 14.36 90.44 11.66 90.44 13.06 88.24" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="21.22%" cy="87.93%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="21.22 86.33 22.52 88.53 19.82 88.53 21.22 86.33" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="29.39%" cy="86.19%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="29.39 84.59 30.69 86.79 27.99 86.79 29.39 84.59" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="37.55%" cy="84.28%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="37.55 82.68 38.85 84.88 36.15 84.88 37.55 82.68" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="45.71%" cy="82.46%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="45.71 80.86 47.01 83.06 44.31 83.06 45.71 80.86" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="53.88%" cy="65.64%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="53.88 64.04 55.18 66.24 52.48 66.24 53.88 64.04" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="62.04%" cy="58.80%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="62.04 57.20 63.34 59.40 60.64 59.40 62.04 57.20" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="70.20%" cy="64.50%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="70.20 62.90 71.50 65.10 68.80 65.10 70.20 62.90" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="78.37%" cy="65.96%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="78.37 64.36 79.67 66.56 76.97 66.56 78.37 64.36" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="86.53%" cy="51.31%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="86.53 49.71 87.83 51.91 85.13 51.91 86.53 49.71" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.69%" cy="50.77%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.69 49.17 95.99 51.37 93.29 51.37 94.69 49.17" fill="#16B56F" stroke="#fff" stroke-width="0")
            g
              circle(r="4" cx="4.90%" cy="69.76%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="73.12%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="73.49%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="74.72%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="83.66%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="81.50%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="81.45%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="86.01%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="86.85%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="88.65%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="87.06%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="4.90%" cy="89.21%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="4.90 87.61 6.20 89.81 3.50 89.81 4.90 87.61" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="13.06%" cy="90.42%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="13.06 88.82 14.36 91.02 11.66 91.02 13.06 88.82" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="21.22%" cy="89.85%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="21.22 88.25 22.52 90.45 19.82 90.45 21.22 88.25" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="29.39%" cy="90.97%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="29.39 89.37 30.69 91.57 27.99 91.57 29.39 89.37" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="37.55%" cy="93.48%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="37.55 91.88 38.85 94.08 36.15 94.08 37.55 91.88" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="45.71%" cy="89.92%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="45.71 88.32 47.01 90.52 44.31 90.52 45.71 88.32" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="53.88%" cy="93.69%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="53.88 92.09 55.18 94.29 52.48 94.29 53.88 92.09" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="62.04%" cy="94.19%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="62.04 92.59 63.34 94.79 60.64 94.79 62.04 92.59" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="70.20%" cy="91.12%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="70.20 89.52 71.50 91.72 68.80 91.72 70.20 89.52" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="78.37%" cy="88.81%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="78.37 87.21 79.67 89.41 76.97 89.41 78.37 87.21" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="86.53%" cy="94.51%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="86.53 92.91 87.83 95.11 85.13 95.11 86.53 92.91" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.69%" cy="94.73%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.69 93.13 95.99 95.33 93.29 95.33 94.69 93.13" fill="#DF0C1B" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="4.90%" cy=" 86.44%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="4.90 84.84 6.20 87.04 3.50 87.04 4.90 84.84" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="13.06%" cy="85.83%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="13.06 84.23 14.36 86.43 11.66 86.43 13.06 84.23" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="21.22%" cy="85.80%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="21.22 84.20 22.52 86.40 19.82 86.40 21.22 84.20" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="29.39%" cy="87.15%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="29.39 85.55 30.69 87.75 27.99 87.75 29.39 85.55" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="37.55%" cy="90.62%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="37.55 89.02 38.85 91.22 36.15 91.22 37.55 89.02" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="45.71%" cy="91.20%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="45.71 89.60 47.01 91.80 44.31 91.80 45.71 89.60" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="53.88%" cy="90.94%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="53.88 89.34 55.18 91.54 52.48 91.54 53.88 89.34" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="62.04%" cy="90.49%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="62.04 88.89 63.34 91.09 60.64 91.09 62.04 88.89" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="70.20%" cy="86.72%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="70.20 85.12 71.50 87.32 68.80 87.32 70.20 85.12" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="78.37%" cy="91.81%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="78.37 90.21 79.67 92.41 76.97 92.41 78.37 90.21" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="86.53%" cy="91.24%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="86.53 89.64 87.83 91.84 85.13 91.84 86.53 89.64" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.69%" cy="91.41%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.69 89.81 95.99 92.01 93.29 92.01 94.69 89.81" fill="#ffe18f" stroke="#fff" stroke-width="0")

            g
              //circle(r="4" cx="4.90%" cy="88.36%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="4.90 86.76 6.20 88.96 3.50 88.96 4.90 86.76" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="13.06%" cy="88.16%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="13.06 86.56 14.36 88.76 11.66 88.76 13.06 86.56" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="21.22%" cy="87.85%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="21.22 86.25 22.52 88.45 19.82 88.45 21.22 86.25" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="29.39%" cy="89.75%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="29.39 88.15 30.69 90.35 27.99 90.35 29.39 88.15" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="37.55%" cy="90.40%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="37.55 88.80 38.85 91.00 36.15 91.00 37.55 88.80" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="45.71%" cy="90.45%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="45.71 88.85 47.01 91.05 44.31 91.05 45.71 88.85" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="53.88%" cy="91.48%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="53.88 89.88 55.18 92.08 52.48 92.08 53.88 89.88" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="62.04%" cy="90.19%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="62.04 88.59 63.34 90.79 60.64 90.79 62.04 88.59" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="70.20%" cy="84.53%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="70.20 82.93 71.50 85.13 68.80 85.13 70.20 82.93" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="78.37%" cy="89.48%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="78.37 87.88 79.67 90.08 76.97 90.08 78.37 87.88" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="86.53%" cy="90.30%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="86.53 88.70 87.83 90.90 85.13 90.90 86.53 88.70" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.69%" cy="94.69%" fill="#cab0d6" stroke="#fff" stroke-width="0"></circle>
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.69 83.13 95.99 85.33 93.29 85.33 94.69 83.13" fill="#cab0d6" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="4.90%" cy="80.03%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="4.90 78.43 6.20 80.63 3.50 80.63 4.90 78.43" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="13.06%" cy="76.56%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="13.06 74.96 14.36 77.16 11.66 77.16 13.06 74.96" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="21.22%" cy="75.27%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="21.22 73.67 22.52 75.87 19.82 75.87 21.22 73.67" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="29.39%" cy="64.62%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="29.39 63.02 30.69 65.22 27.99 65.22 29.39 63.02" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="37.55%" cy="77.42%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="37.55 75.82 38.85 78.02 36.15 78.02 37.55 75.82" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="45.71%" cy="69.04%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="45.71 67.44 47.01 69.64 44.31 69.64 45.71 67.44" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="53.88%" cy="71.75%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="53.88 70.15 55.18 72.35 52.48 72.35 53.88 70.15" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="62.04%" cy="70.88%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="62.04 69.28 63.34 71.48 60.64 71.48 62.04 69.28" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="70.20%" cy="71.86%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="70.20 70.26 71.50 72.46 68.80 72.46 70.20 70.26" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="78.37%" cy="71.45%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="78.37 69.85 79.67 72.05 76.97 72.05 78.37 69.85" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="86.53%" cy="77.00%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="86.53 75.40 87.83 77.60 85.13 77.60 86.53 75.40" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.69%" cy="90.80%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.69 89.20 95.99 91.40 93.29 91.40 94.69 89.20" fill="#ffc52b" stroke="#fff" stroke-width="0")
            g
              rect(width="6" height="6" x="4.20%" y="19.88%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="12.36%" y="28.92%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="20.52%" y="21.44%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="28.69%" y="28.76%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="36.85%" y="8.64%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="45.01%" y="10.49%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="53.18%" y="16.53%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="61.34%" y="10.28%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="69.50%" y="18.80%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="77.67%" y="7.70%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="85.83%" y="7.56%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="93.99%" y="9.42%" fill="#fff" stroke="#a37c09" stroke-width="2")
            g
              circle(r="6" cx="4.90%" cy="99.25%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="13.06%" cy="98.55%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="21.22%" cy="99.10%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="29.39%" cy="98.99%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="37.55%" cy="98.63%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="45.71%" cy="99.09%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="53.88%" cy="95.98%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="62.04%" cy="97.61%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="70.20%" cy="98.62%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="78.37%" cy="98.32%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="86.53%" cy="98.25%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="94.69%" cy="98.56%" fill="#ff4050" stroke="#fff" stroke-width="0")
      .row
        ul.legend.list-bare.txt-left.flex.flex-ch.flex-wrap
          for ax, i in new Array(chart.series.length)
            if i
              li.legend-item
                span.legend-item-box(style=`background: ${chart.colors[chart.series[i].color]}`)
                span.legend-item-label= chart.series[i].title

        ul.legend-below.list-bare.txt-left.flex.flex-ch.flex-wrap
          li.legend-item
            span.legend-item-box(style=`background:#000`)
            span.legend-item-label East Asia and Pacific
          li.legend-item
            span.legend-item-box(style=`background:transparent`)
              svg(width="12" height="10" x="4" y="1")
                polygon(points="6 1 12 10 0 10 6 1" fill="#000" stroke="#fff" stroke-width="0")
            span.legend-item-label Europe and Central Asia
          li.legend-item
            span.legend-item-box(style=`background:transparent`)
              svg
                rect(width="10" height="10" x="1" y="0" fill="#000" stroke="#fff" stroke-width="2")
            span.legend-item-label Latin America and Caribbean
          //li.legend-item
            span.legend-item-box(style=`background:transparent`)
              svg(width="10" height="10" x="4" y="1")
                g
                  path(stroke="#000" stroke-width="2.5" d="M0 5 l10 0")
                  path(stroke="#000" stroke-width="2.5" d="M5 0 l0 10")
            span.legend-item-label Middle East and North Africa
          li.legend-item
            span.legend-item-box(style="background:transparent")
              svg
                rect(width="7" height="7" x="2" y="1" fill="#fff" stroke="#000" stroke-width="2")
            span.legend-item-label North America

      .chart-source.txt-right.txt-muted.txt-cond!= chart.source
      .chart-notes.txt-right.txt-muted.txt-cond!= chart.notes
  
block append css
  style
    :sass
    
      .wrapper
        height: 660px
        max-width: 1062px

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: 10px
        left: 60px
        right: 20px
        bottom: 40px

      .chart-title
        margin: auto
        font-size: 18px
        
      .chart-subtitle
        font-weight: normal
        margin-top: 0
        font-size: 14px
        padding: 1rem
        
      .tooltip
        position: absolute
        left: 0
        background: #fffe
        padding: .75em
        opacity: 1
        border-radius: .2em
        box-shadow: 0 0 5px 0 #0004
        transition-duration: 0.5s
        pointer-events: none
        font-size: 14px
        text-transform: lowercase
        max-width: 180px
        box-sizing: border-box

      li
        list-style: none
        margin: 0
        padding: 4px 8px 4px 16px
        line-height: 1.2em

      .legend,.legend-below
        font-size: 12px
        margin-top: 3em
        margin-bottom: .5em
      .legend-below
        margin-top: .5em
        margin-bottom: 1em !important

      .legend-item
        margin: 0 4px
        padding-right: 0
        position: relative
        white-space: nowrap

      .legend-item-box
        position: absolute
        left: 0
        top: .5em
        height: .8em
        width: .8em
        background: black
        border-radius: 50%

      polyline
        vector-effect: non-scaling-stroke

      text
        font-size: 11px
        fill: currentColor

      svg
        overflow: visible
        
      .chart-notes, .chart-source
        margin-right: 2em
        font-size: 11px
        
      .chart-value
        opacity: 0
        transition-duration: .4s
        pointer-events: none
      
      .chart-content:hover .chart-value
        opacity: 1

      .txt-muted
        color: #767676

      .box-left,.box-right
        background-color: #eff1f280
      .box-left,.box-sub-left
        float: left
        width: 46%
        margin: 0
      .box-right,.box-sub-right,.box-subright-mobile
        float: right
        width: 46%
        margin: 0
      .chart-container
        height: 90%
      .box-sub-right-mobile
        display: none

      g.target circle
        background-image: url(star-sm.png)
        background-size: contain
        fill:  url(star-sm.png)
      g.target2 circle
        fill: url(#point-star)

      @media (max-width: 700px)
        
        .x-label text
          text-anchor: end
          transform: rotate(-45deg) translate(-8px, 24px)
        text
          font-size: 11px
        .box-left
          width: 44%
        .box-right
          width: 44%
        .legend
        font-size: 11px
          
      @media (max-width: 450px)
        .legend
          /* flex-direction: column */
        .chart-title
          font-size: 16px
        .chart-subtitle
          font-size: 12px
        .chart-notes,
        .chart-source
          text-align: center
        .x-label 
          display: none  
        .x-label:nth-child(2n+3)
          display: block

        .chart-container
          height: auto
        .box-left,.box-sub-left,.box-right,.box-sub-right-mobile
          width: 100%
          float: none
        .box-sub-right-mobile
          margin-top: 2em !important
        .box-sub-right .chart-subtitle
          display: none
        .box-sub-right-mobile
          display: block
        .x-label text
          text-anchor: middle
          transform: translate(-8px, 18px)
        .chart-subtitle
          padding: 0.5rem
        li 
          padding: 4px 12px 2px 16px
        .legend-item-box
          height: 0.8em
          width: 0.8em
