extend /partials/layout

block append config
  - var datapath = "static/charts/china-influence-un/fig-3/data"
  - var colorpath = "static/charts/templates/colors/data"
  - _.extend(page, data.getOne(datapath))
  - _.extend(page, data.getOne(colorpath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"
  - isEmpty = (y) => (y === undefined || y == null || y.length <= 0)
  - chart = page
  
block page
  .wrapper.flex
    .txt-center.flex.flex-grow.flex-col
      .chart-title= chart.title
      //.chart-subtitle.txt-muted.txt-tu.p-sm!= chart.subtitle
      .chart.flex-grow: .chart-content
        - ln = chart.series[0].values.length
        - axes = chart.axes
        - minY = axes.minY
        - maxY = axes.maxY
        - range = maxY - minY
        - fx = (i) => (i + 0.6) / (ln + 0.25)
        - fy = (y) => (y - minY) / range
        
        .subtitles
          .box-sub-left: .chart-subtitle Voluntary core (un-earmarked) contributions
          .box-sub-right: .chart-subtitle Voluntary non-core (earmarked) contributions

        .chart-container(height="100%" width="100%")
          // CHART 1: fig-7a
          svg.box-left(height="100%")

            //-- Y-Axis labels
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0%
              svg(y="85.71%")
                text(text-anchor="end" transform="translate(-8 4)") 5%
              svg(y="71.43%")
                text(text-anchor="end" transform="translate(-8 4)") 10%
              svg(y="57.14%")
                text(text-anchor="end" transform="translate(-8 4)") 15%
              svg(y="42.86%")
                text(text-anchor="end" transform="translate(-8 4)") 20%
              svg(y="28.57%")
                text(text-anchor="end" transform="translate(-8 4)") 25%
              svg(y="14.29%")
                text(text-anchor="end" transform="translate(-8 4)") 30%
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(-8 4)") 35%

            // -- Y-Axis minor lines
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="0%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="14.29%" x2="100%" y2="14.29%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="28.57%" x2="100%" y2="28.57%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="42.86%" x2="100%" y2="42.86%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="57.14%" x2="100%" y2="57.14%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="71.43%" x2="100%" y2="71.43%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="85.71%" x2="100%" y2="85.71%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="100%" y1="0.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")

            // X-Axis labels
            svg(class="x-label" x="5.33%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2010
            svg(class="x-label" x="14.22%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2011
            svg(class="x-label" x="23.11%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2012
            svg(class="x-label" x="32.00%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2013
            svg(class="x-label" x="40.89%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2014
            svg(class="x-label" x="49.78%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2015
            svg(class="x-label" x="58.67%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2016
            svg(class="x-label" x="67.56%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2017
            svg(class="x-label" x="76.44%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2018
            svg(class="x-label" x="85.33%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2019
            svg(class="x-label" x="94.22%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2020

            // OPTIONAL GUIDE LINE
            // CHART LINES
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              // SERIES LINES
              polyline(fill="none" stroke="#008A97" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 86.15792714,14.222222222222221 82.3404520342857,23.111111111111114 96.48529972857143,32 87.0271762342857,40.888888888888886 93.28970454571429,49.77777777777778 88.14929011428572,58.666666666666664 84.10689817714285,67.55555555555556 88.78434146,76.44444444444444 89.4464460657143,85.33333333333333 91.60923685142858,94.22222222222221 90.52835645714285")
              polyline(fill="none" stroke="#a5dd75" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 84.22861752,14.222222222222221 85.31762511142857,23.111111111111114 84.04817523142857,32 78.52665903142858,40.888888888888886 85.6077356,49.77777777777778 81.58033126285714,58.666666666666664 81.83079430857141,67.55555555555556 89.01263938857143,76.44444444444444 89.40460028857143,85.33333333333333 85.75450459714286,94.22222222222221 87.84122534")
              polyline(fill="none" stroke="#16B56F" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 89.08597984000001,14.222222222222221 89.62419282857142,23.111111111111114 92.56958041428571,32 88.91455651142857,40.888888888888886 86.8426422,49.77777777777778 89.73776898571428,58.666666666666664 86.86209874285714,67.55555555555556 88.02749552285714,76.44444444444444 81.07136941142858,85.33333333333333 77.33541764857142,94.22222222222221 55.601741800000006")
              polyline(fill="none" stroke="#FBBCC0" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 83.52870398571429,14.222222222222221 87.18381285428572,23.111111111111114 86.20168602285713,32 86.51542527428572,40.888888888888886 83.58732286857142,49.77777777777778 86.24328839142858,58.666666666666664 85.22022204857144,67.55555555555556 87.07037707428572,76.44444444444444 85.99306076857143,85.33333333333333 85.06178989428571,94.22222222222221 85.95516698")
              polyline(fill="none" stroke="#DF0C1B" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 69.10998434285715,14.222222222222221 74.25309633142857,23.111111111111114 71.07224665714286,32 78.46625798571428,40.888888888888886 78.44263595142856,49.77777777777778 86.39932631428572,58.666666666666664 73.06858405142857,67.55555555555556 85.05127376,76.44444444444444 82.7600628,85.33333333333333 68.8262494,94.22222222222221 85.43463432285714")
              polyline(fill="none" stroke="#ffe18f" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 68.85807848571429,14.222222222222221 69.1318126857143,23.111111111111114 65.30322828571428,32 69.87377782857142,40.888888888888886 74.79392233428571,49.77777777777778 74.82863983428571,58.666666666666664 79.66598925714285,67.55555555555556 75.82537686857142,76.44444444444444 78.12056327714286,85.33333333333333 68.701934,94.22222222222221 85.42705311142858")
              polyline(fill="none" stroke="#cab0d6" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 70.2096822,14.222222222222221 65.11185005714286,23.111111111111114 66.17132565714286,32 61.3057812,40.888888888888886 69.62549188571428,49.77777777777778 67.90145705714285,58.666666666666664 59.6031108,67.55555555555556 57.193238,76.44444444444444 49.85987497142857,85.33333333333333 68.37753285714285,94.22222222222221 57.29052617142857")
              polyline(fill="none" stroke="#68389a" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 89.4080207657143,14.222222222222221 91.51183685999999,23.111111111111114 89.61393656000001,32 86.72032861714285,40.888888888888886 86.51646567142856,49.77777777777778 85.69708653428572,58.666666666666664 87.13886780857143,67.55555555555556 84.78858231428572,76.44444444444444 83.92403268285716,85.33333333333333 89.98194802285714,94.22222222222221 92.30794991142858")
              polyline(fill="none" stroke="#ffc52b" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 79.35834806857143,14.222222222222221 71.67695771142857,23.111111111111114 59.76607611428572,32 79.39229758285714,40.888888888888886 72.0088774742857,49.77777777777778 70.13679102857144,58.666666666666664 74.7868992857143,67.55555555555556 61.2353563142857,76.44444444444444 69.66946580000001,85.33333333333333 76.74975708000001,94.22222222222221 70.37158117142857")
              polyline(fill="none" stroke="#a37c09" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 61.798895685714285,14.222222222222221 66.35303014285715,23.111111111111114 62.615233342857145,32 60.854539114285714,40.888888888888886 62.683200085714276,49.77777777777778 51.34616571428571,58.666666666666664 56.78089528571428,67.55555555555556 62.34551840000001,76.44444444444444 76.24699923142857,85.33333333333333 78.59670479714286,94.22222222222221 72.90545932")
              polyline(fill="none" stroke="#ff4050" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 98.66982159142856,14.222222222222221 98.89247934285714,23.111111111111114 98.99947937714285,32 98.77135701714288,40.888888888888886 98.72906568285714,49.77777777777778 98.47029238,58.666666666666664 97.81843156571428,67.55555555555556 97.19912126857143,76.44444444444444 97.67487266857144,85.33333333333333 97.17569312857142,94.22222222222221 97.09757995714287")

            g
              rect(width="6" height="6" x="4.83%" y="85.66%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="13.72%" y="81.84%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="22.61%" y="95.99%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="31.50%" y="86.53%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="40.39%" y="92.79%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="49.28%" y="87.65%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="58.17%" y="83.61%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="67.06%" y="88.28%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="75.94%" y="88.95%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="84.83%" y="91.11%" fill="#fff" stroke="#008A97" stroke-width="2")
              rect(width="6" height="6" x="93.72%" y="90.03%" fill="#fff" stroke="#008A97" stroke-width="2")
            g
              //circle(r="4" cx="5.33%" cy="84.23%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="5.33 82.63 6.63 84.83 3.93 84.83 5.33 82.63" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="14.22%" cy="85.32%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="14.22 83.72 15.52 85.92 12.82 85.92 14.22 83.72" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="23.11%" cy="84.05%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="23.11 82.45 24.41 84.65 21.71 84.65 23.11 82.45" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="32.00%" cy="78.53%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="32 76.93 33.3 79.13 30.6 79.13 32 76.93" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="40.89%" cy="85.61%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="40.89 84.01 42.19 86.21 39.49 86.21 40.89 84.01" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="49.78%" cy="81.58%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="49.78 79.98 51.08 82.18 48.38 82.18 49.78 79.98" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="58.67%" cy="81.83%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="58.67 80.23 59.97 82.43 57.27 82.43 58.67 80.23" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="67.56%" cy="89.01%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="67.56 87.41 68.86 89.61 66.16 89.61 67.56 87.41" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="76.44%" cy="89.40%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="76.44 87.8 77.74 90 75.04 90 76.44 87.8" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="85.33%" cy="85.75%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="85.33 84.15 86.63 86.35 83.93 86.35 85.33 84.15" fill="#a5dd75" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.22%" cy="87.84%" fill="#a5dd75" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.22 86.24 95.52 88.44 92.82 88.44 94.22 86.24" fill="#a5dd75" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="5.33%" cy="89.09%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="5.33 87.49 6.63 89.69 3.93 89.69 5.33 87.49" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="14.22%" cy="89.62%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="14.22 88.02 15.52 90.22 12.82 90.22 14.22 88" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="23.11%" cy="92.57%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="23.11 90.97 24.41 93.17 21.71 93.17 23.11 90.97" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="32.00%" cy="88.91%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="32 87.31 33.3 89.51 30.6 89.51 32 87.31" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="40.89%" cy="86.84%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="40.89 85.24 42.19 87.44 39.49 87.44 40.89 85.24" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="49.78%" cy="89.74%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="49.78 88.14 51.08 90.34 48.38 90.34 49.78 88.14" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="58.67%" cy="86.86%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="58.67 85.26 59.97 87.46 57.27 87.46 58.67 85.26" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="67.56%" cy="88.03%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="67.56 86.43 68.86 88.63 66.16 88.63 67.56 86.43" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="76.44%" cy="81.07%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="76.44 79.47 77.74 81.67 75.04 81.67 76.44 79.47" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="85.33%" cy="77.34%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="85.33 75.74 86.63 77.94 83.93 77.94 85.33 75.74" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.22%" cy="55.60%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.22 54 95.52 56.2 92.82 56.2 94.22 54" fill="#16B56F" stroke="#fff" stroke-width="0")
            g
              circle(r="4" cx="5.33%" cy="83.53%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="87.18%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="86.20%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="86.52%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="83.59%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="86.24%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="85.22%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="87.07%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="85.99%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="85.06%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="85.96%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="5.33%" cy="69.11%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="5.33 67.51 6.63 69.71 3.93 69.71 5.33 67.51" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="14.22%" cy="74.25%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="14.22 72.65 15.52 74.85 12.82 74.85 14.22 72.65" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="23.11%" cy="71.07%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="23.11 69.47 24.41 71.67 21.71 71.67 23.11 69.47" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="32.00%" cy="78.47%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="32 76.87 33.3 79.07 30.6 79.07 32 76.87" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="40.89%" cy="78.44%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="40.89 76.84 42.19 79.04 39.49 79.04 40.89 76.84" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="49.78%" cy="86.40%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="49.78 84.8 51.08 87 48.38 87 49.78 84.8" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="58.67%" cy="73.07%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="58.67 71.47 59.97 73.67 57.27 73.67 58.67 71.47" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="67.56%" cy="85.05%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="67.56 83.45 68.86 85.65 66.16 85.65 67.56 83.45" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="76.44%" cy="82.76%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="76.44 81.16 77.74 83.36 75.04 83.36 76.44 81.16" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="85.33%" cy="68.83%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="85.33 67.23 86.63 69.43 83.93 69.43 85.33 67.23" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.22%" cy="85.43%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.22 83.83 95.52 86.03 92.82 86.03 94.22 83.83" fill="#DF0C1B" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="5.33%" cy="68.86%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="5.33 67.26 6.63 69.46 3.93 69.46 5.33 67.26" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="14.22%" cy="69.13%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="14.22 67.53 15.52 69.73 12.82 69.73 14.22 67.53" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="23.11%" cy="65.30%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="23.11 63.70 24.41 65.90 21.71 65.90 23.11 63.70" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="32.00%" cy="69.87%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="32 68.27 33.3 70.47 30.6 70.47 32 68.27" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="40.89%" cy="74.79%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="40.89 73.19 42.19 75.39 39.49 75.39 40.89 73.19" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="49.78%" cy="74.83%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="49.78 73.23 51.08 75.43 48.38 75.43 49.78 73.23" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="58.67%" cy="79.67%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="58.67 78.07 59.97 80.27 57.27 80.27 58.67 78.07" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="67.56%" cy="75.83%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="67.56 74.23 68.86 76.43 66.16 76.43 67.56 74.23" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="76.44%" cy="78.12%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="76.44 76.52 77.74 78.72 75.04 78.72 76.44 76.52" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="85.33%" cy="68.70%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="85.33 67.1 86.63 69.3 83.93 69.3 85.33 67.1" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.22%" cy="85.43%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.22 83.83 95.52 86.03 92.82 86.03 94.22 83.83" fill="#ffe18f" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="5.33%" cy="70.21%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="5.33 68.61 6.63 70.81 3.93 70.81 5.33 68.61" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="14.22%" cy="65.11%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="14.22 63.51 15.52 65.71 12.82 65.71 14.22 63.51" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="23.11%" cy="66.17%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="23.11 64.57 24.41 66.77 21.71 66.77 23.11 64.57" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="32.00%" cy="61.31%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="32 59.71 33.30 61.91 30.60 61.91 32.00 59.71" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="40.89%" cy="69.63%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="40.89 68.03 42.19 70.23 39.49 70.23 40.89 68.03" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="49.78%" cy="67.90%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="49.78 66.30 51.08 68.50 48.38 68.50 49.78 66.30" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="58.67%" cy="59.60%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="58.67 58 59.97 60.2 57.27 60.2 58.67 58" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="67.56%" cy="57.19%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="67.56 55.59 68.86 57.79 66.16 57.79 67.56 55.59" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="76.44%" cy="49.86%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="76.44 48.26 77.74 50.46 75.04 50.46 76.44 48.26" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="85.33%" cy="68.38%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="85.33 66.78 86.63 68.98 83.93 68.98 85.33 66.78" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.22%" cy="57.29%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.22 55.69 95.52 57.89 92.82 57.89 94.22 55.69" fill="#cab0d6" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="5.33%" cy="89.41%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="5.33 87.8 6.63 90 3.93 90 5.33 87.8" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="14.22%" cy="91.51%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="14.22 89.91 15.52 92.11 12.82 92.11 14.22 89.9" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="23.11%" cy="89.61%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="23.11 88 24.41 90.21 21.71 90.21 23.11 88" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="32.00%" cy="86.72%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="32 85.12 33.3 87.32 30.6 87.32 32 85.12" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="40.89%" cy="86.52%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="40.89 84.92 42.19 87.12 39.49 87.12 40.89 84.92" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="49.78%" cy="85.70%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="49.78 84.1 51.08 86.3 48.38 86.3 49.78 84.1" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="58.67%" cy="87.14%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="58.67 85.54 59.97 87.74 57.27 87.74 58.67 85.54" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="67.56%" cy="84.79%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="67.56 83.19 68.86 85.39 66.16 85.39 67.56 83.19" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="76.44%" cy="83.92%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="76.44 82.32 77.74 84.52 75.04 84.52 76.44 82.32" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="85.33%" cy="89.98%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="85.33 88.38 86.63 90.58 83.93 90.58 85.33 88.38" fill="#68389a" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.22%" cy="92.31%" fill="#008A97" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.22 90.71 95.52 92.91 92.82 92.91 94.22 90.71" fill="#68389a" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="5.33%" cy="79.36%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="5.33 77.76 6.63 79.96 3.93 79.96 5.33 77.76" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="14.22%" cy="71.68%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="14.22 70.08 15.52 72.28 12.82 72.28 14.22 70.08" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="23.11%" cy="59.77%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="23.11 58.17 24.41 60.37 21.71 60.37 23.11 58.17" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="32.00%" cy="79.39%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="32 77.79 33.3 79.99 30.6 79.99 32 77.79" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="40.89%" cy="72.01%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="40.89 70.41 42.19 72.61 39.49 72.61 40.89 70.41" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="49.78%" cy="70.14%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="49.78 68.54 51.08 70.74 48.38 70.74 49.78 68.54" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="58.67%" cy="74.79%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="58.67 73.19 59.97 75.39 57.27 75.39 58.67 73.19" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="67.56%" cy="61.24%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="67.56 59.64 68.86 61.84 66.16 61.84 67.56 59.64" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="76.44%" cy="69.67%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="76.44 68.07 77.74 70.27 75.04 70.27 76.44 68.07" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="85.33%" cy="76.75%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="85.33 75.15 86.63 77.35 83.93 77.35 85.33 75.15" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.22%" cy="70.37%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.22 68.77 95.52 70.97 92.82 70.97 94.22 68.77" fill="#ffc52b" stroke="#fff" stroke-width="0")
            g
              rect(width="6" height="6" x="4.83%" y="60.80%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="13.72%" y="65.85%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="22.61%" y="62.12%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="31.50%" y="60.35%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="40.39%" y="62.18%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="49.28%" y="50.85%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="58.17%" y="56.28%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="67.06%" y="61.85%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="75.94%" y="75.75%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="84.83%" y="78.10%" fill="#fff" stroke="#a37c09" stroke-width="2")
              rect(width="6" height="6" x="93.72%" y="72.41%" fill="#fff" stroke="#a37c09" stroke-width="2")
            g
              circle(r="6" cx="5.33%" cy="98.67%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="14.22%" cy="98.89%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="23.11%" cy="99.00%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="32.00%" cy="98.77%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="40.89%" cy="98.73%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="49.78%" cy="98.47%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="58.67%" cy="97.82%" fill="#ff4050" stroke="#fff" stroke-width="0")                
              circle(r="6" cx="67.56%" cy="97.20%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="76.44%" cy="97.67%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="85.33%" cy="97.18%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="94.22%" cy="97.10%" fill="#ff4050" stroke="#fff" stroke-width="0")              


          // CHART 2: fig-7b
          .box-sub-right-mobile: .chart-subtitle Percentage contributions over GDP
          svg.box-right(height="100%")

            //-- Y-Axis labels
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0%
              svg(y="85.71%")
                text(text-anchor="end" transform="translate(-8 4)") 5%
              svg(y="71.43%")
                text(text-anchor="end" transform="translate(-8 4)") 10%
              svg(y="57.14%")
                text(text-anchor="end" transform="translate(-8 4)") 15%
              svg(y="42.86%")
                text(text-anchor="end" transform="translate(-8 4)") 20%
              svg(y="28.57%")
                text(text-anchor="end" transform="translate(-8 4)") 25%
              svg(y="14.29%")
                text(text-anchor="end" transform="translate(-8 4)") 30%
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(-8 4)") 35%

            // -- Y-Axis minor lines
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="0%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="14.29%" x2="100%" y2="14.29%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="28.57%" x2="100%" y2="28.57%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="42.86%" x2="100%" y2="42.86%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="57.14%" x2="100%" y2="57.14%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="71.43%" x2="100%" y2="71.43%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="85.71%" x2="100%" y2="85.71%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="100%" y1="0.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")

            // X-Axis labels
            svg(class="x-label" x="5.33%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2010
            svg(class="x-label" x="14.22%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2011
            svg(class="x-label" x="23.11%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2012
            svg(class="x-label" x="32.00%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2013
            svg(class="x-label" x="40.89%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2014
            svg(class="x-label" x="49.78%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2015
            svg(class="x-label" x="58.67%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2016
            svg(class="x-label" x="67.56%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2017
            svg(class="x-label" x="76.44%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2018
            svg(class="x-label" x="85.33%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2019
            svg(class="x-label" x="94.22%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2020

            // OPTIONAL GUIDE LINE
            // CHART LINES
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              // SERIES LINES
              polyline(fill="none" stroke="#539ed4" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 94.2949349142857,14.222222222222221 91.88698196,23.111111111111114 92.97751192285713,32 91.20111325428572,40.888888888888886 85.37089786,49.77777777777778 89.64955172857142,58.666666666666664 91.31994553428572,67.55555555555556 91.20122868,76.44444444444444 92.63382364,85.33333333333333 98.75602666857142,94.22222222222221 98.95790998571428")
              polyline(fill="none" stroke="#16B56F" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 82.61339783142857,14.222222222222221 79.63556604285714,23.111111111111114 83.03813426285714,32 81.89040941714286,40.888888888888886 87.23499926,49.77777777777778 87.66103884857142,58.666666666666664 85.33234515714287,67.55555555555556 92.59662186285715,76.44444444444444 91.57208585142857,85.33333333333333 90.11345098285713,94.22222222222221 93.30744739714285")
              polyline(fill="none" stroke="#16B56F" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 91.67052813142857,14.222222222222221 89.83953185142856,23.111111111111114 87.93054961142857,32 86.19133657142858,40.888888888888886 84.27596918,49.77777777777778 82.46138962285715,58.666666666666664 65.63843948571429,67.55555555555556 58.79659414285714,76.44444444444444 64.5042812857143,85.33333333333333 65.96458508571429,94.22222222222221 51.31390091428572")
              polyline(fill="none" stroke="#FBBCC0" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 69.75724685714285,14.222222222222221 73.12357262857144,23.111111111111114 73.49086700285714,32 74.71997513142855,40.888888888888886 83.65932288571429,49.77777777777778 81.49621564857144,58.666666666666664 81.44824349428572,67.55555555555556 86.01440857142858,76.44444444444444 86.84825192,85.33333333333333 88.64922874857143,94.22222222222221 87.05593854857143")
              polyline(fill="none" stroke="#DF0C1B" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 89.21421655142858,14.222222222222221 90.41669246857143,23.111111111111114 89.84659718857144,32 90.97118242571428,40.888888888888886 93.48471495142859,49.77777777777778 89.91682788857143,58.666666666666664 93.69348256571428,67.55555555555556 94.19358891142858,76.44444444444444 91.12298862285714,85.33333333333333 88.81235802,94.22222222222221 94.51419989142858")
              polyline(fill="none" stroke="#ffe18f" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 86.43902185428571,14.222222222222221 85.8302498,23.111111111111114 85.79678445714285,32 87.14515281999999,40.888888888888886 90.6232695,49.77777777777778 91.19851842571428,58.666666666666664 90.93606883142857,67.55555555555556 90.48900836571428,76.44444444444444 86.71947166571428,85.33333333333333 91.81337116857142,94.22222222222221 91.23540402")
              polyline(fill="none" stroke="#ff8800" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 96.40360184,14.222222222222221 96.37187933142857,23.111111111111114 96.70919673428571,32 96.63142052857143,40.888888888888886 82.20497484571429,49.77777777777778 94.04739235999999,58.666666666666664 95.79204631142858,67.55555555555556 97.88000276857143,76.44444444444444 96.01171264285715,85.33333333333333 92.11570754571427,94.22222222222221 94.22202270285715")
              polyline(fill="none" stroke="#cab0d6" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 88.35954027428572,14.222222222222221 88.16202111428572,23.111111111111114 87.84642584571428,32 89.75314903428571,40.888888888888886 90.40035990571428,49.77777777777778 90.45435280571428,58.666666666666664 91.48073547714286,67.55555555555556 90.18638807142857,76.44444444444444 84.52587082857143,85.33333333333333 89.4805689857143,94.22222222222221 90.29670358")
              polyline(fill="none" stroke="#ffc52b" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 80.03401292000001,14.222222222222221 76.56092664857142,23.111111111111114 75.26532405428571,32 64.62475502857143,40.888888888888886 77.42340340857142,49.77777777777778 69.0410224,58.666666666666664 71.75017072,67.55555555555556 70.8808062,76.44444444444444 71.44810349142857,85.33333333333333 77.00380399714287,94.22222222222221 71.86017385428572")
              polyline(fill="none" stroke="#a37c09" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 20.58004451428571,14.222222222222221 29.623253457142855,23.111111111111114 22.137057685714286,32 29.45841851428571,40.888888888888886 9.339681485714287,49.77777777777778 11.19174002857143,58.666666666666664 17.23249068571429,67.55555555555556 10.976373371428576,76.44444444444444 19.50291317142857,85.33333333333333 8.404114542857144,94.22222222222221 8.259851857142857")
              polyline(fill="none" stroke="#ff4050" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 99.24598723142856,14.222222222222221 98.54998182000001,23.111111111111114 99.09934126857142,32 98.9926075,40.888888888888886 98.62806193714285,49.77777777777778 99.09095207142856,58.666666666666664 95.97749752285713,67.55555555555556 97.60900211428572,76.44444444444444 98.62417233999999,85.33333333333333 98.32390425714286,94.22222222222221 98.25465084857143")
            g
              rect(width="8" height="8" x="4.33%" y="93.29%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="13.22%" y="90.89%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="22.11%" y="91.98%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="31.00%" y="90.20%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="39.89%" y="84.37%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="48.78%" y="88.65%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="57.67%" y="90.32%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="66.56%" y="90.20%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="75.44%" y="91.63%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="84.33%" y="97.76%" fill="#539ed4" stroke="#fff" stroke-width="0")
              rect(width="8" height="8" x="93.22%" y="97.96%" fill="#539ed4" stroke="#fff" stroke-width="0")
            g
              rect(width="6" height="6" x="4.63%" y="81.91%" fill="#fff" stroke="#16B56F" stroke-width="2")
              rect(width="6" height="6" x="13.52%" y="78.94%" fill="#fff" stroke="#16B56F" stroke-width="2")
              rect(width="6" height="6" x="22.41%" y="82.34%" fill="#fff" stroke="#16B56F" stroke-width="2")
              rect(width="6" height="6" x="31.30%" y="81.19%" fill="#fff" stroke="#16B56F" stroke-width="2")
              rect(width="6" height="6" x="40.19%" y="86.53%" fill="#fff" stroke="#16B56F" stroke-width="2")
              rect(width="6" height="6" x="49.08%" y="86.96%" fill="#fff" stroke="#16B56F" stroke-width="2")
              rect(width="6" height="6" x="57.97%" y="84.63%" fill="#fff" stroke="#16B56F" stroke-width="2")
              rect(width="6" height="6" x="66.86%" y="91.9%" fill="#fff" stroke="#16B56F" stroke-width="2")
              rect(width="6" height="6" x="75.74%" y="90.87%" fill="#fff" stroke="#16B56F" stroke-width="2")
              rect(width="6" height="6" x="84.63%" y="89.41%" fill="#fff" stroke="#16B56F" stroke-width="2")
              rect(width="6" height="6" x="93.72%" y="92.61%" fill="#fff" stroke="#16B56F" stroke-width="2")
            g
              //circle(r="4" cx="5.33%" cy="91.67%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="5.33 90.07 6.63 92.27 3.93 92.27 5.33 90.07" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="14.22%" cy="89.84%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="14.22 88.24 15.52 90.44 12.82 90.44 14.22 88.24" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="23.11%" cy="87.93%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="23.11 86.33 24.41 88.53 21.71 88.53 23.11 86.33" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="32.00%" cy="86.19%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="32 84.59 33.3 86.79 30.6 86.79 32 84.59" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="40.89%" cy="84.28%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="40.89 82.68 42.19 84.88 39.49 84.88 40.89 82.68" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="49.78%" cy="82.46%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="49.78 80.86 51.08 83.06 48.38 83.06 49.78 80.86" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="58.67%" cy="65.64%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="58.67 64.04 59.97 66.24 57.27 66.24 58.67 64.04" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="67.56%" cy="58.80%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="67.56 57.2 68.86 59.4 66.16 59.4 67.56 57.2" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="76.44%" cy="64.50%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="76.44 62.9 77.74 65.1 75.04 65.1 76.44 62.9" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="85.33%" cy="65.96%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="85.33 64.36 86.63 66.56 83.93 66.56 85.33 64.36" fill="#16B56F" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.22%" cy="51.31%" fill="#16B56F" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.22 49.71 95.52 51.91 92.82 51.91 94.22 49.71" fill="#16B56F" stroke="#fff" stroke-width="0")
            g
              circle(r="4" cx="5.33%" cy="69.76%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="73.12%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="73.49%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="74.72%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="83.66%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="81.50%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="81.45%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="86.01%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="86.85%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="88.65%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="87.06%" fill="#FBBCC0" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="5.33%" cy="89.21%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="5.33 87.61 6.63 89.81 3.93 89.81 5.33 87.61" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="14.22%" cy="90.42%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="14.22 88.82 15.52 91.02 12.82 91.02 14.22 88.82" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="23.11%" cy="89.85%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="23.11 88.25 24.41 90.45 21.71 90.45 23.11 88.25" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="32.00%" cy="90.97%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="32 89.37 33.3 91.57 30.6 91.57 32 89.37" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="40.89%" cy="93.48%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="40.89 91.88 42.19 94.08 39.49 94.08 40.89 91.88" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="49.78%" cy="89.92%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="49.78 88.32 51.08 90.52 48.38 90.52 49.78 88.32" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="58.67%" cy="93.69%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="58.67 92.09 59.97 94.29 57.27 94.29 58.67 92.09" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="67.56%" cy="94.19%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="67.56 92.59 68.86 94.79 66.16 94.79 67.56 92.59" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="76.44%" cy="91.12%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="76.44 89.52 77.74 91.72 75.04 91.72 76.44 89.52" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="85.33%" cy="88.81%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="85.33 87.21 86.63 89.41 83.93 89.41 85.33 87.21" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.22%" cy="94.51%" fill="#DF0C1B" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.22 92.91 95.52 95.11 92.82 95.11 94.22 92.91" fill="#DF0C1B" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="5.33%" cy="86.44%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="5.33 84.84 6.63 87.04 3.93 87.04 5.33 84.84" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="14.22%" cy="85.83%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="14.22 84.23 15.52 86.43 12.82 86.43 14.22 84.23" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="23.11%" cy="85.80%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="23.11 84.2 24.41 86.4 21.71 86.4 23.11 84.2" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="32.00%" cy="87.15%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="32 85.55 33.3 87.75 30.6 87.75 32 85.55" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="40.89%" cy="90.62%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="40.89 89.02 42.19 91.22 39.49 91.22 40.89 89.02" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="49.78%" cy="91.20%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="49.78 89.6 51.08 91.8 48.38 91.8 49.78 89.6" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="58.67%" cy="90.94%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="58.67 89.34 59.97 91.54 57.27 91.54 58.67 89.34" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="67.56%" cy="90.49%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="67.56 88.89 68.86 91.09 66.16 91.09 67.56 88.89" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="76.44%" cy="86.72%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="76.44 85.12 77.74 87.32 75.04 87.32 76.44 85.12" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="85.33%" cy="91.81%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="85.33 90.21 86.63 92.41 83.93 92.41 85.33 90.21" fill="#ffe18f" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.22%" cy="91.24%" fill="#ffe18f" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.22 89.64 95.52 91.84 92.82 91.84 94.22 89.64" fill="#ffe18f" stroke="#fff" stroke-width="0")
            g
              svg(width="12" height="12" x="4.13%" y="95.20%")
                g
                  path(stroke="#ff8800" stroke-width="2.5" d="M0 6 l12 0")
                  path(stroke="#ff8800" stroke-width="2.5" d="M6 0 l0 12")
              //circle(r="4" cx="5.33%" cy="96.40%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(width="12" height="12" x="13.02%" y="95.17%")
                g
                  path(stroke="#ff8800" stroke-width="2.5" d="M0 6 l12 0")
                  path(stroke="#ff8800" stroke-width="2.5" d="M6 0 l0 12")
              //circle(r="4" cx="14.22%" cy="96.37%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(width="12" height="12" x="21.91%" y="95.51%")
                g
                  path(stroke="#ff8800" stroke-width="2.5" d="M0 6 l12 0")
                  path(stroke="#ff8800" stroke-width="2.5" d="M6 0 l0 12")
              //circle(r="4" cx="23.11%" cy="96.71%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(width="12" height="12" x="30.8%" y="95.43%")
                g
                  path(stroke="#ff8800" stroke-width="2.5" d="M0 6 l12 0")
                  path(stroke="#ff8800" stroke-width="2.5" d="M6 0 l0 12")
              //circle(r="4" cx="32.00%" cy="96.63%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(width="12" height="12" x="39.69%" y="81%")
                g
                  path(stroke="#ff8800" stroke-width="2.5" d="M0 6 l12 0")
                  path(stroke="#ff8800" stroke-width="2.5" d="M6 0 l0 12")
              //circle(r="4" cx="40.89%" cy="82.20%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(width="12" height="12" x="48.58%" y="92.85%")
                g
                  path(stroke="#ff8800" stroke-width="2.5" d="M0 6 l12 0")
                  path(stroke="#ff8800" stroke-width="2.5" d="M6 0 l0 12")
              //circle(r="4" cx="49.78%" cy="94.05%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(width="12" height="12" x="57.47%" y="94.59%")
                g
                  path(stroke="#ff8800" stroke-width="2.5" d="M0 6 l12 0")
                  path(stroke="#ff8800" stroke-width="2.5" d="M6 0 l0 12")
              //circle(r="4" cx="58.67%" cy="95.79%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(width="12" height="12" x="66.36%" y="96.68%")
                g
                  path(stroke="#ff8800" stroke-width="2.5" d="M0 6 l12 0")
                  path(stroke="#ff8800" stroke-width="2.5" d="M6 0 l0 12")
              //circle(r="4" cx="67.56%" cy="97.88%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(width="12" height="12" x="75.24%" y="94.81%")
                g
                  path(stroke="#ff8800" stroke-width="2.5" d="M0 6 l12 0")
                  path(stroke="#ff8800" stroke-width="2.5" d="M6 0 l0 12")
              //circle(r="4" cx="76.44%" cy="96.01%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(width="12" height="12" x="84.13%" y="90.92%")
                g
                  path(stroke="#ff8800" stroke-width="2.5" d="M0 6 l12 0")
                  path(stroke="#ff8800" stroke-width="2.5" d="M6 0 l0 12")
              //circle(r="4" cx="85.33%" cy="92.12%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              svg(width="12" height="12" x="93.02%" y="93.02%")
                g
                  path(stroke="#ff8800" stroke-width="2.5" d="M0 6 l12 0")
                  path(stroke="#ff8800" stroke-width="2.5" d="M6 0 l0 12")
              //circle(r="4" cx="94.22%" cy="94.22%" fill="#ffc52b" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="5.33%" cy="88.36%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="5.33 86.76 6.63 88.96 3.93 88.96 5.33 86.76" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="14.22%" cy="88.16%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="14.22 86.56 15.52 88.76 12.82 88.76 14.22 86.56" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="23.11%" cy="87.85%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="23.11 86.25 24.41 88.45 21.71 88.45 23.11 86.25" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="32.00%" cy="89.75%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="32.00 88.15 33.30 90.35 30.60 90.35 32.00 88.15" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="40.89%" cy="90.40%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="40.89 88.80 42.19 91.00 39.49 91.00 40.89 88.80" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="49.78%" cy="90.45%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="49.78 88.85 51.08 91.05 48.38 91.05 49.78 88.85" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="58.67%" cy="91.48%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="58.67 89.88 59.97 92.08 57.27 92.08 58.67 89.88" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="67.56%" cy="90.19%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="67.56 88.59 68.86 90.79 66.16 90.79 67.56 88.59" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="76.44%" cy="84.53%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="76.44 82.93 77.74 85.13 75.04 85.13 76.44 82.93" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="85.33%" cy="89.48%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="85.33 87.88 86.63 90.08 83.93 90.08 85.33 87.88" fill="#cab0d6" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.22%" cy="90.30%" fill="#a37c09" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.22 88.70 95.52 90.90 92.82 90.90 94.22 88.70" fill="#cab0d6" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="5.33%" cy="80.03%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="5.33 78.43 6.63 80.63 3.93 80.63 5.33 78.43" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="14.22%" cy="76.56%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="14.22 74.96 15.52 77.16 12.82 77.16 14.22 74.96" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="23.11%" cy="75.27%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="23.11 73.67 24.41 75.87 21.71 75.87 23.11 73.67" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="32.00%" cy="64.62%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="32 63.02 33.3 65.22 30.6 65.22 32 63.02" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="40.89%" cy="77.42%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="40.89 75.82 42.19 78.02 39.49 78.02 40.89 75.82" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="49.78%" cy="69.04%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="49.78 67.44 51.08 69.64 48.38 69.64 49.78 67.44" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="58.67%" cy="71.75%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="58.67 70.15 59.97 72.35 57.27 72.35 58.67 70.15" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="67.56%" cy="70.88%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="67.56 69.28 68.86 71.48 66.16 71.48 67.56 69.28" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="76.44%" cy="71.45%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="76.44 69.85 77.74 72.05 75.04 72.05 76.44 69.85" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="85.33%" cy="77.00%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="85.33 75.4 86.63 77.6 83.93 77.6 85.33 75.4" fill="#ffc52b" stroke="#fff" stroke-width="0")
              //circle(r="4" cx="94.22%" cy="71.86%" fill="#F59894" stroke="#fff" stroke-width="0")
              svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
                polygon(points="94.22 70.26 95.52 72.46 92.82 72.46 94.22 70.26" fill="#ffc52b" stroke="#fff" stroke-width="0")
            g
              //circle(r="4" cx="5.33%" cy="20.58%" fill="#F59894" stroke="#fff" stroke-width="0")
              rect(width="6" height="6" x="4.63%" y="19.88%" fill="#fff" stroke="#a37c09" stroke-width="2")
              //circle(r="4" cx="14.22%" cy="29.62%" fill="#F59894" stroke="#fff" stroke-width="0")
              rect(width="6" height="6" x="13.52%" y="28.92%" fill="#fff" stroke="#a37c09" stroke-width="2")
              //circle(r="4" cx="23.11%" cy="22.14%" fill="#F59894" stroke="#fff" stroke-width="0")
              rect(width="6" height="6" x="22.41%" y="21.44%" fill="#fff" stroke="#a37c09" stroke-width="2")
              //circle(r="4" cx="32.00%" cy="29.46%" fill="#F59894" stroke="#fff" stroke-width="0")
              rect(width="6" height="6" x="31.30%" y="28.76%" fill="#fff" stroke="#a37c09" stroke-width="2")
              //circle(r="4" cx="40.89%" cy="9.34%" fill="#F59894" stroke="#fff" stroke-width="0")
              rect(width="6" height="6" x="40.19%" y="8.64%" fill="#fff" stroke="#a37c09" stroke-width="2")
              //circle(r="4" cx="49.78%" cy="11.19%" fill="#F59894" stroke="#fff" stroke-width="0")
              rect(width="6" height="6" x="49.08%" y="10.49%" fill="#fff" stroke="#a37c09" stroke-width="2")
              //circle(r="4" cx="58.67%" cy="17.23%" fill="#F59894" stroke="#fff" stroke-width="0")
              rect(width="6" height="6" x="57.97%" y="16.53%" fill="#fff" stroke="#a37c09" stroke-width="2")
              //circle(r="4" cx="67.56%" cy="10.98%" fill="#F59894" stroke="#fff" stroke-width="0")
              rect(width="6" height="6" x="66.86%" y="10.28%" fill="#fff" stroke="#a37c09" stroke-width="2")
              //circle(r="4" cx="76.44%" cy="19.50%" fill="#F59894" stroke="#fff" stroke-width="0")
              rect(width="6" height="6" x="75.74%" y="18.80%" fill="#fff" stroke="#a37c09" stroke-width="2")
              //circle(r="4" cx="85.33%" cy="8.40%" fill="#F59894" stroke="#fff" stroke-width="0")
              rect(width="6" height="6" x="84.63%" y="7.70%" fill="#fff" stroke="#a37c09" stroke-width="2")
              //circle(r="4" cx="94.22%" cy="8.26%" fill="#F59894" stroke="#fff" stroke-width="0")
              rect(width="6" height="6" x="93.52%" y="7.56%" fill="#fff" stroke="#a37c09" stroke-width="2")
            g
              circle(r="6" cx="5.33%" cy="99.25%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="14.22%" cy="98.55%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="23.11%" cy="99.10%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="32.00%" cy="98.99%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="40.89%" cy="98.63%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="49.78%" cy="99.09%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="58.67%" cy="95.98%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="67.56%" cy="97.61%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="76.44%" cy="98.62%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="85.33%" cy="98.32%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="94.22%" cy="98.25%" fill="#ff4050" stroke="#fff" stroke-width="0")
      .row
        ul.legend.legend.list-bare.txt-left.flex.flex-ch.flex-wrap
          for ax, i in new Array(chart.series.length)
            if i
              li.legend-item
                span.legend-item-box(style=`background: ${chart.colors[chart.series[i].color]}`)
                span.legend-item-label= chart.series[i].title

        ul.legend.legend.list-bare.txt-left.flex.flex-ch.flex-wrap
          li.legend-item
            span.legend-item-box(style=`background:#000`)
            span.legend-item-label East Asia and Pacific
          li.legend-item
            span.legend-item-box(style=`background:transparent`)
              svg(width="12" height="10" x="4" y="1")
                polygon(points="6 1 12 10 0 10 6 1" fill="#000" stroke="#fff" stroke-width="0")
            span.legend-item-label Europe and Central Asia
          li.legend-item
            span.legend-item-box(style=`background:transparent`)
              svg
                rect(width="10" height="10" x="1" y="0" fill="#000" stroke="#fff" stroke-width="2")
            span.legend-item-label Latin America and Caribbean
          li.legend-item
            span.legend-item-box(style=`background:transparent`)
              svg(width="10" height="10" x="4" y="1")
                g
                  path(stroke="#000" stroke-width="2.5" d="M0 5 l10 0")
                  path(stroke="#000" stroke-width="2.5" d="M5 0 l0 10")
            span.legend-item-label Middle East and North Africa
          li.legend-item
            span.legend-item-box(style="background:transparent")
              svg
                rect(width="7" height="7" x="2" y="1" fill="#fff" stroke="#000" stroke-width="2")
            span.legend-item-label North America

      .chart-source.txt-right.txt-muted.txt-cond!= chart.source
      .chart-notes.txt-right.txt-muted.txt-cond!= chart.notes
  
block append css
  style
    :sass
    
      .wrapper
        height: 660px
        max-width: 1062px

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: 10px
        left: 60px
        right: 20px
        bottom: 40px

      .chart-title
        margin: auto
        font-size: 18px
        
      .chart-subtitle
        font-weight: normal
        margin-top: 0
        font-size: 14px
        padding: 1rem
        
      .tooltip
        position: absolute
        left: 0
        background: #fffe
        padding: .75em
        opacity: 1
        border-radius: .2em
        box-shadow: 0 0 5px 0 #0004
        transition-duration: 0.5s
        pointer-events: none
        font-size: 14px
        text-transform: lowercase
        max-width: 180px
        box-sizing: border-box

      li
        list-style: none
        margin: 0
        padding: 4px 8px 4px 16px
        line-height: 1.2em

      .legend
        font-size: 12px
        margin-top: 1.6em

      .legend-item
        margin: 0 4px
        padding-right: 0
        position: relative
        white-space: nowrap

      .legend-item-box
        position: absolute
        left: 0
        top: .5em
        height: .8em
        width: .8em
        background: black
        border-radius: 50%

      polyline
        vector-effect: non-scaling-stroke

      text
        font-size: 11px
        fill: currentColor

      svg
        overflow: visible
        
      .chart-notes, .chart-source
        margin-right: 2em
        font-size: 11px
        
      .chart-value
        opacity: 0
        transition-duration: .4s
        pointer-events: none
      
      .chart-content:hover .chart-value
        opacity: 1

      .txt-muted
        color: #767676

      .box-left,.box-right
        background-color: #eff1f280
      .box-left,.box-sub-left
        float: left
        width: 46%
        margin: 0
      .box-right,.box-sub-right,.box-subright-mobile
        float: right
        width: 46%
        margin: 0
      .chart-container
        height: 90%
      .box-sub-right-mobile
        display: none

      g.target circle
        background-image: url(star-sm.png)
        background-size: contain
        fill:  url(star-sm.png)
      g.target2 circle
        fill: url(#point-star)

      @media (max-width: 700px)
        
        .x-label text
          text-anchor: end
          transform: rotate(-45deg) translate(-8px, 24px)
        text
          font-size: 11px
        .box-left
          width: 44%
        .box-right
          width: 44%
        .legend
        font-size: 11px
          
      @media (max-width: 450px)
        .legend
          /* flex-direction: column */
        .chart-title
          font-size: 16px
        .chart-subtitle
          font-size: 12px
        .chart-notes,
        .chart-source
          text-align: center
          font-size: 10px
        .x-label 
          display: none  
        .x-label:nth-child(2n+3)
          display: block

        .chart-container
          height: auto
        .box-left,.box-sub-left,.box-right,.box-sub-right-mobile
          width: 100%
          float: none
        .box-sub-right-mobile
          margin-top: 2em !important
        .box-sub-right .chart-subtitle
          display: none
        .box-sub-right-mobile
          display: block
        .x-label text
          text-anchor: middle
          transform: translate(-8px, 18px)
        .chart-subtitle
          padding: 0.5rem
        li 
          padding: 4px 12px 2px 16px
        .legend-item-box
          height: 0.8em
          width: 0.8em
