-
  baseurl = "https://interactives.lowyinstitute.org/charts/indonesia-poll"
  charts = [
    {id:  1, title: "Indonesia's direction"},
    {id:  4, title: "Feelings of safety"},
    {id:  5, title: "Trust in global powers"},
    {id:  6, title: "Confidence in world leaders", height: 650},
    {id:  9, title: "Economic optimism"},
    {id: 11, title: "Ecomonic model for Indonesia"},
    {id: 12, title: "Foreign government investment"},
    {id: 13, title: "Levels of foreign investment in Indonesia "},
    {id: 16, title: "Threats to Indonesia's vital interests", height: 650},
    {id: 17, title: "Countries that pose a threat to Indonesia"},
    {id: 18, title: "Indonesia's place in the world"},
    {id: 19, title: "Confidence in Indonesian institutions"},
    {id: "19b", title: "Confidence in TNI to defend"},
    {id: 20, title: "Goals of Indonesian foreign policy", height: 650},
    {id: 21, title: "Peace and conflict resolution goals"},
    {id: 23, title: "Indonesia's diplomatic style"},
    {id: 24, title: "Attitudes to democracy"},
    {id: 25, title: "Most important international organisation"},
    {id: 26, title: "Optimism about ASEAN's future"},
    {id: 30, title: "Foreign interference"},
    {id: 32, title: "Global warming"},
    {id: 33, title: "Effort to combat climate change"},
    {id: 34, title: "Support for joining minilaterals"},
    {id: "37-38", title: "Australia's regional security plans"},
    {id: 39, title: "COVID handling by country"},
    {id: 40, title: "Source of COVID-19 pandemic"},
    {id: 41, title: "Trust in sources of information"},
  ]
    
mixin chart(id)
  - chart = charts.find((c) => c.id === id)
  
  if chart
    iframe.chart(
      id=`q${id}`
      src=`${baseurl}/q${id}`
      height=`${chart.height || 550}px`
      frameborder="0"
      )

  else 
    - console.error(`Error: Chart q${id} does not exist!`)
    .border.flex-cv.txt-center.txt-tu(style=`height: 500px`)= "Chart: " + id