extend /partials/layout

block append config
  - var datapath = "static/charts/indonesia-poll/q11/data"
  - _.extend(page, data.getOne(datapath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"

block page
  .wrapper.flex.flex-col
    .page-title.txt-center= page.title 
    .col-wrap.txt-left.flex-grow.flex
      .col-md.flex-grow.flex.flex-col
        - chart = page.charts[0]
        .chart-title= chart.title
        .chart-subtitle.p-sm!= chart.subtitle
        hr

        .chart.flex-grow: .chart-content

          - scale = chart.scale
          - minY = scale.minY
          - maxY = scale.maxY
          - range = maxY - minY
          - baseline = (scale.datum + maxY) / range

          //- I've split fy (y position of the rect) and fh (height of the rect) into two equations. Positive and negative values need to be treated differently, hence the ternary statement in fy()
          - fh = (y) => Math.abs(y) / range
          - fy = (y) => y < 0 ? baseline : (baseline - fh(y))
          - fx = (i) => (i + 0.6) / (chart.axes[1].values.length + 0.6)

          svg(height="100%" width="100%")
            svg(height="100%")
              //- This must have been an older template as the number of steps on the y-axis was hard-coded in multiple places. I've replaced those hard-coded values with a new variable "scale.steps", which I've defined in data.yaml
              for n, i in new Array(scale.steps)
                - y = 1 - (i / (scale.steps - 1))
                svg(y=toPercent(y))
                  text(text-anchor="end" transform="translate(-8 4)")
                    = scale.minY + (i / (scale.steps - 1)) * (scale.maxY - scale.minY) + "%"
                     
            g
              for y, i in chart.axes[1].values
                - label = chart.axes[0].values[i]
                svg(
                  x=toPercent(fx(i))
                  y=toPercent(fy(y))
                  width=toPercent(fx(0))
                  height=toPercent(fh(y))
                )
                  rect(
                    fill=label.highlight ? "#ff4050" : "#2D6993"
                    width="100%"
                    height="100%"
                  )

                  text.chart-value(
                    x="50%"
                    y="50%"
                    text-anchor="middle"
                    transform="translate(0 4.5)" 
                    style="color: white"
                  )
                    = y

                  svg(x="50%" y="100%")
                    text.label(
                      text-anchor="middle"
                    )= label.text

                //- Add a new baseline
                line(x1="0" x2="100%" y1=toPercent(baseline) y2=toPercent(baseline) stroke="#ccc")

    //- .row
      ul.legend.list-bare.txt-left.flex.flex-ch
        li.legend-item
          span.legend-item-box
          span.legend-item-label China (2019)
        li.legend-item
          span.legend-item-box
          span.legend-item-label Korea (1980)
        li.legend-item
          span.legend-item-box
          span.legend-item-label Taiwan (1975)

    .chart-source.txt-muted.txt-center
      != page.source

    .tooltip

block append css
  style
    :sass
      .page-title
        /* margin-bottom: 25px */

      .wrapper
        height: 550px

      .col-wrap
        margin: 0

      .col-md
        padding: 0 1em
        width: 50%

      .chart
        position: relative
        margin-bottom: 60px

      .chart-content
        position: absolute
        top: 20px
        left: 36px
        right: 12px
        bottom: 24px

      .chart-content > svg
        height: 20px
        min-height: 100%


      .chart-title
        /* margin: auto
        font-size: 24px
        padding-left: 1rem
        
      .chart-subtitle
        /* font-weight: 600
        /* height: 12px
        margin-top: -12px
        font-size: 16px

      .chart-source
        font-size: 14px
        max-width: 800px
        margin: 12px 8px 0

      .chart-value
        opacity: 0
        transition-duration: .4s
        pointer-events: none
      
      .chart-content:hover .chart-value
        opacity: 1

      text
        font-size: 14px
        fill: currentColor

      svg
        overflow: visible
      
      .legend
        margin: 0 40px 0 100px;
      .legend-item 
        margin: 0
        padding: 0 40px

      hr
        margin: 24px 0 16px

      .label
        transform: rotate(-45deg) translate(-5px, 20px)
        text-anchor: end

      @media screen and (max-width: 600px)
        .col-wrap
          display: block
        .col-md
          width: 100%
          height: 100%
