extend /partials/layout

block append config
  - var datapath = "static/charts/china-influence-un/fig-1/data"
  - var colorpath = "static/charts/templates/colors/data"
  - _.extend(page, data.getOne(datapath))
  - _.extend(page, data.getOne(colorpath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"
  - isEmpty = (y) => (y === undefined || y == null || y.length <= 0)
  - chart = page
  
block page
  .wrapper.flex
    .txt-center.flex.flex-grow.flex-col
      .chart-title= chart.title
      //.chart-subtitle.txt-muted.txt-tu.p-sm!= chart.subtitle
      .chart.flex-grow: .chart-content
        - ln = chart.series[0].values.length
        - axes = chart.axes
        - minY = axes.minY
        - maxY = axes.maxY
        - range = maxY - minY
        - fx = (i) => (i + 0.6) / (ln + 0.25)
        - fy = (y) => (y - minY) / range
        
        .subtitles
          .box-sub-left: .chart-subtitle Percentage contributions over all countries
          .box-sub-right: .chart-subtitle Percentage contributions over GDP


        .chart-container(height="100%" width="100%")
          // CHART 1: fig-7a
          svg.box-left(height="100%")
            //-- Y-Axis labels
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0%
              svg(y="83.33%")
                text(text-anchor="end" transform="translate(-8 4)") 5%
              svg(y="66.67%")
                text(text-anchor="end" transform="translate(-8 4)") 10%
              svg(y="50.00%")
                text(text-anchor="end" transform="translate(-8 4)") 15%
              svg(y="33.33%")
                text(text-anchor="end" transform="translate(-8 4)") 20%
              svg(y="16.67%")
                text(text-anchor="end" transform="translate(-8 4)") 25%
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(-8 4)") 30%

            // -- Y-Axis minor lines
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="0%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="16.67%" x2="100%" y2="16.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="33.33%" x2="100%" y2="33.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="50.00%" x2="100%" y2="50.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="66.67%" x2="100%" y2="66.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="83.33%" x2="100%" y2="83.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="100.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="100%" y1="0.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")

            // X-Axis labels
            svg(class="x-label" x="4.90%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2010
            svg(class="x-label" x="13.06%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2011
            svg(class="x-label" x="21.22%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2012
            svg(class="x-label" x="29.39%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2013
            svg(class="x-label" x="37.55%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2014
            svg(class="x-label" x="45.71%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2015
            svg(class="x-label" x="53.88%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2016
            svg(class="x-label" x="62.04%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2017
            svg(class="x-label" x="70.20%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2018
            svg(class="x-label" x="78.37%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2019
            svg(class="x-label" x="86.53%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2020
            svg(class="x-label" x="94.69%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2021

            // OPTIONAL GUIDE LINE
            // CHART LINES
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              // SERIES LINES
              polyline(fill="none" stroke="#008A97" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 93.81220460333334,13.061224489795919 93.74114178,21.22448979591837 93.80521035,29.38775510204082 93.44202954666667,37.55102040816326 93.21710408333334,45.714285714285715 93.19349253666667,53.87755102040816 92.30328914333333,62.04081632653061 92.33514798000002,70.20408163265306 92.27099289333334,78.36734693877551 92.41954055000001,86.53061224489795 92.59152265666667,94.6938775510204 92.59317886333334")
              polyline(fill="none" stroke="#539ed4" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 89.13957544333333,13.061224489795919 89.05895321333334,21.22448979591837 88.92542610999999,29.38775510204082 89.56657295999999,37.55102040816326 89.85352998,45.714285714285715 90.23737169,53.87755102040816 90.07558689666666,62.04081632653061 90.14187903333332,70.20408163265306 90.10018017333333,78.36734693877551 90.33053887333334,86.53061224489795 90.58325279666666,94.6938775510204 90.5848941")
              polyline(fill="none" stroke="#16B56F" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 80.17085232666666,13.061224489795919 80.32507641,21.22448979591837 79.95852590666667,29.38775510204082 77.82326601666666,37.55102040816326 78.31751360666667,45.714285714285715 78.48544595666667,53.87755102040816 79.76800843999999,62.04081632653061 81.02745504666667,70.20408163265306 81.16728719333334,78.36734693877551 82.18166050333333,86.53061224489795 83.01276036333333,94.6938775510204 83.05355147")
              polyline(fill="none" stroke="#ff8800" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 73.58586618666666,13.061224489795919 73.97460266000002,21.22448979591837 74.18049128333332,29.38775510204082 75.12813007000001,37.55102040816326 76.46053115666666,45.714285714285715 76.46125171333334,53.87755102040816 77.77734880666665,62.04081632653061 78.60407885999999,70.20408163265306 78.70746959666666,78.36734693877551 79.01984282333333,86.53061224489795 79.37790777666666,94.6938775510204 79.21127625666666")
              polyline(fill="none" stroke="#68389a" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 84.13931661333334,13.061224489795919 84.22591911,21.22448979591837 83.90389972999999,29.38775510204082 84.46534850333333,37.55102040816326 85.33674688,45.714285714285715 85.36908883,53.87755102040816 86.54979918666666,62.04081632653061 87.44121463333333,70.20408163265306 87.49786927999999,78.36734693877551 88.16586953000001,86.53061224489795 88.74018274333334,94.6938775510204 88.73685575666667")
              polyline(fill="none" stroke="#bd5d92" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 57.18573933333334,13.061224489795919 59.90690493333334,21.22448979591837 61.007304,29.38775510204082 62.733290299999986,37.55102040816326 64.70611006666667,45.714285714285715 64.76793333333333,53.87755102040816 66.54781053333333,62.04081632653061 67.99517454000001,70.20408163265306 68.00847084666667,78.36734693877551 69.69645140666665,86.53061224489795 71.33563732,94.6938775510204 71.39175362333333")
              polyline(fill="none" stroke="#a3bc3e" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 95.40230560333333,13.061224489795919 95.11650738333334,21.22448979591837 94.71744730666667,29.38775510204082 92.23267395666667,37.55102040816326 90.64202095,45.714285714285715 90.57613545666666,53.87755102040816 89.23658205,62.04081632653061 88.35868554000001,70.20408163265306 88.31516811333333,78.36734693877551 89.73052565333333,86.53061224489795 90.89620846000001,94.6938775510204 91.07176235333333")
              polyline(fill="none" stroke="#ffc52b" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 90.13624999333332,13.061224489795919 90.01836259,21.22448979591837 89.82529058333333,29.38775510204082 89.91266065666666,37.55102040816326 90.24193877333333,45.714285714285715 90.23150966666668,53.87755102040816 91.08969038333333,62.04081632653061 91.81855728000001,70.20408163265306 91.83804967333333,78.36734693877551 92.28876148333333,86.53061224489795 92.68475052333334,94.6938775510204 92.68142212666667")
              polyline(fill="none" stroke="#a37c09" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 79.24473377000001,13.061224489795919 79.30407860000001,21.22448979591837 79.00054387333333,29.38775510204082 78.27603773,37.55102040816326 80.24195974333334,45.714285714285715 80.23093418333332,53.87755102040816 81.45815927666666,62.04081632653061 82.70966190333333,70.20408163265306 82.718,78.36734693877551 82.72631012000001,86.53061224489795 82.69629746333334,94.6938775510204 82.71691337")
              polyline(fill="none" stroke="#F59894" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 24.989467566666665,13.061224489795919 24.4200226,21.22448979591837 25.508088233333336,29.38775510204082 15.509868366666666,37.55102040816326 13.611496099999995,45.714285714285715 12.603822366666673,53.87755102040816 12.8131926,62.04081632653061 14.367371533333337,70.20408163265306 15.216031200000005,78.36734693877551 18.689713333333334,86.53061224489795 19.696033599999996,94.6938775510204 20.005671199999995")
              polyline(fill="none" stroke="#ff4050" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 89.85407404,13.061224489795919 89.49566062333332,21.22448979591837 89.51664796666667,29.38775510204082 84.09728983666666,37.55102040816326 80.40964232666667,45.714285714285715 80.34640045333333,53.87755102040816 74.66731566666667,62.04081632653061 70.27822345333334,70.20408163265306 70.46988678333332,78.36734693877551 62.65851350000001,86.53061224489795 56.33525363333334,94.6938775510204 56.200971700000004")
            g
              circle(r="4" cx="4.90%" cy="93.81%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="93.74%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="93.81%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="93.44%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="93.22%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="93.19%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="92.30%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="92.34%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="92.27%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="92.42%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="92.59%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="92.59%" fill="#008A97" stroke="#fff" stroke-width="0")
            g
              circle(r="4" cx="4.90%" cy="89.14%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="89.06%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="88.93%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="89.57%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="89.85%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="90.24%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="90.08%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="90.14%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="90.10%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="90.33%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="90.58%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="90.58%" fill="#539ed4" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="80.17%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="80.33%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="79.96%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="77.82%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="78.32%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="78.49%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="79.77%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="81.03%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="81.17%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="82.18%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="83.01%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="83.05%" fill="#16B56F" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="73.59%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="73.97%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="74.18%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="75.13%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="76.46%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="76.46%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="77.78%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="78.60%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="78.71%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="79.02%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="79.38%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="79.21%" fill="#ff8800" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="84.14%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="84.23%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="83.90%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="84.47%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="85.34%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="85.37%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="86.55%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="87.44%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="87.50%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="88.17%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="88.74%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="88.74%" fill="#68389a" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="57.19%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="59.91%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="61.01%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="62.73%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="64.71%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="64.77%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="66.55%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="68.00%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="68.01%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="69.70%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="71.34%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="71.39%" fill="#bd5d92" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="95.40%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="95.12%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="94.72%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="92.23%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="90.64%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="90.58%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="89.24%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="88.36%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="88.32%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="89.73%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="90.90%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="91.07%" fill="#a3bc3e" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="90.14%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="90.02%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="89.83%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="89.91%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="90.24%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="90.23%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="91.09%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="91.82%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="91.84%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="92.29%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="92.68%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="92.68%" fill="#ffc52b" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="79.24%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="79.30%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="79.00%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="78.28%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="80.24%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="80.23%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="81.46%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="82.71%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="82.73%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="82.70%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="82.72%" fill="#a37c09" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="24.99%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="24.42%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="25.51%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="15.51%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="13.61%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="12.60%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="12.81%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="14.37%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="15.22%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="18.69%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="19.70%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="20.01%" fill="#F59894" stroke="#fff" stroke-width="0")

            g
              circle(r="6" cx="4.90%" cy="89.85%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="13.06%" cy="89.50%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="21.22%" cy="89.52%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="29.39%" cy="84.10%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="37.55%" cy="80.41%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="45.71%" cy="80.35%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="53.88%" cy="74.67%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="62.04%" cy="70.28%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="70.20%" cy="70.47%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="78.37%" cy="62.66%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="86.53%" cy="56.34%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="94.69%" cy="56.20%" fill="#ff4050" stroke="#fff" stroke-width="0")


          // CHART 2: fig-7b
          .box-sub-right-mobile: .chart-subtitle Percentage contributions over GDP
          svg.box-right(height="100%")

            // Y-Axis labels
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0%
              svg(y="87.50%")
                text(text-anchor="end" transform="translate(-8 4)") 0.005%
              svg(y="75.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0.01%
              svg(y="62.50%")
                text(text-anchor="end" transform="translate(-8 4)") 0.015%
              svg(y="50.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0.02%
              svg(y="37.50%")
                text(text-anchor="end" transform="translate(-8 4)") 0.025%
              svg(y="25.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0.03%
              svg(y="12.50%")
                text(text-anchor="end" transform="translate(-8 4)") 0.035%
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0.04%

            // Y-Axis minor lines
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="0%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="16.67%" x2="100%" y2="16.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="33.33%" x2="100%" y2="33.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="50.00%" x2="100%" y2="50.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="66.67%" x2="100%" y2="66.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="83.33%" x2="100%" y2="83.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="100.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="100%" y1="0.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")

            // X-Axis labels
            svg(class="x-label" x="4.90%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2010
            svg(class="x-label" x="13.06%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2011
            svg(class="x-label" x="21.22%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2012
            svg(class="x-label" x="29.39%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2013
            svg(class="x-label" x="37.55%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2014
            svg(class="x-label" x="45.71%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2015
            svg(class="x-label" x="53.88%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2016
            svg(class="x-label" x="62.04%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2017
            svg(class="x-label" x="70.20%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2018
            svg(class="x-label" x="78.37%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2019
            svg(class="x-label" x="86.53%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2020
            svg(class="x-label" x="94.69%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2021

            // OPTIONAL GUIDE LINE
            // CHART LINES
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              // SERIES LINES
              polyline(fill="none" stroke="#008A97" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 81.58138000000001,13.061224489795919 83.86808250000001,21.22448979591837 83.020765,29.38775510204082 58.951215000000005,37.55102040816326 52.94025249999999,45.714285714285715 45.780325,53.87755102040816 33.9716975,62.04081632653061 41.0095475,70.20408163265306 45.850415000000005,78.36734693877551 44.578790000000005,86.53061224489795 42.9198625,94.6938775510204 50.702540000000006")
              polyline(fill="none" stroke="#539ed4" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 77.06217749999999,13.061224489795919 78.01791250000001,21.22448979591837 74.325165,29.38775510204082 44.2513675,37.55102040816326 42.7900775,45.714285714285715 32.52337750000001,53.87755102040816 32.76399750000001,62.04081632653061 38.96006250000001,70.20408163265306 42.573017500000006,78.36734693877551 43.5121225,86.53061224489795 41.45042,94.6938775510204 51.4411025")
              polyline(fill="none" stroke="#16B56F" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 74.3932125,13.061224489795919 75.258045,21.22448979591837 68.3448675,29.38775510204082 22.18188,37.55102040816326 22.701642500000005,45.714285714285715 5.108977499999994,53.87755102040816 15.308527500000006,62.04081632653061 25.342490000000005,70.20408163265306 32.4663175,78.36734693877551 33.55088,86.53061224489795 33.92835,94.6938775510204 40.766455")
              polyline(fill="none" stroke="#ff8800" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 73.45960000000001,13.061224489795919 74.98993,21.22448979591837 68.97093,29.38775510204082 34.27413500000001,37.55102040816326 38.3742375,45.714285714285715 24.57863,53.87755102040816 33.70151,62.04081632653061 40.80088,70.20408163265306 46.4202425,78.36734693877551 45.090072500000005,86.53061224489795 45.14992,94.6938775510204 49.457390000000004")
              polyline(fill="none" stroke="#68389a" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 74.636575,13.061224489795919 75.235365,21.22448979591837 67.30729,29.38775510204082 28.4389175,37.55102040816326 30.946342500000007,45.714285714285715 14.298969999999994,53.87755102040816 25.823417500000005,62.04081632653061 34.626115000000006,70.20408163265306 40.186797500000004,78.36734693877551 40.121975,86.53061224489795 39.133404999999996,94.6938775510204 44.92836")
              polyline(fill="none" stroke="#bd5d92" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 74.6052725,13.061224489795919 76.8243625,21.22448979591837 73.64907000000001,29.38775510204082 29.454590000000003,37.55102040816326 26.6189525,45.714285714285715 14.727049999999995,53.87755102040816 30.792344999999997,62.04081632653061 33.716515,70.20408163265306 36.44470999999999,78.36734693877551 39.8068525,86.53061224489795 41.816075000000005,94.6938775510204 40.5086425")
              polyline(fill="none" stroke="#a3bc3e" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 89.70085,13.061224489795919 91.39976750000001,21.22448979591837 89.860175,29.38775510204082 66.569205,37.55102040816326 53.731154999999994,45.714285714285715 25.643645,53.87755102040816 12.732874999999993,62.04081632653061 24.48159,70.20408163265306 29.437455,78.36734693877551 38.274170000000005,86.53061224489795 37.4213775,94.6938775510204 48.37803")
              polyline(fill="none" stroke="#ffc52b" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 76.30716500000001,13.061224489795919 75.7114775,21.22448979591837 67.44379,29.38775510204082 26.553502500000004,37.55102040816326 27.544807500000008,45.714285714285715 12.101855000000004,53.87755102040816 25.186620000000005,62.04081632653061 36.345642500000004,70.20408163265306 42.51396750000001,78.36734693877551 43.6669125,86.53061224489795 41.599537500000004,94.6938775510204 47.2781775")
              polyline(fill="none" stroke="#a37c09" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 71.53947000000001,13.061224489795919 72.12287,21.22448979591837 67.2646175,29.38775510204082 23.537189999999995,37.55102040816326 34.837472500000004,45.714285714285715 28.0657725,53.87755102040816 29.50672,62.04081632653061 34.5803125,70.20408163265306 36.75000000000001,78.36734693877551 38.934272500000006,86.53061224489795 35.7876525,94.6938775510204 44.31718")
              polyline(fill="none" stroke="#F59894" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 82.973585,13.061224489795919 82.54341749999999,21.22448979591837 80.5735475,29.38775510204082 50.505030000000005,37.55102040816326 49.88404750000001,45.714285714285715 48.3565125,53.87755102040816 51.7228475,62.04081632653061 55.10796,70.20408163265306 58.66236500000001,78.36734693877551 61.283722499999996,86.53061224489795 60.679294999999996,94.6938775510204 64.28358250000001")
              polyline(fill="none" stroke="#ff4050" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 94.306435,13.061224489795919 94.98807,21.22448979591837 94.79187499999999,29.38775510204082 83.60466749999999,37.55102040816326 80.95969,45.714285714285715 80.88544750000001,53.87755102040816 76.6550125,62.04081632653061 75.3445575,70.20408163265306 78.7297325,78.36734693877551 73.3884475,86.53061224489795 69.58565499999999,94.6938775510204 74.64176")
            g
              circle(r="4" cx="4.90%" cy="81.58%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="83.87%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="83.02%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="58.95%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="52.94%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="45.78%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="33.97%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="41.01%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="45.85%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="44.58%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="42.92%" fill="#008A97" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="50.70%" fill="#008A97" stroke="#fff" stroke-width="0")
            g
              circle(r="4" cx="4.90%" cy="77.06%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="78.02%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="74.33%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="44.25%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="42.79%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="32.52%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="32.76%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="38.96%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="42.57%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="43.51%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="41.45%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="51.44%" fill="#539ed4" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="74.39%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="75.26%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="68.34%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="22.18%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="22.70%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="5.11%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="15.31%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="25.34%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="32.47%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="33.55%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="33.93%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="40.77%" fill="#16B56F" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="73.46%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="74.99%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="68.97%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="34.27%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="38.37%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="24.58%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="33.70%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="40.80%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="46.42%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="45.09%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="45.15%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="49.46%" fill="#ff8800" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="74.64%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="75.24%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="67.31%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="28.44%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="30.95%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="14.30%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="25.82%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="34.63%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="40.19%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="40.12%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="39.13%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="44.93%" fill="#68389a" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="74.61%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="76.82%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="73.65%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="29.45%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="26.62%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="14.73%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="30.79%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="33.72%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="36.44%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="39.81%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="41.82%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="40.51%" fill="#bd5d92" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="89.70%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="91.40%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="89.86%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="66.57%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="53.73%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="25.64%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="12.73%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="24.48%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="29.44%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="38.27%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="37.42%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="48.38%" fill="#a3bc3e" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="76.31%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="75.71%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="67.44%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="26.55%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="27.54%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="12.10%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="25.19%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="36.35%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="42.51%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="43.67%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="41.60%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="47.28%" fill="#ffc52b" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="71.54%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="72.12%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="67.26%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="23.54%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="34.84%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="28.07%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="29.51%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="34.58%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="38.93%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="35.79%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="44.32%" fill="#a37c09" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="82.97%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="82.54%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="80.57%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="50.51%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="49.88%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="48.36%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="51.72%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="55.11%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="58.66%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="61.28%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="60.68%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="64.28%" fill="#F59894" stroke="#fff" stroke-width="0")

            g
              circle(r="6" cx="4.90%" cy="94.31%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="13.06%" cy="94.99%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="21.22%" cy="94.79%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="29.39%" cy="83.60%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="37.55%" cy="80.96%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="45.71%" cy="80.89%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="53.88%" cy="76.66%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="62.04%" cy="75.34%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="70.20%" cy="78.73%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="78.37%" cy="73.39%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="86.53%" cy="69.59%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="94.69%" cy="74.64%" fill="#ff4050" stroke="#fff" stroke-width="0")

      
      .row
        ul.legend.legend.list-bare.txt-left.flex.flex-ch.flex-wrap
          for ax, i in new Array(chart.series.length)
            if i
              li.legend-item
                span.legend-item-box(style=`background: ${chart.colors[chart.series[i].color]}`)
                span.legend-item-label= chart.series[i].title

      .chart-source.txt-right.txt-muted.txt-cond!= chart.source
      .chart-notes.txt-right.txt-muted.txt-cond!= chart.notes
  
block append css
  style
    :sass
    
      .wrapper
        height: 660px
        max-width: 1062px

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: 10px
        left: 60px
        right: 20px
        bottom: 40px

      .chart-title
        margin: auto
        font-size: 18px
        
      .chart-subtitle
        font-weight: normal
        margin-top: 0
        font-size: 14px
        padding: 1rem
        
      .tooltip
        position: absolute
        left: 0
        background: #fffe
        padding: .75em
        opacity: 1
        border-radius: .2em
        box-shadow: 0 0 5px 0 #0004
        transition-duration: 0.5s
        pointer-events: none
        font-size: 14px
        text-transform: lowercase
        max-width: 180px
        box-sizing: border-box

      li
        list-style: none
        margin: 0
        padding: 4px 16px 4px 24px
        line-height: 1.2em

      .legend
        font-size: 12px
        margin-top: 3em
        margin-bottom: 1em !important

      .legend-item
        margin: 0 4px
        padding-right: 0
        position: relative
        white-space: nowrap

      .legend-item-box
        position: absolute
        left: 0
        top: .5em
        height: 1em
        width: 1em
        background: black
        border-radius: 50%

      polyline
        vector-effect: non-scaling-stroke

      text
        font-size: 11px
        fill: currentColor

      svg
        overflow: visible
        
      .chart-notes, .chart-source
        margin-right: 2em
        font-size: 11px
        
      .chart-value
        opacity: 0
        transition-duration: .4s
        pointer-events: none
      
      .chart-content:hover .chart-value
        opacity: 1

      .txt-muted
        color: #767676

      .box-left,.box-right
        background-color: #eff1f280
      .box-left,.box-sub-left
        float: left
        width: 46%
        margin: 0
      .box-right,.box-sub-right,.box-subright-mobile
        float: right
        width: 46%
        margin: 0
      .chart-container
        height: 90%
      .box-sub-right-mobile
        display: none

      @media (max-width: 700px)
        
        .x-label text
          text-anchor: end
          transform: rotate(-45deg) translate(-8px, 24px)
        text
          font-size: 11px
        .box-left
          width: 44%
        .box-right
          width: 44%
        .legend
          font-size: 11px
          
      @media (max-width: 450px)
        .legend
          /* flex-direction: column */
        .chart-title
          font-size: 16px
        .chart-subtitle
          font-size: 12px
        .chart-notes,
        .chart-source
          text-align: center
          font-size: 13px
        .x-label 
          display: none  
        .x-label:nth-child(2n+3)
          display: block

        .chart-container
          height: auto
        .box-left,.box-sub-left,.box-right,.box-sub-right-mobile
          width: 100%
          float: none
        .box-sub-right-mobile
          margin-top: 2em !important
        .box-sub-right .chart-subtitle
          display: none
        .box-sub-right-mobile
          display: block
        .x-label text
          text-anchor: middle
          transform: translate(-8px, 18px)
        .chart-subtitle
          padding: 0.5rem
        li 
          padding: 4px 12px 2px 16px
        .legend-item-box
          height: 0.8em
          width: 0.8em
