extend /partials/layout

block append config
  - var datapath = "static/charts/png-fiscal/fig-12/data"
  - var colorpath = "static/charts/templates/colors/data"
  - _.extend(page, data.getOne(datapath))
  - _.extend(page, data.getOne(colorpath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"
  - chart = page
  
block page
  .wrapper.flex
    .txt-center.flex.flex-grow.flex-col
      .chart-title= chart.title
      .chart-subtitle.txt-muted.txt-tu.p-sm!= chart.subtitle
      .chart.flex-grow: .chart-content

        //- donut SVG
        .donut(class="svg-item")
          svg(width="100%" viewBox="0 0 88 54" class="donut")
            circle(class="donut-hole" cx="20" cy="10" r="15.91549430918954" fill="transparent")
            //- segments: stroke-dasharray for each segment adds up to 100, animated across 2 frames (see CSS)
            g
              circle(class="donut-ring" cx="44" cy="27" r="15.91549430918954" fill="transparent" stroke-width="10")
              circle(class="donut-segment donut-segment-1" cx="44" cy="27" r="15.91549430918954" fill="transparent" stroke-width="10" stroke-dashoffset="25")
              circle(class="donut-segment donut-segment-2" cx="44" cy="27" r="15.91549430918954" fill="transparent" stroke-width="10" stroke-dashoffset="25")
              circle(class="donut-segment donut-segment-3" cx="44" cy="27" r="15.91549430918954" fill="transparent" stroke-width="10" stroke-dashoffset="25")
              circle(class="donut-segment donut-segment-4" cx="44" cy="27" r="15.91549430918954" fill="transparent" stroke-width="10" stroke-dashoffset="25")
              circle(class="donut-segment donut-segment-5" cx="44" cy="27" r="15.91549430918954" fill="transparent" stroke-width="10" stroke-dashoffset="25")
              circle(class="donut-segment donut-segment-6" cx="44" cy="27" r="15.91549430918954" fill="transparent" stroke-width="10" stroke-dashoffset="25")
              circle(class="donut-segment donut-segment-7" cx="44" cy="27" r="15.91549430918954" fill="transparent" stroke-width="10" stroke-dashoffset="25")
              circle(class="donut-segment donut-segment-8" cx="44" cy="27" r="15.91549430918954" fill="transparent" stroke-width="10" stroke-dashoffset="25")

              //- labels & lines: fade in later on top
              g(class="pie-label")
               text(class="pie-label-text" transform="translate(30 1)" text-anchor="end" y="-3")
                 tspan(x="0" dy="0") Land mediation
                 tspan(x="-.5" dy="2") 0.2%
               path(class="pie-label-stroke" d="M31,-1L43,-1L43.5,5.2")
               text(class="pie-label-text" transform="translate(24.5 3)" text-anchor="end" y="-1")
                 tspan(x="0" dy="0") Village courts
                 tspan(x="-.5" dy="2") 1.2%
               path(class="pie-label-stroke" d="M25,3L41.5,3L42,5.3")
               text(class="pie-label-text" transform="translate(20 5)" text-anchor="end" y="2")
                 tspan(x="0" dy="0") Primary production
                 tspan(x="-.5" dy="2") 6.7%
               path(class="pie-label-stroke" d="M21,7.5L34.3,7.5")
               text(class="pie-label-text" transform="translate(16 5)" text-anchor="end" y="7")
                 tspan(x="0" dy="0") LLG and villages
                 tspan(x="-.5" dy="2") 7.0%
               path(class="pie-label-stroke" d="M17,12L28,12")
               text(class="pie-label-text" transform="translate(15 5.5)" text-anchor="end" y="15")
                tspan(x="0" dy="0") Other service
                tspan(x="-.5" dy="2") 7.8%
               path(class="pie-label-stroke" d="M23,21L16,21")
               text(class="pie-label-text" transform="translate(15 4.5)" text-anchor="end" y="25")
                tspan(x="0" dy="0") Administration
                tspan(x="-.5" dy="2") 7.2%
               path(class="pie-label-stroke" d="M22,30L16,30")
               text(class="pie-label-text" transform="translate(15 4.5)" text-anchor="end" y="40")
                 tspan(x="0" dy="0") Health
                 tspan(x="-.5" dy="2") 20.6%
               path(class="pie-label-stroke" d="M29,43L27,45L16,45")
               text(class="pie-label-text" transform="translate(66 5)" text-anchor="start" y="36")
                 tspan(x="0" dy="0") Education
                 tspan(x="0" dy="2") 21.1%
               path(class="pie-label-stroke" d="M62,40L63,41L65,41")
               text(class="pie-label-text" transform="translate(66 5)" text-anchor="start" y="4")
                 tspan Transport
                 tspan(x="0" dy="0") Transport infrastructure
                 tspan(x="0" dy="2") 28.2%
               path(class="pie-label-stroke" d="M60,12L63,9L65,9")

      //.row
        ul.legend.list-bare.txt-left.flex.flex-ch
          for ax, i in new Array(chart.series.length)
            if i
              li.legend-item
                span.legend-item-box(style=`background: ${chart.colors[chart.series[i].color]}`)
                span.legend-item-label= chart.series[i].title

      .chart-source.txt-left.txt-muted.txt-cond!= chart.source
      .chart-notes.txt-left.txt-muted.txt-cond!= chart.notes
      
      .tooltip

block append css
  style
    :sass
  
      .wrapper
        height: 550px

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: 20px
        left: 50px
        right: 20px
        bottom: 140px

      .chart-content > svg
        border-bottom: 1px solid #bbb

      .chart-title
        margin: auto
        font-size: 20px
        
      .chart-subtitle
        font-weight: 600
        height: 10px
        margin-top: -10px
        font-size: 15px
        
      .tooltip
        position: absolute
        left: 0
        background: #fffe
        padding: .75em
        opacity: 0
        border-radius: .2em
        box-shadow: 0 0 5px 0 #0004
        transition-duration: 0.5s
        pointer-events: none
        font-size: 14px
        text-transform: none
        max-width: 180px
        box-sizing: border-box

      li
        list-style: none
        margin: 0
        padding: 4px 16px 4px 24px

      .legend
        font-size: 15px
        margin-bottom: .75em

      .legend-item
        margin: 4px 8px 0
        padding-right: 0
        position: relative
        white-space: nowrap

      .legend-item-box
        position: absolute
        left: 0
        top: .5em
        height: 1em
        width: 1em
        background: black


      text
        font-size: 14px
        fill: currentColor

      .chart-value 
        font-size: 14px

      svg
        overflow: visible
        
      .chart-notes, .chart-source
        margin-top: 1em
        margin-left: 3em
        font-size: 15px
      .txt-muted
        color: #767676
        
      .chart-value
        opacity: 1
        transition-duration: .4s
        pointer-events: none
      
      .chart-content:hover .chart-value
        opacity: 1

      /* donut chart */

      .svg-item
        width: 90%
        animation: donutfade .5s
      .donut-ring
        stroke: #68389a
      .donut-segment-1
        stroke: #cab0d6
        animation: donut1 1s forwards
      .donut-segment-2
        stroke: #FBBCC0
        animation: donut2 1s forwards
      .donut-segment-3
        stroke: #DF0C1B
        animation: donut3 1s forwards
      .donut-segment-4
        stroke: #ff8800
        animation: donut4 1s forwards
      .donut-segment-5
        stroke: #ffc52b
        animation: donut5 1s forwards
      .donut-segment-6
        stroke: #a5dd75
        animation: donut6 1s forwards
      .donut-segment-7
        stroke: #16B56F
        animation: donut7 1s forwards
      .donut-segment-8
        stroke: #008A97
        animation: donut8 1s forwards
      .pie-label
        animation: donutfade 1s forwards

      @keyframes donutfade
        0%
          opacity: 0
        75%
          opacity: 0
        100%
          opacity: 1
      @keyframes donut1
        0%
          stroke-dasharray: 0, 100
        100%
          stroke-dasharray: 99.5, 0.5
      @keyframes donut2
        0%
          stroke-dasharray: 0, 100
        100%
          stroke-dasharray: 97.5, 2.5
      @keyframes donut3
        0%
          stroke-dasharray: 0, 100
        100%
          stroke-dasharray: 91, 9
      @keyframes donut4
        0%
          stroke-dasharray: 0, 100
        100%
          stroke-dasharray: 84, 16
      @keyframes donut5
        0%
          stroke-dasharray: 0, 100
        100%
          stroke-dasharray: 77, 23
      @keyframes donut6
        0%
          stroke-dasharray: 0, 100
        100%
          stroke-dasharray: 69, 31
      @keyframes donut7
        0%
          stroke-dasharray: 0, 100
        100%
          stroke-dasharray: 49, 51
      @keyframes donut8
        0%
          stroke-dasharray: 0, 100
        100%
          stroke-dasharray: 28, 72

      .donut .pie-label-text
        font-size: 1.6px
        fill: #4b4f56
        text-transform: none
        letter-spacing: 0.06em

      .donut .pie-label-stroke
        stroke: #4b4f56
        stroke-width: .2
        fill: none

      .title
        top: 24vh

      /* donut ends */
      


      @media (max-width: 700px)
        
        .x-label text
          text-anchor: end
          transform: rotate(-45deg) translate(-8px, 14px)

        text
          font-size: 13px

        .donut .pie-label-text
          font-size: 2.3px
          
      @media (max-width: 450px)
        .chart-content
          bottom: 40px
        .legend
          flex-direction: column
        .chart-title
          font-size: 18px
        .chart-subtitle
          font-size: 14px
        .chart-notes,
        .chart-source
          text-align: center
          font-size: 13px
        .donut .pie-label-text
          font-size: 3px
