ul.link-grid.list-bare.bg-dk.txt-lt
  for p, i in page.data
    li(class=(i > 2 ? "rhs" : "lhs"))
      a.txt-bare.flex-swap(
        href=`/features/indo-pacific-operating-system/essays/${p.href}/`
      )
        .thumbnail(style=`background-image: url('/features/indo-pacific-operating-system/img/essays/${p.href}.jpg')`)
        .meta.flex-col
          h5.lead-tight.mb-1!= p.title
          .author.txt-micro.fw600.opacity-50.mb-2!= p.author
          p.txt-md!= p.summary
