- nAuthors   = 6 
- isResponse = page.attributes.map[0] <= nAuthors

footer.mx-auto.article-w.txt-center.pv-lg
  
  .md
    a.bg-red.txt-ff.p-sm.br-sm.fw-4(href="/features/usa-rules-based-order/")
      span.icon.icon-left-arrow
      | &ensp;Back to debates menu
      
  if isResponse
    .md.pv-md.fw-4.txt-spaced
      span.sm.txt-tu OR
      | <br>Read an article mentioned in this response:

    .list.flex.flex-wrap
      each i in page.attributes.map
        - const index = i - 1
        - const item = page.feature.articles[index]

        .list-item.ease-out
          h4.xs.txt-tu.txt-mute.txt-left= item.author

          a.thumb.br-sm(
            href=`/features/usa-rules-based-order/articles/${item.href}/`
          )
            img(height="150" width="100%" src=`../../img/${item.img}`)

          h2.md.txt-semi.txt-left
            a.txt-bare.ease-out(
              href=`/features/usa-rules-based-order/articles/${item.href}/`
            )!= item.title

          p.sm.txt-semi.txt-justify!= item.quote
        
  else
    .md.pv-md.fw-4.txt-spaced
      span.sm.txt-tu OR
      br
      | Read responses to this article:

    .list.flex.flex-wrap
      each i in page.attributes.map
        - const index = i - nAuthors - 1
        - const item = page.feature.responses[index]
        .list-item.ease-out
          h4.xs.txt-tu.txt-mute.txt-left= item.author

          a.thumb.br-sm(
            href=`/features/usa-rules-based-order/responses/${item.href}`
          )
            img(height="150" width="100%" src=`../../img/${item.img}`)

          h2.md.txt-semi.txt-left
            a.txt-bare.ease-out(
              href=`/features/usa-rules-based-order/responses/${item.href}`
            )!= item.title

          p.sm.txt-semi.txt-justify!= item.quote
