extend /partials/layout

block append config
  - var datapath = "static/charts/china-influence-un/fig-1/data"
  - var colorpath = "static/charts/templates/colors/data"
  - _.extend(page, data.getOne(datapath))
  - _.extend(page, data.getOne(colorpath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"
  - isEmpty = (y) => (y === undefined || y == null || y.length <= 0)
  - chart = page
  
block page
  .wrapper.flex
    .txt-center.flex.flex-grow.flex-col
      .chart-title= chart.title
      .chart-subtitle.txt-muted.txt-tu.p-sm!= chart.subtitle
      .chart.flex-grow: .chart-content
        - ln = chart.series[0].values.length
        - axes = chart.axes
        - minY = axes.minY
        - maxY = axes.maxY
        - range = maxY - minY
        - fx = (i) => (i + 0.6) / (ln + 0.25)
        - fy = (y) => (y - minY) / range
        
        svg(height="100%" width="100%")

          // CHART 1: fig-7a
          svg(height="100%" width="44%" x="0" y="0")
            //-- Y-Axis labels
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0%
              svg(y="83.33%")
                text(text-anchor="end" transform="translate(-8 4)") 5%
              svg(y="66.67%")
                text(text-anchor="end" transform="translate(-8 4)") 10%
              svg(y="50.00%")
                text(text-anchor="end" transform="translate(-8 4)") 15%
              svg(y="33.33%")
                text(text-anchor="end" transform="translate(-8 4)") 20%
              svg(y="16.67%")
                text(text-anchor="end" transform="translate(-8 4)") 25%
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(-8 4)") 30%

            // -- Y-Axis minor lines
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="0%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="16.67%" x2="100%" y2="16.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="33.33%" x2="100%" y2="33.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="50.00%" x2="100%" y2="50.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="66.67%" x2="100%" y2="66.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="83.33%" x2="100%" y2="83.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="100.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="100%" y1="0.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")

            // X-Axis labels
            svg(class="x-label" x="5.33%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2010
            svg(class="x-label" x="14.22%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2011
            svg(class="x-label" x="23.11%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2012
            svg(class="x-label" x="32.00%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2013
            svg(class="x-label" x="40.89%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2014
            svg(class="x-label" x="49.78%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2015
            svg(class="x-label" x="58.67%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2016
            svg(class="x-label" x="67.56%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2017
            svg(class="x-label" x="76.44%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2018
            svg(class="x-label" x="85.33%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2019
            svg(class="x-label" x="94.22%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2020

            // OPTIONAL GUIDE LINE
            // CHART LINES
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              // SERIES LINES
              polyline(fill="none" stroke="#539ed4" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 89.13957544333333,14.222222222222221 89.05895321333334,23.111111111111114 88.92542610999999,32 89.56657295999999,40.888888888888886 89.85352998,49.77777777777778 90.23737169,58.666666666666664 90.07558689666666,67.55555555555556 90.14187903333332,76.44444444444444 90.10018017333333,85.33333333333333 90.33053887333334,94.22222222222221 90.58325279666666")
              polyline(fill="none" stroke="#16B56F" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 80.17085232666666,14.222222222222221 80.32507641,23.111111111111114 79.95852590666667,32 77.82326601666666,40.888888888888886 78.31751360666667,49.77777777777778 78.48544595666667,58.666666666666664 79.76800843999999,67.55555555555556 81.02745504666667,76.44444444444444 81.16728719333334,85.33333333333333 82.18166050333333,94.22222222222221 83.01276036333333")
              polyline(fill="none" stroke="#ff8800" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 73.58586618666666,14.222222222222221 73.97460266000002,23.111111111111114 74.18049128333332,32 75.12813007000001,40.888888888888886 76.46053115666666,49.77777777777778 76.46125171333334,58.666666666666664 77.77734880666665,67.55555555555556 78.60407885999999,76.44444444444444 78.70746959666666,85.33333333333333 79.01984282333333,94.22222222222221 79.37790777666666")
              polyline(fill="none" stroke="#68389a" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 84.13931661333334,14.222222222222221 84.22591911,23.111111111111114 83.90389972999999,32 84.46534850333333,40.888888888888886 85.33674688,49.77777777777778 85.36908883,58.666666666666664 86.54979918666666,67.55555555555556 87.44121463333333,76.44444444444444 87.49786927999999,85.33333333333333 88.16586953000001,94.22222222222221 88.74018274333334")
              polyline(fill="none" stroke="#bd5d92" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 57.18573933333334,14.222222222222221 59.90690493333334,23.111111111111114 61.007304,32 62.733290299999986,40.888888888888886 64.70611006666667,49.77777777777778 64.76793333333333,58.666666666666664 66.54781053333333,67.55555555555556 67.99517454000001,76.44444444444444 68.00847084666667,85.33333333333333 69.69645140666665,94.22222222222221 71.33563732")
              polyline(fill="none" stroke="#a3bc3e" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 95.40230560333333,14.222222222222221 95.11650738333334,23.111111111111114 94.71744730666667,32 92.23267395666667,40.888888888888886 90.64202095,49.77777777777778 90.57613545666666,58.666666666666664 89.23658205,67.55555555555556 88.35868554000001,76.44444444444444 88.31516811333333,85.33333333333333 89.73052565333333,94.22222222222221 90.89620846000001")
              polyline(fill="none" stroke="#ffc52b" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 90.13624999333332,14.222222222222221 90.01836259,23.111111111111114 89.82529058333333,32 89.91266065666666,40.888888888888886 90.24193877333333,49.77777777777778 90.23150966666668,58.666666666666664 91.08969038333333,67.55555555555556 91.81855728000001,76.44444444444444 91.83804967333333,85.33333333333333 92.28876148333333,94.22222222222221 92.68475052333334")
              polyline(fill="none" stroke="#a37c09" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 79.24473377000001,14.222222222222221 79.30407860000001,23.111111111111114 79.00054387333333,32 78.27603773,40.888888888888886 80.24195974333334,49.77777777777778 80.23093418333332,58.666666666666664 81.45815927666666,67.55555555555556 82.70966190333333,76.44444444444444 82.72631012000001,85.33333333333333 82.69629746333334")
              polyline(fill="none" stroke="#F59894" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 24.989467566666665,14.222222222222221 24.4200226,23.111111111111114 25.508088233333336,32 15.509868366666666,40.888888888888886 13.611496099999995,49.77777777777778 12.603822366666673,58.666666666666664 12.8131926,67.55555555555556 14.367371533333337,76.44444444444444 15.216031200000005,85.33333333333333 18.689713333333334,94.22222222222221 19.696033599999996")
              polyline(fill="none" stroke="#ff4050" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 89.85407404,14.222222222222221 89.49566062333332,23.111111111111114 89.51664796666667,32 84.09728983666666,40.888888888888886 80.40964232666667,49.77777777777778 80.34640045333333,58.666666666666664 74.66731566666667,67.55555555555556 70.27822345333334,76.44444444444444 70.46988678333332,85.33333333333333 62.65851350000001,94.22222222222221 56.33525363333334")

            g
              circle(r="4" cx="5.33%" cy="89.14%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="89.06%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="88.93%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="89.57%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="89.85%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="90.24%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="90.08%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="90.14%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="90.10%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="90.33%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="90.58%" fill="#539ed4" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="80.17%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="80.33%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="79.96%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="77.82%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="78.32%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="78.49%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="79.77%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="81.03%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="81.17%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="82.18%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="83.01%" fill="#16B56F" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="73.59%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="73.97%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="74.18%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="75.13%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="76.46%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="76.46%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="77.78%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="78.60%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="78.71%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="79.02%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="79.38%" fill="#ff8800" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="84.14%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="84.23%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="83.90%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="84.47%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="85.34%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="85.37%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="86.55%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="87.44%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="87.50%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="88.17%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="88.74%" fill="#68389a" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="57.19%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="59.91%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="61.01%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="62.73%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="64.71%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="64.77%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="66.55%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="68.00%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="68.01%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="69.70%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="71.34%" fill="#bd5d92" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="95.40%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="95.12%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="94.72%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="92.23%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="90.64%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="90.58%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="89.24%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="88.36%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="88.32%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="89.73%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="90.90%" fill="#a3bc3e" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="90.14%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="90.02%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="89.83%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="89.91%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="90.24%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="90.23%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="91.09%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="91.82%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="91.84%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="92.29%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="92.68%" fill="#ffc52b" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="79.24%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="79.30%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="79.00%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="78.28%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="80.24%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="80.23%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="81.46%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="82.71%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="82.73%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="82.70%" fill="#a37c09" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="24.99%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="24.42%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="25.51%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="15.51%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="13.61%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="12.60%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="12.81%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="14.37%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="15.22%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="18.69%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="19.70%" fill="#F59894" stroke="#fff" stroke-width="0")

            g
              circle(r="6" cx="5.33%" cy="89.85%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="14.22%" cy="89.50%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="23.11%" cy="89.52%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="32.00%" cy="84.10%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="40.89%" cy="80.41%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="49.78%" cy="80.35%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="58.67%" cy="74.67%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="67.56%" cy="70.28%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="76.44%" cy="70.47%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="85.33%" cy="62.66%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="94.22%" cy="56.34%" fill="#ff4050" stroke="#fff" stroke-width="0")


          // CHART 2: fig-7b
          svg(height="100%" width="44%" x="52%" y="0")     
          
            // Y-Axis labels
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0%
              svg(y="87.50%")
                text(text-anchor="end" transform="translate(-8 4)") 0.005%
              svg(y="75.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0.01%
              svg(y="62.50%")
                text(text-anchor="end" transform="translate(-8 4)") 0.015%
              svg(y="50.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0.02%
              svg(y="37.50%")
                text(text-anchor="end" transform="translate(-8 4)") 0.025%
              svg(y="25.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0.03%
              svg(y="12.50%")
                text(text-anchor="end" transform="translate(-8 4)") 0.035%
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0.04%

            // Y-Axis minor lines
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="0%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="16.67%" x2="100%" y2="16.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="33.33%" x2="100%" y2="33.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="50.00%" x2="100%" y2="50.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="66.67%" x2="100%" y2="66.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="83.33%" x2="100%" y2="83.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="100.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="100%" y1="0.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")

            // X-Axis labels
            svg(class="x-label" x="5.33%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2010
            svg(class="x-label" x="14.22%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2011
            svg(class="x-label" x="23.11%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2012
            svg(class="x-label" x="32.00%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2013
            svg(class="x-label" x="40.89%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2014
            svg(class="x-label" x="49.78%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2015
            svg(class="x-label" x="58.67%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2016
            svg(class="x-label" x="67.56%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2017
            svg(class="x-label" x="76.44%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2018
            svg(class="x-label" x="85.33%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2019
            svg(class="x-label" x="94.22%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2020

            // OPTIONAL GUIDE LINE
            // CHART LINES
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              // SERIES LINES
              polyline(fill="none" stroke="#539ed4" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 77.06217749999999,14.222222222222221 78.01791250000001,23.111111111111114 74.325165,32 44.2513675,40.888888888888886 42.7900775,49.77777777777778 32.52337750000001,58.666666666666664 32.76399750000001,67.55555555555556 38.96006250000001,76.44444444444444 42.573017500000006,85.33333333333333 43.5121225,94.22222222222221 41.45042")
              polyline(fill="none" stroke="#16B56F" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 74.3932125,14.222222222222221 75.258045,23.111111111111114 68.3448675,32 22.18188,40.888888888888886 22.701642500000005,49.77777777777778 5.108977499999994,58.666666666666664 15.308527500000006,67.55555555555556 25.342490000000005,76.44444444444444 32.4663175,85.33333333333333 33.55088,94.22222222222221 33.92835")
              polyline(fill="none" stroke="#ff8800" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 73.45960000000001,14.222222222222221 74.98993,23.111111111111114 68.97093,32 34.27413500000001,40.888888888888886 38.3742375,49.77777777777778 24.57863,58.666666666666664 33.70151,67.55555555555556 40.80088,76.44444444444444 46.4202425,85.33333333333333 45.090072500000005,94.22222222222221 45.14992")
              polyline(fill="none" stroke="#68389a" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 74.636575,14.222222222222221 75.235365,23.111111111111114 67.30729,32 28.4389175,40.888888888888886 30.946342500000007,49.77777777777778 14.298969999999994,58.666666666666664 25.823417500000005,67.55555555555556 34.626115000000006,76.44444444444444 40.186797500000004,85.33333333333333 40.121975,94.22222222222221 39.133404999999996")
              polyline(fill="none" stroke="#bd5d92" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 74.6052725,14.222222222222221 76.8243625,23.111111111111114 73.64907000000001,32 29.454590000000003,40.888888888888886 26.6189525,49.77777777777778 14.727049999999995,58.666666666666664 30.792344999999997,67.55555555555556 33.716515,76.44444444444444 36.44470999999999,85.33333333333333 39.8068525,94.22222222222221 41.816075000000005")
              polyline(fill="none" stroke="#a3bc3e" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 89.70085,14.222222222222221 91.39976750000001,23.111111111111114 89.860175,32 66.569205,40.888888888888886 53.731154999999994,49.77777777777778 25.643645,58.666666666666664 12.732874999999993,67.55555555555556 24.48159,76.44444444444444 29.437455,85.33333333333333 38.274170000000005,94.22222222222221 37.4213775")
              polyline(fill="none" stroke="#ffc52b" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 76.30716500000001,14.222222222222221 75.7114775,23.111111111111114 67.44379,32 26.553502500000004,40.888888888888886 27.544807500000008,49.77777777777778 12.101855000000004,58.666666666666664 25.186620000000005,67.55555555555556 36.345642500000004,76.44444444444444 42.51396750000001,85.33333333333333 43.6669125,94.22222222222221 41.599537500000004")
              polyline(fill="none" stroke="#a37c09" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 71.53947000000001,14.222222222222221 72.12287,23.111111111111114 67.2646175,32 23.537189999999995,40.888888888888886 34.837472500000004,49.77777777777778 28.0657725,58.666666666666664 29.50672,67.55555555555556 34.5803125,,85.33333333333333 38.934272500000006,94.22222222222221 35.7876525")
              polyline(fill="none" stroke="#F59894" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 82.973585,14.222222222222221 82.54341749999999,23.111111111111114 80.5735475,32 50.505030000000005,40.888888888888886 49.88404750000001,49.77777777777778 48.3565125,58.666666666666664 51.7228475,67.55555555555556 55.10796,76.44444444444444 58.66236500000001,85.33333333333333 61.283722499999996,94.22222222222221 60.679294999999996")
              polyline(fill="none" stroke="#ff4050" stroke-dasharray="" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" points="5.333333333333333 94.306435,14.222222222222221 94.98807,23.111111111111114 94.79187499999999,32 83.60466749999999,40.888888888888886 80.95969,49.77777777777778 80.88544750000001,58.666666666666664 76.6550125,67.55555555555556 75.3445575,76.44444444444444 78.7297325,85.33333333333333 73.3884475,94.22222222222221 69.58565499999999")

            g
              circle(r="4" cx="5.33%" cy="77.06%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="78.02%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="74.33%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="44.25%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="42.79%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="32.52%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="32.76%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="38.96%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="42.57%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="43.51%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="41.45%" fill="#539ed4" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="74.39%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="75.26%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="68.34%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="22.18%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="22.70%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="5.11%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="15.31%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="25.34%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="32.47%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="33.55%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="33.93%" fill="#16B56F" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="73.46%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="74.99%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="68.97%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="34.27%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="38.37%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="24.58%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="33.70%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="40.80%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="46.42%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="45.09%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="45.15%" fill="#ff8800" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="74.64%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="75.24%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="67.31%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="28.44%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="30.95%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="14.30%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="25.82%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="34.63%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="40.19%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="40.12%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="39.13%" fill="#68389a" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="74.61%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="76.82%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="73.65%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="29.45%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="26.62%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="14.73%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="30.79%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="33.72%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="36.44%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="39.81%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="41.82%" fill="#bd5d92" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="89.70%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="91.40%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="89.86%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="66.57%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="53.73%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="25.64%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="12.73%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="24.48%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="29.44%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="38.27%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="37.42%" fill="#a3bc3e" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="76.31%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="75.71%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="67.44%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="26.55%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="27.54%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="12.10%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="25.19%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="36.35%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="42.51%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="43.67%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="41.60%" fill="#ffc52b" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="71.54%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="72.12%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="67.26%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="23.54%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="34.84%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="28.07%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="29.51%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="34.58%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="100.00%" fill="#fff" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="38.93%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="35.79%" fill="#a37c09" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="5.33%" cy="82.97%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="14.22%" cy="82.54%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="23.11%" cy="80.57%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="32.00%" cy="50.51%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="40.89%" cy="49.88%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="49.78%" cy="48.36%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="58.67%" cy="51.72%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="67.56%" cy="55.11%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="76.44%" cy="58.66%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="85.33%" cy="61.28%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.22%" cy="60.68%" fill="#F59894" stroke="#fff" stroke-width="0")

            g
              circle(r="6" cx="5.33%" cy="94.31%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="14.22%" cy="94.99%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="23.11%" cy="94.79%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="32.00%" cy="83.60%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="40.89%" cy="80.96%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="49.78%" cy="80.89%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="58.67%" cy="76.66%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="67.56%" cy="75.34%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="76.44%" cy="78.73%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="85.33%" cy="73.39%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="94.22%" cy="69.59%" fill="#ff4050" stroke="#fff" stroke-width="0")

      
      .row
        ul.legend.legend.list-bare.txt-left.flex.flex-ch.flex-wrap
          for ax, i in new Array(chart.series.length)
            if i
              li.legend-item
                span.legend-item-box(style=`background: ${chart.colors[chart.series[i].color]}`)
                span.legend-item-label= chart.series[i].title

      .chart-source.txt-right.txt-muted.txt-cond!= chart.source
      .chart-notes.txt-right.txt-muted.txt-cond!= chart.notes
  
block append css
  style
    :sass
    
      .wrapper
        height: 650px
        max-width: 1062px

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: 20px
        left: 50px
        right: 20px
        bottom: 40px

      .chart-title
        margin: auto
        font-size: 20px
        
      .chart-subtitle
        font-weight: 600
        height: 10px
        margin-top: -10px
        font-size: 15px
        
      .tooltip
        position: absolute
        left: 0
        background: #fffe
        padding: .75em
        opacity: 1
        border-radius: .2em
        box-shadow: 0 0 5px 0 #0004
        transition-duration: 0.5s
        pointer-events: none
        font-size: 14px
        text-transform: lowercase
        max-width: 180px
        box-sizing: border-box

      li
        list-style: none
        margin: 0
        padding: 4px 16px 4px 24px

      .legend
        font-size: 11px
        margin-top: 1.5em

      .legend-item
        margin: 4px 8px 0
        padding-right: 0
        position: relative
        white-space: nowrap

      .legend-item-box
        position: absolute
        left: 0
        top: .5em
        height: 1em
        width: 1em
        background: black
        border-radius: 50%

      polyline
        vector-effect: non-scaling-stroke

      text
        font-size: 11px
        fill: currentColor

      svg
        overflow: visible
        
      .chart-notes, .chart-source
        margin-right: 2em
        font-size: 11px
        
      .chart-value
        opacity: 0
        transition-duration: .4s
        pointer-events: none
      
      .chart-content:hover .chart-value
        opacity: 1

      .txt-muted
        color: #767676


      @media (max-width: 700px)
        
        .x-label text
          text-anchor: end
          transform: rotate(-45deg) translate(-8px, 24px)
        

        text
          font-size: 11px
          
      @media (max-width: 450px)
        .chart-content
          bottom: 40px
        .legend
          /* flex-direction: column */
        .chart-title
          font-size: 16px
        .chart-subtitle
          font-size: 14px
        .chart-notes,
        .chart-source
          text-align: center
          font-size: 13px

        .x-label 
          display: none  
        .x-label:nth-child(2n+3)
          display: block
