
for key in ["age"]
  .wrapper.flex.bg-ff.txt-dk(style="padding:24px;")
    .slide-inner(data-view="in-viewport" style="width:100%;")
      .type.txt-md.txt-left.posa.fade-in(
        data-view="slide, in-viewport"
        data-duration=1000
      )
        span.line.bg-lta
          = page.data.makeup[key].title

      .bars.txt-mid.fh.txt-sm.fade-in
        for item, j in page.data.makeup[key].data
          .bar-group.flex-cv(style="padding-top: 40px; height:90%;")
            strong.txt-sans.bar-group-label.txt-center.txt-tu.fade-in(
              class=[
                j > 0 ? "txt-hl delay-12" : "txt-mid delay-8"
              ]
            )
              = item.label

            for value, i in item.values
              .bar.bar-border.bar-border-mid(
                data-view="bars, in-viewport"
                data-duration=(2000 - j * 400)
                data-delay=(j * 400 + i * 40)
                data-value=value
                data-direction=(j > 0 ? 1 : -1)
                data-suffix="%"
              )
                .bar-bg(
                  style=`width: ${value / page.data.makeup[key].scale}%`
                  class=[
                    j > 0 ? "bg-hl txt-ff l0" : "bg-mid txt-ff r0"
                  ]
                )
                  .bar-value(
                    class=[
                      value / page.data.makeup[key].scale < 15 ? "bar-value-outside txt-mid" : "",
                      j > 0 ? "bar-value-right" : ""
                    ]
                  )
                    = value || ""

                .bar-label(
                  class=[
                      j > 0 ? "txt-right" : "txt-left"
                    ]
                  style="font-size:16px;"
                )
                  if value > 0
                    if Array.isArray(page.data.makeup[key].labels[i])
                      = page.data.makeup[key].labels[i][j]
                    else
                      = page.data.makeup[key].labels[i]

      .posa.txt-muted.fade-in.delay-8(style="bottom: 0; right: 0")
        | Source: CCP Organization Department (2017)
