extend /partials/layout

block append config
  - page.class = "essay"
  - page.image = "https://interactives.lowyinstitute.org/features/9-11/img/thumb.png"
  - page.data = data.getOne("static/features/9-11/data/essays")
  - page.essay = page.data.essays.find(e => e.author === author)
  - page.index = page.data.essays.findIndex(e => e === page.essay)
  - page.next = page.data.essays[page.index === 5 ? 0 : page.index + 1]

block prepend head
  - page.url = "https://interactives.lowyinstitute.org/features/9-11/"
  - page.url += "essays/" + page.essay.href
  - page.metaTitle = `${page.essay.title} - Did 9/11 define our world? – Lowy Insitute`
  - page.description = "Six experts debate the legacy of September 11, twenty years on."

block page
  
  - const slugify = s => s.toLowerCase().replace(/[^\w\s]/g,"").split(/\s/).join("-")
  
  include _mixins

  #submenu.fixed.flex-ch.text-mini.txt-center
    #progress.absolute
    a.flex-1.bare.current(href="#title-anchor")
      span.hide-sm Ask the expert
      span.show-sm Essay
    a.flex-1.bare(href="#qanda-anchor") Challenge 
      span.hide-sm the expert
  
  aside
    include _menu
    include _logo

  article(data-section)#title-anchor
    h1= page.essay.title
    .mini-profile.flex.items-center.my-6
      img.thumbnail(src=`../../img/authors/${slugify(page.essay.author)}-thumb.jpg` width="50" height="50")
      .col.mx-4
        .text-mini.mb-0= page.essay.author
        .text-mini.txt-muted.mb-0!= page.essay.position
    hr
    p.opacity-50.fw-400.mb-8
      | In response to the question: 
      em September 11 changed America, but did it change the world?
    #essay
      block body
    hr#qanda-anchor.my-20(data-section style="border-bottom: 3px solid #002b45")
    h1.type.wrappable(data-view="type, in-viewport" data-norepeat)
      .line Challenge the expert
    p.opacity-50.fw-400.mb-8
      | Lydia Khalil, Lowy Institute’s resident expert on terrorism and extremism, challenges 
      span= page.essay.author
      | ’s key arguments.
    hr
    #qanda
      block qanda
    hr.my-20
    .profile
      img.profile-img.float-left(src=`../../img/authors/${slugify(page.essay.author)}.jpg` width="220")
      p.profile-text!= page.essay.bio
      
  #next.fixed.inset-0
    a.node.bare.relative(href=`/features/9-11/essays/${page.next.href}`)
      .card.flex
        em.flex-cv.text-mini.fw-400 Next<br>article
        .flex-cv.pl-8.ml-8.border-l-soft
          .text-micro.txt-muted= page.next.author
          .text-mini= page.next.title
          //- .absolute.icon.icon-right-arrow(style="right: 2rem")

block append css
  style
    include:sass ../styles/_app.sass
    include:sass ../styles/_article.sass
    
block append scripts
  script
    include:coffee ../scripts/utils.coffee
    include:coffee ../scripts/base.coffee
    include:coffee ../scripts/article.coffee
    include:coffee ../scripts/type.coffee
