extend /partials/layout

block append config
  - page.class = "essay"
  - page.image = "http://interactives.lowyinstitute.org/features/9-11/img/thumbnail.jpg"
  - page.essay = data.getOne("static/features/9-11/data/essays").essays.find(e => e.author === author)
  - essay = page.essay

block prepend head
  - page.url = "https://interactives.lowyinstitute.org/features/9-11/"
  - page.url += "essays/" + page.essay.href
  - page.metaTitle = `${page.essay.title} - 9/11 – Lowy Insitute`

block page
  
  - const slugify = s => s.toLowerCase().replace(/[^\w\s]/g,"").split(/\s/).join("-")
  
  include _logo
  include _mixins
    
  #submenu.fixed.flex-ch.text-mini.txt-center
    #progress.absolute
    a.flex-1.bare.current(href="#title-anchor")
      span.hide-sm Ask the expert
      span.show-sm Essay
    a.flex-1.bare(href="#qanda-anchor") Challenge 
      span.hide-sm the expert
  
  aside
    include _menu

  article(data-section)#title-anchor
    h1= page.essay.title
    .text-mini.mb-4= "By " + page.essay.author
    p.opacity-50.fw-400.mb-8
      | In response to the question: 
      em The September 11 attacks certainly changed America, but did they change the world?
    #essay
      block body
    hr#qanda-anchor.my-20(data-section)
    h1.type.wrappable(data-view="type, in-viewport" data-norepeat)
      .line Challenge the expert
    p.opacity-50.fw-400.mb-8 Lydia Khalil, Lowy Institute's resident expert on terrorism and extremism, challenges our contributor's key arguments.
    #qanda
      block qanda
    hr.my-20
    .profile.flex
      img.profile-img(src=`../../img/authors/${slugify(page.essay.author)}.jpg` width="200")
      p.profile-text.ml-4!= page.essay.bio
    
      

block append css
  style
    include:sass ../styles/_app.sass
    include:sass ../styles/_article.sass
    
block append scripts
  script
    include:coffee ../scripts/utils.coffee
    include:coffee ../scripts/base.coffee
    include:coffee ../scripts/article.coffee
    include:coffee ../scripts/type.coffee
