- page.essays = data.getOne("static/features/9-11/data/essays").essays

#scale.flex-col.flex-1.relative
  .divider.absolute.txt-muted(style="top:50%; left:0; right:0; border-bottom: 1px solid")
  .agree.flex-cv.flex-1.relative
    .label.text-micro.txt-muted.absolute Agree
    for item, i in page.essays.filter(p => p.scale)
      - len = page.essays.filter(p => p.scale).length
      a.node.bare.show-sm(
        slide
        rel="prefetch"
        href=`/features/9-11/essays/${item.href}`
        style=`animation-delay: ${50 * (len - i)}ms; transform: translateY(${50}%)`
      )
        .linkage
        .card
          .text-micro.txt-muted= item.author
          .text-mini= item.title
  .disagree.flex-cv.flex-1.relative
    .label.text-micro.txt-muted.absolute Disagree
    for item, i in page.essays.filter(p => !p.scale)
      a.node.bare.show-sm(
        slide
        rel="prefetch"
        href=`/features/9-11/essays/${item.href}`
        style=`animation-delay: ${50 * (i+1)}ms; transform: translateY(${-50}%)`
      )
        .linkage
        .card
          .text-micro.txt-muted= item.author
          .text-mini= item.title
  
  
  
//-  .col.flex-col.text-micro.txt-right.txt-muted.relative
    
    .label.flex-cv Agree
  .col.flex-col.relative.flex-1
    for item, i in page.essays
      a.node.absolute.bare(
        fade
        class=(i % 2 ? "left" : "right")
        href="/features/9-11/essays/placeholder"
        style=`animation-delay: ${300 * i}ms; top: ${10*item.scale}%;`
      )
        .linkage
        .card
          .text-micro.txt-muted= item.author
          .text-mini= item.title
          
