- page.essays = data.getOne("static/features/9-11/data/essays").essays

#scale.flex.flex-1
  .col.flex-col.text-micro.txt-right.txt-muted
    .label.flex-cv Disagree
    .label.flex-cv Neutral
    .label.flex-cv Agree
  .col.flex-col.relative.flex-1
    for item, i in page.essays
      a.node.absolute.bare(
        fade
        class=(i % 2 ? "left" : "right")
        href="/features/9-11/essays/placeholder"
        style=`animation-delay: ${300 * i}ms; top: ${10*item.scale}%;`
      )
        .linkage
        .card
          .text-micro.txt-muted= item.author
          .text-mini= item.title
