mixin gallery-image(slide, src) 
  .background-image(
    class=`background-image-${slide}`
    style=`background-image: url("./img/${src}")`
  )

mixin gallery-slider(slide, src) 
  .background-slider(
    data-slide=slide
    class=`background-slider-${slide}`
    style=`background-image: url("./img/${src}")`
  )

#background-gallery
  +gallery-image(0, "bligh-st-front.jpg")
  +gallery-image(1, "bligh-st-front-oblique.jpg")
  +gallery-image(2, "frank-lowy-1.jpg")
  +gallery-image(3, "michael-and-sanna-marin.jpg")
  +gallery-image(4, "man-of-contradictions.jpg")
  +gallery-image(6, "interpreter-phone.jpg")
  +gallery-image(7, "pm-samoa.jpg")
  +gallery-image(8, "town-hall.jpg")
  +gallery-slider(9, "collage-2@sm.jpg")
  +gallery-image(11, "frank-lowy-2.jpg")
  +gallery-image(12, "staff.jpg")
  +gallery-image(13, "youtube-thumbnail.webp")
