-
  getImageSet = (src, ext, sizes = []) => {
    sizes.unshift("")
    imageset = sizes.map(s => `url("./img/${src}${s}.${ext}")`).join(", ")
    return `background-image: url("./img/${src}.${ext}"); background-image: -webkit-image-set(${imageset}); background-image: image-set(${imageset})`
  }

mixin gallery-image(slide, src, ext = "jpg", sizes)
  .background-image(
    class=`background-image-${slide}`
    style=getImageSet(src, ext, sizes)
  )

mixin gallery-slider(slide, src, ext = "jpg", sizes) 
  .background-slider(
    data-slide=slide
    class=`background-slider-${slide}`
    style=getImageSet(src, ext, sizes)
  )

mixin gallery-video(slide, src) 
  .background-video(class=`background-video-${slide}`)
    video(autoplay loop muted playsinline loading="lazy")
      source(src=`./img/${src}` type="video/mp4")

#background-gallery
  +gallery-image(0, "bligh-st-front")
  +gallery-image(1, "bligh-st-front-oblique")
  +gallery-image(2, "frank-lowy-1")
  +gallery-image(3, "michael-and-sanna-marin")
  +gallery-image(4, "man-of-contradictions")
  +gallery-image(6, "interpreter-phone")
  +gallery-image(7, "pm-samoa")
  +gallery-video(8, "lowy-lecture.mp4")
  +gallery-slider(9, "collage-1", "jpg", ["@sm"])
  +gallery-image(11, "frank-lowy-2")
  +gallery-image(12, "staff")
  +gallery-image(13, "youtube-thumbnail", "webp")
  +gallery-slider(14, "collage-2", "jpg", ["@sm"])
