extend /partials/layout

block append config
  - page.title = "Total gender financing in US$ (current) by recipient"
  - page.subtitle = "2008-2020"

block page
  - chart = data.getOne("static/charts/gender-financing/fig-10/data").series[0]
  - inorder = _.sortBy(chart.countries, (f) => f.values[0] ).reverse() // sorts by values of the first year for each country'

  #wrapper.txt-sans(data-view="match")
    .txt-center.chart-title= page.title
    .txt-center.chart-subtitle.txt-muted.txt-tu.p-sm!= page.subtitle
    #chart-wrapper
    
      svg(
        width="100%"
        height="100%"
        data-view="line, in-viewport"
        data-duration=4000
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      )
        svg(
          width="100%"
          height="100%"
        )
          - nb = (_.last(chart.scale) - chart.scale[0])
          for n, i in new Array(nb + 1)
            - x = i / nb * 99.8 + "%"
            g
              rect.fill-v(x=x width=1 y="100%" height="6")

              if (chart.scale[0] + i) % 1 == 0
                text(
                  x=x
                  y="100%"
                  text-anchor="middle"
                  transform="translate(0 20)"
                )
                  = chart.scale[0] + i

        - nb = 5
        svg(
          width="100%"
          height="100%"
        )
          for n, i in new Array(nb)
            - y = (0.02 / 0.32 + 0.3 / 0.32 * (i / nb)) * 100 + "%"
            g
              rect.fill-h(
                y=y
                width="100%"
                height=1
                opacity=0.4
                transform="translate(0 -0.5)"
              )
              text(
                x="100%"
                y=y
                transform="translate(8 7)"
              )
                | $#{1000 - i * (1000/nb)} M

        svg(
          width="100%"
          height="100%"
          viewBox="0 0 100 100"
          preserveAspectRatio="none"
        )
          polyline.baseline(
            points="0,99.8076 100,99.8077" stroke="#c6c9d0" stroke-width=1
          )

        for country, i in inorder
          svg.countryline
            g(
              opacity=(0.4 + i / 6 * .5).toFixed(2)
              data-id=i
              data-link=i
            )
              svg(
                x="0"
                width="100%"
                height="100%"
                viewBox="0 0 100 100"
                preserveAspectRatio="none"
              )
                // -- wide white background line that mirrors the visible line
                //polyline.line(
                  stroke-width=12
                  fill="none"
                  stroke="#fff"
                  opacity=0
                  points=(
                    country.values.map(
                      (e,i,a) => [
                        i / (a.length - 1) * 100,
                        100 - (e / 1.082) 
                        ].map((e) => e.toFixed(2)).join(",")
                    ).join(" ")
                  )
                //)
                // 1.002 value set by eye to scale the lines to the Y-axis 
                polyline.line(
                  data-id=i
                  data-link=i
                  stroke-width=3
                  fill="none"
                  stroke=country.code == "other" ? "#008a9770" : "#f90"
                  points=(
                    country.values.map(
                      (e,i,a) => [
                        i / (a.length - 1) * 100,
                        100 - (e / 1.082)
                        ].map((e) => e.toFixed(2)).join(",")
                    ).join(" ")
                  )
                )

    #chart-labels
      for country, i in inorder
        label.chart-label(
          style=`top: ${[5,12,19,26,33,40,47,54,61,68,75,82,89,96][i]}%`
          class=(country.code == "other" ? "txt-muted" : "")
          data-id=i
          data-link=i
        )
          span.legend-item-box
          | #{country.name}

    .chart-source.txt-left.txt-muted.txt-cond
      | <strong>Source:</strong> Lowy Institute <a href="https://pacificaidmap.lowyinstitute.org/">Pacific Aid Map</a>

block append css
  style
    :sass
      .fill-h, .fill-v
        fill: #ccc

      path, polyline
        vector-effect: non-scaling-stroke

        .active &,
        .inactive &
          stroke: #008a97

      $red: #ff4050
      $blue: #539ed4
      $green: #16B56F
      $orange: #ff8800
      $purple: #68389a
      $yellow: #ffc52b
      $cyan: #00B9CA
      $lilac: #cab0d6
      $lime: #a3bc3e
      $teal: #008A97
      $pink: #bd5d92
      $brown: #a52a2a
      $navy: #000080
      $olive: #808000

      polyline
        &[data-id="0"]
          stroke: $red
        &[data-id="1"]
          stroke: $blue
        &[data-id="2"]
          stroke: $green
        &[data-id="3"]
          stroke: $orange
        &[data-id="4"]
          stroke: $purple
        &[data-id="5"]
          stroke: $yellow
        &[data-id="6"]
          stroke: $cyan
        &[data-id="7"]
          stroke: $lilac
        &[data-id="8"]
          stroke: $lime
        &[data-id="9"]
          stroke: $teal
        &[data-id="10"]
          stroke: $pink
        &[data-id="11"]
          stroke: $brown
        &[data-id="12"]
          stroke: $navy
        &[data-id="13"]
          stroke: $olive

      g.active
        opacity: 1

      g.inactive
        opacity: 0.1

      g, label, polyline
        transition: all 300ms

      svg
        overflow: visible

      text
        font-size: 14px
        fill: #969ba4

      body
        display: flex
        flex-direction: column

      #wrapper
        height: 100%
        width: 100%
        max-width: 900px
        max-height: 450px
        position: relative
        margin: auto

      .chart-source
        margin-left: 3em
        font-size: 15px
        position: absolute
        bottom: -40px

      #chart-wrapper
        position: absolute
        left: 132px
        right: 40px
        top: 40px
        bottom: 20px
      
      .chart-title
        margin: auto
        font-size: 20px
      .chart-subtitle
        font-weight: 700
        height: 10px
        margin-top: -10px
        font-size: 15px
      
      #chart-labels
        position: absolute
        width: 124px
        left: 0
        top: 48px
        bottom: 48px
        border: 1px solid #c6c9d0
        box-shadow: 0 0 8px 1px #90909020;
        background-color: #fff

      .chart-label
        position: absolute
        margin-top: -12px
        white-space: nowrap
        /* right: 8px */
        font-size: 15px
        margin-left: 2em
        opacity: .7

        &.active
          opacity: 1
          color: #31363c
        &.inactive
          opacity: .4

      .legend-item-box
        position: absolute
        left: -1.2em
        top: 0.24em
        height: .8em
        width: .8em
        background-color: #008a9730
        transition: background-color 0.3s ease

      .chart-label
        &[data-id="0"]
          .legend-item-box
            background-color: $red
        &[data-id="1"]
          .legend-item-box
            background-color: $blue
        &[data-id="2"]
          .legend-item-box
            background-color: $green
        &[data-id="3"]
          .legend-item-box
            background-color: $orange
        &[data-id="4"]
          .legend-item-box
            background-color: $purple
        &[data-id="5"]
          .legend-item-box
            background-color: $yellow
        &[data-id="6"]
          .legend-item-box
            background-color: $cyan
        &[data-id="7"]
          .legend-item-box
            background-color: $lilac
        &[data-id="8"]
          .legend-item-box
            background-color: $lime
        &[data-id="9"]
          .legend-item-box
            background-color: $teal
        &[data-id="10"]
          .legend-item-box
            background-color: $pink
        &[data-id="11"]
          .legend-item-box
            background-color: $brown
        &[data-id="12"]
          .legend-item-box
            background-color: $navy
        &[data-id="13"]
          .legend-item-box
            background-color: $olive

            
block append scripts
  //script
    include:coffee line.coffee
