extend /partials/layout

block append config
  - var datapath = "static/charts/api/2021/gdp-forecast/data"
  - var colorpath = "static/charts/templates/colors/data"
  - _.extend(page, data.getOne(datapath))
  - _.extend(page, data.getOne(colorpath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"
  - chart = page
  
block page
  .wrapper.flex
    .flex.flex-grow.flex-col
      .chart-title-wrap.ph-lg
        .chart-title!= chart.title
        .chart-subtitle.txt-muted.txt-tu!= chart.subtitle
        .chart-note ASEAN country
      .chart.flex-grow: .chart-content
        - ln = chart.series[0].values.length
        - axes = chart.axes
        - zero = 0.8
        - minX = -40
        - maxX = axes.maxX
        - range = maxX - minX
        - fx = (x) => (x - minX) / range
        - fy = (i) => (i + 0.7) / ln
        - baseColor = "#969ba4"
        - highlight = "#2D6993"
        -
          ASEAN = [
            "Brunei",
            "Cambodia",
            "Indonesia",
            "Laos",
            "Malaysia",
            "Myanmar",
            "Philippines",
            "Singapore",
            "Thailand",
            "Vietnam"
          ]
        
        svg(height="100%" width="100%")
        
          // X-Axis labels
          //- svg(width="100%" y="100%")
            - let steps = chart.axes.stepsX-1
            for n, i in new Array(steps+1)
              - x = i / (steps)
              svg.txt-wide.x-label(x=toPercent(x))
                text(text-anchor="middle" transform="translate(0 18)")
                  = ((minX + range*(i/steps))).toFixed(0)
                
          // X-Axis minor lines
          if chart.axes.minorLines
            svg(width="100%")
              for n, i in new Array(steps+1)
                - x = (i / steps)
                svg
                  line(
                    x1=toPercent(x)
                    y1="0%"
                    x2=toPercent(x)
                    y2="100%"
                    stroke="#5552"
                    stroke-dasharray=(chart.axes.dotted.includes(steps-i) ? 5 : "")
                  )

          // Chart rects
          g.bars
            - const n = chart.series[0].values.length
            for undef, i in new Array(n)
              svg(
                y=toPercent(fy(i)-fy(-0.15) )
                height=toPercent(fy(0))
                width="100%"
              )   
                - vals = chart.series.filter( (s, i) => i ).map( s => s.values[i] )
                - vals = axes.reverse ? vals.reverse() : vals
                - x0 = 0

                for v, j in vals
                  - ci = axes.reverse ? vals.length-j : j+1

                  if v > 0
                    rect(
                      x=toPercent(zero)
                      width=toPercent(fx(v) - zero)
                      height="100%"
                      fill=(ASEAN.includes(chart.series[0].values[i]) ? highlight : baseColor)
                    )
                  else
                    rect(
                      x=toPercent(fx(v))
                      width=toPercent(zero - fx(v))
                      height="100%"
                      fill=(ASEAN.includes(chart.series[0].values[i]) ? highlight : baseColor)
                    )

                  text.chart-value(
                    x=toPercent(x0 + fx(v > 0 ? v - .025 : v + .025))
                    y="50%"
                    text-anchor=v > 0 ? "start" : "end"
                    transform=`translate(${v > 0 ? 8 : -8} 4.5)`
                    fill=(ASEAN.includes(chart.series[0].values[i]) ? highlight : baseColor)
                  )
                    = v.toFixed(1) + (axes.percentage ? "%" : "")

                  - x0 += fx(v)
                    
                  // Y-Axis labels
                  svg.y-label(x="80%" y="50%")
                    text(
                      text-anchor=(v > 0 ? "end" : "start")
                      transform=`translate(${v > 0 ? -12 : 12}, 5)`
                      fill=(ASEAN.includes(chart.series[0].values[i]) ? highlight : baseColor)
                    )
                      =chart.series[0].values[i]

            line(x1="80%" x2="80%" y1="0%" y2="100%" stroke=highlight stroke-width=2)

      //- .chart-source.txt-muted.txt-semi!= chart.source
    
  
block append css
  style
    :sass
  
      .wrapper
        height: 600px
        position: relative

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: -13rem
        left: 130px
        right: 50px
        bottom: 30px

      .chart-title-wrap
        width: 220px
        margin-left: 6rem
      
      .chart-title
        font-size: 28px
        font-weight: 500
        text-transform: uppercase
        text-align: left
        
      .chart-subtitle
        text-align: left
        font-weight: 600
        font-size: 15px

      .chart-note
        margin-top: 1rem
        line-height: 0
        color: #2D6993
        z-index: 1
        font-size: 12px
        font-weight: 600
        display: inline-flex 
        align-items: center

        &:before
          content: ''
          background: #2D6993
          padding: .5rem
          margin-right: .5rem

      li
        list-style: none
        margin: 0
        padding: 4px 16px 4px 24px

      .legend
        font-size: 15px
        margin: 1rem 0 0

      .legend-item
        margin: 4px 8px
        padding-right: 0
        position: relative
        white-space: nowrap

      .legend-item-box
        position: absolute
        left: 0
        top: .5em
        height: 1em
        width: 1em
        background: black

      text
        font-size: 13px

      svg
        overflow: visible
        
      .chart-source
        margin-top: 1rem 
        
      .chart-source,
      .chart-notes
        font-size: 15px
        
        b
          font-weight: 500
        
      .chart-value
        transition-duration: .4s
        pointer-events: none
          
      @media (max-width: 400px)
      
        .chart-content
          left: 110px
          right: 30px
      
        text
          font-size: 13px
        .legend
          flex-wrap: wrap

        .chart-title
          font-size: 22px
        .chart-subtitle
          font-size: 14px
        .chart-notes,
        .chart-source
          font-size: 13px
        .y-label text
          transform: translate(-10px, 6px)
        .x-label:nth-of-type(even)
          display: none
          
