.slide.bg-dk.flex
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    //- img.fade-in.posa.fw.fh(data-src="./img/background/congress.jpg")

    .slide-inner.flex-cv

      .type.txt-xl.txt-ff.mx-auto(
            data-view="type, in-viewport"
            data-duration=1200
          )
            span.line.bg-hl Retirement Rules
            //- span.line.txt-sm.txt-muted One in 11 Chinese adults is a party member

      style.
        #retirement-rules-table { border-collapse: collapse; margin-top: 3rem; }
        #retirement-rules-table td, #retirement-rules-table th { border-bottom: 0px solid #fff4; padding: 0.5rem 0 }
        
      table#retirement-rules-table.mx-auto.txt-center.txt-mono.txt-ff
        tbody
          tr.txt-tu.txt-sans.txt-dk-mid
            for col, i in page.data.retirementRules.labels
              th.ph-md(style=`width: ${["4rem", "23rem", "10rem", "10rem"][i]}`)!= col
          for row, j in page.data.retirementRules.data
            tr
              td.fade-in(class=`delay-${(j + 1) * 2}`)!= row.icon
              th.txt-sans.txt-tu.txt-d-mid.fade-in.txt-sm.txt-left.fade-in(class=`delay-${(j + 1) * 2}`)
                != row.position
              for col, i in ["nomination", "retirement"]
                td.txt-lg.fade-in(
                  class=((i ? "txt-hl" : "txt-ff") + ` delay-${(j + 1) * 2}`)
                  data-view="bars, in-viewport"
                  data-duration=3000
                  data-delay=i * 250
                  data-precision=0
                  data-prefix=(i ? "" : "<span class='txt-md'><&thinsp;</span>")
                  data-suffix=(i ? "+" : "")
                  data-value=row[col]
                )
                  span.bar-value(
                    style="position: static;display: inline-block;"
                  )= row[col]