mixin path(vals, scale, xs)
  - var toY = (e, min, dif) => ((100 * dif - parseFloat(e - min)) / dif)
  - var map = (m, e, i, a) => m + (_.isNumber(e) ? ((m.length > 0 ? "L" : "M") + xs[i] + " " + toY(e, min, dif)) : "")

  - min = scale.min
  - max = scale.max
  - dif = (max - min) / 100
  
  path(d=vals.reduce(map, "") fill="none" data-l=vals.length)

mixin svg-line(data, lines)
  - line = locals.r("./app/static/charts/chinese-coercion-australian-resilience/line.coffee")
  - keys = data.keys
  - scale = (data.scale.max - data.scale.min) / 100
  - df = _.last(keys) - keys[0]
  - xs = keys.map((e)=> (e - keys[0] + 0.5) / (df + 1) * 100)
  - nb = (data.scale.max - data.scale.min) / data.scale.div
  - v = line.voronoi(data,[0,0,300,100])
  .chart.flex-grow: .chart-content

    svg.line(width="100%" height="100%")
      rect(width="100%" height="100%" x=0 y=0 fill="none")
            
      // trendline
      line(class="trendline" x1="3.93%" y1="95%"  x2="95.74%" y2="48.15%" stroke-dasharray="1,6" stroke-linejoin="round" stroke-linecap="round" vector-effect="non-scaling-stroke")
           
      g
        for n, i in new Array(nb + 1)
          - y = (i / nb) * 100 + "%"
          line(
            x1=0 x2="100%" y1=y y2=y
            data-val=data.scale.max - i * data.scale.div
            class=(data.scale.max - i * data.scale.div != 0) ? "dot" : ""
          )

      svg.y(width=4 height="100%" x=-4)
        line(x1="100%" x2="100%" y1=0 y2="100%")
        for n, i in new Array(nb + 1)
          - y = (i / nb) * 100 + "%"
          g.y-tick
            line(x1=0 x2=4 y1=y y2=y)
            text(x=-4 y=y text-anchor="end" transform="translate(0 4)")
              = (data.scale.max - i * data.scale.div).toLocaleString('en')
        svg(y="50%")
            text.y-label Volume (tonnes swt)

      svg.x(width="100%" height=4 y="104%")
        g
          for n, i in new Array(df + 1)
            - x = (i + 0.5) / (df + 1) * 100 + "%"
            svg.x-tick(x=x)
              //- line(x1=-2 x2=2)
              line(x1=-0.5 x2=-0.5 y2=4)

        for n, i in new Array(df + 1)
          - x = (i + 0.5) / (df + 1) * 100 + "%"
          if !data.skipX || i % data.skipX == 0
            svg.x-tick(x=x)
              text(x=0 y=8 transform="" text-anchor="middle")
                = data.keyText ? data.keyText[i] : keys[0] + i

      g
        for key, j in data.fields || [{}]
          - arr = _.pluck(data.values, j)
          g(class=`g${j}`)
            svg(
              width="100%"
              height="100%"
              viewBox="0 0 100 100"
              preserveAspectRatio="none"
            )
              +path(arr, data.scale, xs)

      for point, i in v.points
        if point && _.isNumber(point.value)
          - var f = point.field
          - var k = point.key
          - var x1 = (((xs[k-1]||-xs[k+1]) / data.values.length) * 100)
          - var x2 = (((xs[k+1]||xs[k]+(xs[k]-xs[k-1])) / data.values.length) * 100)
          - var y1 = 100 * (1 - ((data.values[k-1]?+data.values[k-1][f]||point.value:point.value) - data.scale.min) / df)
          - var y2 = 100 * (1 - ((data.values[k+1]?+data.values[k+1][f]||point.value:point.value) - data.scale.min) / df)
          - var t = Math.atan2(y2 - y1, x2 - x1)
          - var tx = Math.cos(t - Math.PI / 2) * 20 * .75
          - var ty = Math.sin(0 - Math.PI / 2) * 20
          - var a = point.y > point.cy - 1 ? 1 : -1

          g(class=`g${point.field}`)
            circle(cx=(point.x/3 + "%") cy=(point.y + "%") r=4 stroke-width=1 stroke="#fff")
          g.point(class=`g${point.field}`)
            svg.point-invis(
              width="100%"
              height="100%"
              viewBox="0 0 300 100"
              preserveAspectRatio="none"
            )
              path.area(
                d=v.voronoi.renderCell(i)
                fill="none"
              )
            circle(cx=(point.x/3 + "%") cy=(point.y + "%") r=5)
            text(
              x=(point.x/3 + "%")
              y=(point.y + "%")
              text-anchor="middle"
              transform=`translate(${tx * a} ${ty * a + 4})`
            )= point.value.toLocaleString("en-US") 
            // formats output number with commas; no need to specify decimal places becasue the data.yaml is already rounded manually

      .chart-footer
        if data.fields
          ul.legend.list-bare.flex.flex-ch.flex-wrap
            for field, j in data.fields
              li.legend-item
                span.legend-item-box(class=`g${j}`)
                span.legend-item-label!= field
            li.legend-item
              span.legend-item-box(style=`background: none; border-top: 3px dotted #2D6993; top: 1em;`)
              span.legend-item-label China trendline (linear)

    if data.details
      .chart-details.flex-cv
        for detail in data.details
          .chart-detail.txt-muted.txt-cond= detail
