extend /partials/layout

block append config
  - var datapath = "static/charts/revising-down-rise-china/figure-9/data"
  - var colorpath = "static/charts/templates/colors/data"
  - _.extend(page, data.getOne(datapath))
  - _.extend(page, data.getOne(colorpath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"

block page
  .wrapper.flex.flex-col
    .page-title.txt-center= page.title 
    .col-wrap.txt-center.flex-grow.flex.txt-sm
      .col-md.flex-grow.flex.flex-col
        - chart = page.chart
        .chart-title= chart.title
        .chart-subtitle.txt-muted.txt-tu= chart.subtitle 

        .chart.flex-grow: .chart-content
          - scale = chart.axes
          - minY = scale.minY
          - maxY = scale.maxY
          - range = maxY - minY

          //- See if you can reverse engineer the fy() function I've done here and compare with the one in figure 2. 
          - fh = (v) => Math.abs(v) / range
          - fy = (v, offset) => 1 - fh(v) - fh(offset || 0)
          - fx = (i) => (i + 0.6) / (chart.series.length + 0.6)

          svg(height="100%" width="100%")
            svg(height="100%")
              for n, i in new Array(scale.steps)
                - y = 1 - (i / (scale.steps - 1))
                svg(y=toPercent(y))
                  text(text-anchor="end" transform="translate(-8 4)")
                    = (scale.minY + (i / (scale.steps - 1)) * (scale.maxY - scale.minY)) + ".0%"
                     
            g
              for item, i in chart.series
                - v = item.value
                - o = item.offset
                //- label = chart.series.title
                svg(
                  x=toPercent(fx(i))
                  width=toPercent(fx(0))
                  height="100%"
                )
                  rect(
                    fill=page.colors[item.color]
                    y=toPercent(fy(v,o))
                    height=toPercent(fh(v))
                    width="100%"
                  )

                  text.chart-value(
                    x="50%"
                    y=toPercent(fy(v,o))
                    text-anchor="middle"
                    dy=-8
                  )
                    = v

                  text.x-axis(
                    x="0"
                    y="0"
                    text-anchor="end"
                    transform="rotate(-45 0 0) translate(-140, 180)"
                  )= item.title

            //- Baseline
            line(x1="0" x2="100%" y1=toPercent(fy(0)) y2=toPercent(fy(0)) stroke="#ccc")

            //- horizontal flow lines joining columns
            line(x1="6.98%" x2="18.6%" y1="8.7%" y2="8.7%" stroke="#ccc")
            line(x1="18.6%" x2="30.23%" y1="30.5%" y2="30.5%" stroke="#ccc")
            line(x1="30.23%" x2="41.86%" y1="43.8%" y2="43.8%" stroke="#ccc")
            line(x1="41.86%" x2="53.49%" y1="49.7%" y2="49.7%" stroke="#ccc")
            line(x1="53.49%" x2="65.12%" y1="55.51%" y2="55.51%" stroke="#ccc")
            line(x1="65.12%" x2="76.74%" y1="61.43%" y2="61.43%" stroke="#ccc")
            line(x1="76.74%" x2="95.35%" y1="64.29%" y2="64.29%" stroke="#ccc")

          //-.column-title
            ul.list-bare.flex-ch.x-label
              for item, i in chart.series
                li
                  = item.title

    .chart-source.txt-muted.txt-center
      != chart.source

block append css
  style
    :sass
      .page-title
        /* margin-bottom: 25px */

      .wrapper
        height: 500px
        /* max-width: 700px */

      .col-wrap
        margin: 0

      .col-md
        padding: 0 1em
        width: 50%

      .chart
        position: relative

      .chart-content
        position: absolute
        top: 20px
        left: 36px
        right: 12px
        bottom: 24px

      .chart-content > svg
        height: 20px
        min-height: 100%

      .chart-title,
      .chart-subtitle
        padding: 0 24px

      .chart-title
        // max-width: 320px
        margin: 0 auto 
        font-size: 20px

      .chart-subtitle
        height: 0
        margin: 0 0 50px 0
        font-size: 15px

      .chart-source
        font-size: 14px
        max-width: 800px
        margin: 28px 8px 0

      .chart-value
        //- opacity: 0
        transition: opacity 300ms

      ul.x-label
        padding: 4px 16px
        align-items: baseline

      .x-label li
        font-size: 14px
        padding: 2px 1px 2px 12px

      text
        font-size: 14px
        fill: currentColor

      svg
        overflow: visible

      .column-title li:first-child,.column-title li:last-child
        font-weight: bold

      .chart-source
          margin: 80px 8px 0


      @media screen and (max-width: 600px)
        .col-wrap
          display: block
        .col-md
          width: 100%
          height: 100%

        .x-label 
          padding: 0

        .x-label li
          writing-mode: vertical-rl
          text-orientation: mixed
          width: 12%
          padding: 8px

        .chart-source
          margin: 100px 8px 0

      @media (max-width: 450px)
        text
          font-size: 12px
        .x-label li
          padding: 3px
        .chart-title, .chart-subtitle
          padding: 0
        .chart-subtitle
          margin: 0 0 80px 0

        .chart-source
          margin: 80px 8px 0