extend /partials/layout

block append config
  - page.title = "RESILIENCE"
  - var chart  = data.getOne("static/charts/api/2022/measure-3/data")

block page
  #wrapper(ontouchstart="")
    .chart-title.txt-bold.txt-tu RESILIENCE
    .bars.pv-xs
      .bar-row
        span.trend.fl-l.txt-sm 
          strong Rank
        span.label.fl-l
        //span.trend.fl-l.txt-xs Trend
      for item in chart.list
        .bar-row.clearfix.txt-sm(class=item.trend < 0 ? "neg" : item.trend === 0 ? "neutral": "pos")

        
          span.rank.fl-l= item.rank
          span.label.fl-l= item.country
          //span.trend.fl-l
            if item.trend > 0
              | &nearr;
            else if item.trend < 0
              | &searr;
            else
              | –
          span.rank.fl-l(style="text-align:right")= item.rank2 >0 ? ('+') + item.rank2 : item.rank2
          .bar
            .bar-inner(
              style={
                width: `${(Math.abs(item.change) / 75) * 40}%`,
                left:  `${(item.change < 0 ? ((40 + parseFloat(item.change)) / 25) : 0.45) * 100}%`
              })
              .bar-label=item.change.toFixed(1)

      .bar-scale.flex-row.txt-muted
        .bar-scale-tick 0
        .bar-scale-tick 20
        .bar-scale-tick 40
        .bar-scale-tick 60
        .bar-scale-tick 80
        .bar-scale-tick 100


    .key
      span.txt-tu.txt-bold Score trend
      ul.legend
        //.list-bare.txt-left.flex.flex-ch
        li.legend-item
          span.legend-item-box(style="background-color:#539ed4;")
          span.legend-item-label Upward
        li.legend-item
          span.legend-item-box(style="background-color:#002b45;")
          span.legend-item-label Downward
        li.legend-item
          span.legend-item-box(style="background-color:#ccc;")
          span.legend-item-label No change


    .chart-notes.txt-muted.txt-right * Score trends reflect annual changes in measure scores above a minimum threshold (≥ 0.5)


block append css
  style
    :sass
      body
        font-family: Sans
        display: flex
        width: 1px
        min-width: 100%
        *width: 100%

      #wrapper
        line-height: 1.4
        overflow: visible
        font-feature-settings: "pnum" 1
        margin: auto
        width: 600px
        max-width: 100%

      .hint
        font-size: 80%
        max-width: 512px
        margin: auto

      .bars
        position: relative

      .label
        width: 140px
        font-weight: 200
        height: 100%
        margin-left: 12px

      .trend
        width: 20px
        font-weight: 300
        line-height: 1.2
        height: 100%
        text-align: center

      .rank
        width: 17px
        font-weight: 400

      .bar-scale
        display: flex
        margin-left: 165px
        margin-right: 0
        font-size: 14px

      .bar-scale-tick
        width: 25%
        text-align: center
        position: relative
        padding-top: 4px

        &:before
          content: ""
          position: absolute
          left: 50%
          bottom: 100%
          margin-bottom: 1px
          height: 12 * 1.5em
          padding-top: 23px
          border-left: 1px solid rgba(#0F1F2B, 0.2)
          margin-left: -2px

        &:first-of-type:before
          border-left: 2px solid rgba(#002b45, 1)

        &:last-of-type,&:last-of-type:before
          border-left: 0
          color: #fff

      .bar-row
        height: 1.4em
        margin-bottom: 4px
        overflow: hidden

        &:hover
          background: #f2f4f6

          .bar-label
            background: #f2f4f6

      .bar
        height: 100%
        margin-left: -108px
        margin-right: 20px
        position: relative
        z-index: 1

      .bar-inner
        position: relative
        height: 80%
        margin: 2px 0

        .neg &
          background: #002b45

        .pos &
          background: #539ed4

        .neutral &
          background: #ccc

      .bar-label
        position: absolute
        padding: 0 0.3em
        background: white
        height: 100%
        font-size: 14px
        left: 100%

      .bar-group-label
        position: absolute
        line-height: 1
        min-width: 220px

      .bar-group-label-neg
        color: #002b45
        margin-left: 102px
        left: 50%
        transform: translateX(-50%) rotate(90deg)
        top: 50%
        margin-top: 132px

      .bar-group-label-pos
        color: #539ed4
        margin-left: 36px
        left: 50%
        transform: translateX(-50%) rotate(-90deg)
        margin-top: 120px

      .key
        position: absolute
        /* right: 230px
        right: 150px
        width: auto
        background-color: #efeef7
        font-size: 13px
        border: 0px solid #ccc
        padding: 12px
        top: 222px

      li
        list-style: none
        margin: 0
        padding: 4px 16px 4px 24px

      .legend
        font-size: 15px
        padding: 0

      .legend-item
        margin: 4px 8px 0
        padding-right: 0
        position: relative
        white-space: nowrap

      .legend-item-box
        position: absolute
        left: 0
        top: .5em
        height: 1em
        width: 1em
        background: black

      .chart-notes,.chart-source
        margin-right: 2em
        font-size: 14px


      @media (max-width: 512px)
        .label
          width: 108px

        .trend
          width: 12px

        .bar-scale,
        .bar
          margin-left: 120px

        .bar-group-label-neg
          margin-left: 64px
        .bar-group-label-pos
          margin-left: 36px
