aside.post-gallery.scroller.flex-grow
  for p,i in page.posts
    .post.flex-col
      a.txt-bare.flex-col.flex-1(href=`/features/${slug}/post/${p.href}`)
        img(src=`/features/${slug}/img/post-${i}.jpg`)
        h3!= p.title
        .caption.txt-muted #{p.author}, #{p.bioShort}