mixin profile(href, caption, side)
  figure.profile.floating(class=`${side}`)
    img(src=`/features/${slug}/img/authors/${href}.jpg` alt=caption)
    figcaption
      != caption
      br
      a(href=`/features/${slug}/post/${href}`) Read the article &rarr;

:marked
  
  ## Introduction

  <p class="caption txt-muted">By <a href="https://www.lowyinstitute.org/people/experts/bio/roland-rajah">Roland Rajah</a> and <a href="https://www.chathamhouse.org/about-us/our-people/ben-bland">Benjamin Bland</a>.</p>

  Southeast Asia is one of the most economically and developmentally successful regions in the world. However, the ability of the region’s developing economies to sustain this success is increasingly in question. 

  The Covid-19 pandemic has had a devastating impact and will likely leave long-lasting economic, social, and political scars. Poverty will be higher, precarious employment more prevalent, basic schooling disrupted, health outcomes worsened, and businesses left financially damaged. Government budgets will also be under pressure for years to come, contending with higher spending pressures, lower revenues, and elevated debt. Moreover, recovery from the pandemic has barely begun but already been made vastly more difficult by the Ukraine crisis, disrupted energy and food markets, high inflation, and rising global interest rates. Meanwhile, globalisation is under threat, climate change continues to accelerate, and geopolitical instability is on a sharply escalating trajectory.

  Yet the challenges facing Southeast Asia are not solely about these destabilising external developments. They are equally about developments internal to Southeast Asian nations, going to the heart of matters of domestic reform, governance, and politics and whether these countries can escape the “middle-income trap” to successfully transition to high income status. 

  The key question then is, does Southeast Asia need a new development model? There are no easy answers. In this interactive, we therefore enlist six of Southeast Asia’s most interesting economic thinkers to share their perspectives on what is needed.

+profile("sundaram", "Economist Jomo Kwame Sundaram", "right")

:marked

  Some, such as Jomo Kwame Sundaram, a former United Nations Assistant Secretary-General for Economic Development, say that a specific Southeast Asian development model does not exist. At some level, this is undeniably true. Nonetheless, the term has its merits in describing a broadly successful approach to development that shares several basic features, including the mobilisation of a large and growing pool of young workers, economic modernisation through large-scale industrialisation and urbanisation, and a focus on taking advantage of globalisation and regional integration. All underpinned by generally prudent macroeconomic management, investment in basic public services, “good enough” governance, and a relatively benign regional security environment. To varying extents, these are the key factors often credited for Southeast Asia’s economic success, notably amongst the region’s major economies — Indonesia, Malaysia, the Philippines, Thailand, and Vietnam.

  The problem today is that many of these previously supportive factors appear to be turning against the region while significant weaknesses in the development model have been exposed. 

+profile("basri", "Former finance minister Chatib Basri", "left")

:marked

  Southeast Asia’s demographic dividend is fading and population aging poses the risk of the region getting old before it gets rich. The easy one-off productivity wins gained by shifting workers off-farm and into more productive jobs in manufacturing and urban services have also already largely been had. Sustaining future productivity growth and export competitiveness is thus becoming harder. As former Indonesian finance minister Chatib Basri notes, “industrialisation strategies can no longer afford to rely solely on the low-skilled manufacturing industry and the creation of low-skilled jobs”.

+profile("shastry", "Asia business analyst Vasuki Shastry", "right")

:marked

  Meanwhile, the hyper-globalisation and diffusion of complex global production networks that propelled Southeast Asia forward for decades now seem well and truly over. Instead replaced by state-driven efforts by major world powers geared towards reshoring jobs and production, regulating supply chains, decoupling from geopolitical rivals, and engaging in zero-sum competition over technology, markets, and national influence. As leading Asia business analyst Vasuki Shastry astutely notes, “Southeast Asia is hard-wired for global integration at a time when globalisation is stalling.”

  The end of ever-deepening globalisation, and its potential degradation, has also exposed the shortcomings of Southeast Asia’s own half-hearted embrace of openness and domestic reform — often dubbed “selective opening”. Several of our Southeast Asian thinkers zero in on the self-imposed costs this entails for the region’s development prospects. Although governments in the region operate low tariffs and actively court foreign investment, many continue to impose other significant trade barriers, restrict foreign investment outside of manufacturing, and protect their domestic services industries. Large state-owned enterprises and politically connected businesses dominate the domestic market — hurting efficiency and encouraging “rentier” economies and crony capitalism.

+profile("yeoh", "Public policy analyst Tricia Yeoh", "left")

:marked

  At the heart of Southeast Asia’s selective opening is what public policy analyst Tricia Yeoh identifies as the failure of the region to match economic progress with the commensurate development of the kinds of institutions needed to sustain long-term developmental advancement. Rule of law, functioning courts, and transparent government regulation remain lacking, limiting the meaningful check on power necessary to prevent “the capture of state resources by those who will use them for their own benefit”.

  What then is to be done? Though each has their own unique take, Basri, Shastry, and Yeoh essentially argue that Southeast Asian nations need to focus on key next-generation reforms — plugging the gaps, adjusting, and building on what has essentially been a very successful model in order to unlock the door to continued rapid development.

+profile("ang", "Political scientist Yuen Yuen Ang", "right")

:marked

  For our other contributors however, a more drastic rethink is necessary. Political scientist Yuen Yuen Ang argues that in response to retreating globalisation, environmental crises, and technological disruption, Southeast Asia’s development model must shift from “specialisation” to “diversification”. The problem, as Ang says, is that there is no established playbook for doing so. Jomo for his part endorses a more heterodox and country-specific approach to policy, rejecting the traditional orthodoxies of the benefits of liberalisation. Finally, climate policy analyst Tiza Mafira calls for a deep transformation of Southeast Asia’s current development model, from one that emphasises linear industrialisation and resource extraction to one focused on circular economics and more decentralised and localised solutions.

+profile("mafira", "Climate policy expert Tiza Mafira", "left")

:marked

  Clearly, there is no shortage of ideas in terms of how Southeast Asia’s approach to development needs to change. Each perspective also prompts its own additional questions. How can barriers to further liberalisation be overcome? What opportunities for reform does digitalisation offer? What should the role of industrial policy be? We put these and other challenge questions to our contributors. Again, there are no easy answers. But the perspectives in this debate series from some of Southeast Asia’s most interesting economic thinkers provide plenty of food for thought and further discussion.

