mixin profile(href, caption, side)
  figure.profile.floating(class=`${side}`)
    img(src=`/features/${slug}/img/authors/${href}.jpg` alt=caption)
    figcaption
      != caption
      br
      a(href=`/features/${slug}/post/${href}`) Read the article &rarr;

:marked
  
  ## Introduction

  <p class="caption txt-muted">By Roland Rajah and Ben Bland.</p>

  Southeast Asia has been one of the most economically and developmentally successful regions in the world. Setting aside the city-state of Singapore, the rest of Southeast Asia has never been able to match the stellar performance of the Northeast Asian ‘miracle’ economies. But the region has nevertheless enjoyed decades of generally rapid and broadly inclusive growth and development. Signifying how far the region has come, two decades ago Southeast Asia was at the center of global financial instability during the Asian Financial Crisis. Since then, the region has not only restored robust, albeit slower, growth but also weathered large international shocks – such as the Global Financial Crisis of 2008 – remarkably well.
  
  The ability of Southeast Asian nations to sustain this success however is increasingly in question. The Covid-19 pandemic has had a devastating impact and will leave long-lasting economic, social, and political scars. Poverty will be higher, precarious employment more prevalent, basic schooling disrupted, health outcomes worsened, and businesses left financially damaged. Government budgets will also be under pressure for years to come, contending with higher spending pressures, lower revenues, and elevated debt. Meanwhile, globalization is also under threat as geopolitical rivalry and instability escalate sharply.

  But the bigger challenge is not destabilizing world events. It is how to improve domestic governance and reinvigorate economic reforms.
  
  There are no easy answers but this debate series asks leading Southeast Asian thinkers to reflect on how the region’s growth and development model might need to change if it is to continue to succeed.

+profile("sundaram", "Malaysian economist Jomo Kwame Sundaram", "right")

:marked
  
  Some, such as Malaysian economist Jomo Kwame Sundaram, argue that a specific Southeast Asian development model does not exist. At some level this is undeniably true. Nonetheless, used loosely the term has its merits in describing a broadly successful approach to development which has shared several basic features, including the mobilization of a large and growing pool of young workers, modernization through large-scale industrialization and urbanization, and liberalizing reforms aimed at capitalizing on globalization and spurring regional integration. All this has been underpinned by generally prudent macroeconomic management, rising investment in basic public services, ‘good enough’ governance, and a relatively benign regional security environment. Some countries, such as Malaysia and Thailand, have moved further down this path towards the ultimate goal of becoming high-income economies. Others, such as Laos and Cambodia, are lagging for a variety of reasons. But all have aimed to follow key elements of this approach.
  
  Unfortunately, several of these previously supportive factors now appear to be turning against the region while important weaknesses in the development model are also being exposed.

+profile("basri", "Former Indonesian finance minister Chatib Basri", "left")

:marked
  
  The demographic dividend of falling dependency ratios and rapidly growing working age populations is fading across the region as population aging risks seeing the region get old before it gets rich. In Thailand and Vietnam, dependency ratios have already been rising for some time. The easy one-off productivity wins to be had by shifting workers off-farm and into more productive jobs in manufacturing and urban services have also largely already been exhausted in most countries. Sustaining future productivity growth and export competitiveness will thus be far harder. As former Indonesian finance minister Chatib Basri notes, “industrialization strategies can no longer afford to rely solely on the low-skilled manufacturing industry and the creation of low-skilled jobs.”

+profile("shastry", "Leading Asia business analyst Vasuki Shastry", "right")

:marked
  
  Meanwhile, the hyper-globalization and diffusion of complex global production networks that propelled Southeast Asia forward for decades now seems well and truly over—replaced with state-driven efforts by major world powers geared towards reshoring jobs and production, regulating supply chains, decoupling from geopolitical rivals, and engaging in zero-sum competition over technology, markets, and national influence. As leading Asia business analyst Vasuki Shastry astutely notes, “Southeast Asia is hard-wired for global integration at time when globalization is stalling.”
  
  The end of ever-deepening globalization, and its potential reversal, has also exposed the shortcomings of Southeast Asia’s own half-hearted embrace of openness and domestic reform—often dubbed “selective opening”. Several of our Southeast Asian thinkers zero-in on the self-imposed costs this entails for the region’s future prospects. Although governments in the region operate low tariffs and actively court foreign investment, many continue to impose other significant trade barriers, restrict foreign investment outside of manufacturing, and protect their domestic services industries. Domestically, large state-owned enterprises and politically connected businesses remain dominant— hurting efficiency and encouraging ‘rentier’ economies epitomized by the region’s crony capitalism.

+profile("yeoh", "Malaysian public policy analyst Tricia Yeoh", "left")

:marked
  
  At the heart of Southeast Asia’s selective opening is what Malaysian public policy analyst Tricia Yeoh dubs the failure of the region to match economic success with the development of the kind of institutions needed for sustaining long term progress. Rule of law, functioning courts, and transparent government regulation remain lacking while corruption thrives, and the absence of strong independent institutions limits the meaningful check on power necessary to prevent “the capture of state resources by those who will use them for their own benefit.” 
  
  While in the past the middling governance performance of Southeast Asia’s developing economies was evidently ‘good enough’ to deliver relatively strong growth and development, today it looks to have become an increasingly binding constraint. Across the region, the low-hanging fruit of early-stage economic and governance reforms have been plucked. The deeper reforms that are now required to improve bureaucracies, tax collection, legal systems and social protection will require much higher levels of investment of political and financial capital.
  
  Yet few governments in the region are thinking seriously about taking these big, and costly, steps. While some civil society actors call for reform, election campaigns in the region’s democracies tend to be exceedingly light on policy, as seen mostly recently in the Philippines. Across the democracies and authoritarian governments of Southeast Asia, there is a lack of leadership renewal. Of the nine member-states of the Association of Southeast Asian Nations that were colonised by Western powers, five are led by men who are older than their nations. The only female leader, Aung San Suu Kyi, has been jailed by the junta in Myanmar after last year’s coup. Vibrant youth movements calling for governance reform in Indonesia, Malaysia and Thailand have been stifled, ignored or sidelined. 
  
  While investors and multilateral development bank try to steer clear of politics, these governance weaknesses are a binding economic constraint on the region’s prospects for growth and greater social equality. 
  
  Most governments collect relatively little in tax compared to more advanced economies. This will limit their ability to make the public infrastructure, education, and health investments necessary to sustain future development and upgrade the economy towards the higher value-added industries and higher-paying good quality jobs that most see as a critical next-stage development goal for the region.
  
  Most fundamentally, the limitations of Southeast Asian governance must cast a worrying degree of doubt on the ability to undertake the kind of development strategies that our debaters argue is needed. 
  
  While each has their own take, some of our thinkers such as Basri, Shastry, and Yeoh essentially argue that Southeast Asian nations need to look to the next generation of reforms, adjusting and plugging the remaining gaps to build on what has essentially been a very successful economic model. Here, the question remains however as to whether and how countries can overcome the governance and political economy barriers that have to date stood in the way of these kinds of deeper reform. 

+profile("ang", "Yuen Yuen Ang, political scientist", "left")

:marked
  
  For our other Southeast Asian thinkers, a more drastic rethink of the region’s development model is necessary. The political scientist Yuen Yuen Ang argues that in response to retreating globalization, climate change and ecological crises, and technological disruption, Southeast Asian nations must shift their development model from ‘specialization’ to ‘diversification’. But as Ang notes, there is no established playbook for doing so nor any clear and easy solutions. 

+profile("mafira", "Indonesian climate policy expert Tiza Mafira", "right")

:marked

  Meanwhile, Indonesian climate policy expert Tiza Mafira argues that the imperatives of both generating future growth and ensuring it is environmentally sustainable will require an even deeper transformation of Southeast Asia’s development model, from one emphasizing linear industrialization and resource extraction to one focused on the benefits of circular economics and more decentralized and localized solutions.
  
  Jomo channels the global zeitgeist when he calls for the region to consider industrial policy again. In Southeast Asia, he is preaching to the converted, because most of the region’s governments have a dirigiste disposition. But, as Malaysia’s own troubled past experience shows, the hard part about industrial policy is not the grand vision but executing it with a sufficient degree of political and market discipline.
  
  Without deeper governance reforms, such plans will be hard to implement effectively without promoting waste and rent-seeking. But, given the power of government-linked companies and politically connected businesspeople across the region, there is little elite constituency for a new round of liberalizing reforms. Perhaps one way forward, especially in large and sometimes inward looking economies like Indonesia and the Philippines, is a new social contract that blends targeted economic opening with increased social protection and faster economic growth. That should mean opportunities for foreign investors, a growing pie for domestic business groups and incentives for the public to come aboard.
  
  The big problem for outside experts is to convince policymakers and the wider population that ambitious and novel solutions are both necessary and achievable. We hope that this debate series elevates the scale of the challenge and offers hope and practical ideas for the way forward.
