//-
  This layout is used to construct the issue page. It in turn extends the
  default `layout` defined below.

extend /partials/layout

block append config
  - page.includeFonts = false
  - page.class = "issue"
  - page.image = "http://interactives.lowyinstitute.org/features/fortress-australia/img/thumbnail.jpg"
  - page.issues = data.getOne("static/features/fortress-australia/data").issues
  - issue = page.issues.find(e => e.author === author)

block prepend head
  - page.url = "https://interactives.lowyinstitute.org/features/fortress-australia/"
  - page.url += "issues/" + issue.href
  - page.metaTitle = `${issue.titleShort} - Fortress Australia – Lowy Insitute`

block page

  include header
  
  #progress
    
  .container
    .landing-block.h-screen.flex-col.txt-center
      .flex.flex-1
        .flex-cv.flex-1
          .txt-xxl.pv-xs.ph-xl!= issue.titleLong
          .txt-sm.txt-tu.pv-sm!= issue.author
            <br>
            span.txt-mt!= issue.position
        .flex-cv.flex-1.txt-ff.txt-lg-lh.bg-dk
          .ph-xl.pv-md
            block introduction

      .flex-1.flex-ch.relative.overflow-hidden
        img.absolute.inset-0(src=`/features/fortress-australia/img/${issue.href}.jpg`)
        //- .img-pan
        .caption.txt-ff
          block caption


  article
    block content

  .container
    include link-grid


block append css
  style
    include:sass ../styles/_base.sass
    include:sass ../styles/_typography.sass
    include:sass ../styles/_styles.sass
    include:sass ../styles/_responsive.sass
    include:sass ../styles/_article.sass
    include:sass ../styles/_link-grid.sass

block append scripts
  script
    include:coffee ../coffee/scroller.coffee
    include:coffee ../coffee/counter.coffee
