extend /partials/layout

block append config
  - page.includeFonts = false
  - page.class = "article"
  - page.issues = data.getOne("static/features/fortress-australia/data").issues
  - issue = page.issues.find(e => e.author === author)

block prepend head
  - page.url = "https://interactives.lowyinstitute.org/features/fortress-australia/"
  - page.url += issue.href
  - page.socialTitle = `${issue.title} - Escaping Fortress Australia`.replace("&nbsp;", " ")
  - page.metaTitle = `${issue.title} - Lowy Institute`
  - page.title = page.metaTitle
  - page.image = `https://interactives.lowyinstitute.org/features/fortress-australia/img/${issue.href}.jpg`

block page
  
  //- #progress
    
  include ../partials/header

  .container
      
    .h-screen.flex-ch.bg-dk.txt-ff.relative
      .cover-img.absolute.inset-0(style=`background-image: url('/features/fortress-australia/img/${issue.href}.jpg')`)
      .title-block.flex-cv.txt-center.z1.p-md
        .tag.txt-micro.fw700!= issue.theme
        .title.txt-tu.pv-sm!= issue.title.replace("&nbsp;", " ")
        .txt-mini.pv-xs.fw600!= issue.author
        .txt-mini.pv-xxs.fw600.opacity-75!= issue.position
        .img-caption.txt-micro.fw700.opacity-75!= "Photo: " + issue.credit

    article
      block content
      hr
      block bio

    footer.bg-dk.flex-cv.txt-ff
      .txt-center.bg-sdk.p-sm.border-v-lt
        .txt-mini.fw600 Continue reading

      .h-screen.h-auto-sm
        include link-grid

block append css
  style
    include:sass ../styles/_base.sass
    include:sass ../styles/_typography.sass
    include:sass ../styles/_styles.sass
    include:sass ../styles/_responsive.sass
    include:sass ../styles/_article.sass
    include:sass ../styles/_button.sass
    include:sass ../styles/_link-grid.sass
    include:sass ../styles/_animation.sass
    include:sass ../styles/_scroller.sass
    include:sass ../styles/_landing.sass

block append scripts
  script
    include:coffee ../coffee/utils.coffee
    include:coffee ../coffee/article.coffee
