//-
  This layout is used to construct the issue page. It in turn extends the
  default `layout` defined below.

extend /partials/layout

block append config
  - page.includeFonts = false
  - page.class = "article"
  - page.image = "http://interactives.lowyinstitute.org/features/fortress-australia/img/thumbnail.jpg"
  - page.issues = data.getOne("static/features/fortress-australia/data").issues
  - issue = page.issues.find(e => e.author === author)

block prepend head
  - page.url = "https://interactives.lowyinstitute.org/features/fortress-australia/"
  - page.url += issue.href
  - page.metaTitle = `${issue.title} - Fortress Australia – Lowy Insitute`

block page
  
  //- include header
  #progress
  
  .container
      
    .h-screen.flex-ch.bg-dk.txt-ff
      .title-block.flex-cv.txt-center.z1.relative.p-md
        .tag.txt-micro.fw700!= issue.theme
        .title.txt-tu.pv-sm!= issue.title
        .txt-mini.pv-xs.fw600!= issue.author
        .txt-mini.pv-xs.fw600.opacity-50!= issue.position
        block introduction
        block caption

      .stripes.mv-md.pv-sm.absolute.inset-0.overflow-hidden
        .bars.absolute.inset-0.flex-ch
          for bar in new Array(60)
            .h-full.border-r.ph-xs.pv-xs


    article
      block content
      hr
      block bio

    footer.bg-dk.flex-cv.txt-ff
      .txt-center.bg-sdk.p-lg
        .txt-micro.fw500 Continue reading
        .txt-mini.fw600 Beyond Fortress Australia
        
      .h-screen.border-t
        include link-grid

block append css
  style
    include:sass ../styles/_base.sass
    include:sass ../styles/_typography.sass
    include:sass ../styles/_styles.sass
    include:sass ../styles/_responsive.sass
    include:sass ../styles/_article.sass
    include:sass ../styles/_link-grid.sass
    include:sass ../styles/_animation.sass
    include:sass ../styles/_scroller.sass
    include:sass ../styles/_landing.sass

block append scripts
  script
    include:coffee ../coffee/utils.coffee
    include:coffee ../coffee/article.coffee
