extend /partials/layout

block append config
  - var datapath = "static/charts/china-influence-un/fig-2/data"
  - var colorpath = "static/charts/templates/colors/data"
  - _.extend(page, data.getOne(datapath))
  - _.extend(page, data.getOne(colorpath))
  - toPercent = (n) => (n * 100).toFixed(2) + "%"
  - isEmpty = (y) => (y === undefined || y == null || y.length <= 0)
  - chart = page
  
block page
  .wrapper.flex
    .txt-center.flex.flex-grow.flex-col
      .chart-title= chart.title
      //.chart-subtitle.txt-muted.txt-tu.p-sm!= chart.subtitle
      .chart.flex-grow: .chart-content
        - ln = chart.series[0].values.length
        - axes = chart.axes
        - minY = axes.minY
        - maxY = axes.maxY
        - range = maxY - minY
        - fx = (i) => (i + 0.6) / (ln + 0.25)
        - fy = (y) => (y - minY) / range
        
        .subtitles
          .box-sub-left: .chart-subtitle Percentage contributions over all countries
          .box-sub-right: .chart-subtitle Percentage contributions over GDP


        .chart-container(height="100%" width="100%")
          // CHART 1: fig-7a
          svg.box-left(height="100%")
            //-- Y-Axis labels
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0%
              svg(y="66.67%")
                text(text-anchor="end" transform="translate(-8 4)") 5%
              svg(y="33.33%")
                text(text-anchor="end" transform="translate(-8 4)") 10%
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(-8 4)") 15%

            // -- Y-Axis minor lines
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="0%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="33.33%" x2="100%" y2="33.33%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="66.67%" x2="100%" y2="66.67%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="100.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="100%" y1="0.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")

            // X-Axis labels
            svg(class="x-label" x="4.90%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2010
            svg(class="x-label" x="13.06%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2011
            svg(class="x-label" x="21.22%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2012
            svg(class="x-label" x="29.39%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2013
            svg(class="x-label" x="37.55%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2014
            svg(class="x-label" x="45.71%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2015
            svg(class="x-label" x="53.88%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2016
            svg(class="x-label" x="62.04%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2017
            svg(class="x-label" x="70.20%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2018
            svg(class="x-label" x="78.37%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2019
            svg(class="x-label" x="86.53%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2020
            svg(class="x-label" x="94.69%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2021

            // OPTIONAL GUIDE LINE
            // CHART LINES
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              // SERIES LINES
              polyline(fill="none" stroke="#539ed4" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 97.49095374,13.061224489795919 97.70825944666667,21.22448979591837 97.9165786,29.38775510204082 98.58880825333334,37.55102040816326 98.42430288,45.714285714285715 98.46624868666667,53.87755102040816 97.47497953999999,62.04081632653061 96.70486674666667,70.20408163265306 96.40133283333333,78.36734693877551 96.16333862,86.53061224489795 96.07916422,94.6938775510204 96.02972048000001")
              polyline(fill="none" stroke="#16B56F" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 90.60545228,13.061224489795919 89.69525745333333,21.22448979591837 89.10246151999999,29.38775510204082 91.48888623333333,37.55102040816326 89.84053254666668,45.714285714285715 90.09281748,53.87755102040816 88.55260372000001,62.04081632653061 86.57092616,70.20408163265306 85.98203354,78.36734693877551 87.04694234,86.53061224489795 88.14029164,94.6938775510204 87.96508480666667")
              polyline(fill="none" stroke="#ff8800" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 96.06245858,13.061224489795919 95.85472102,21.22448979591837 95.8864295,29.38775510204082 97.50415535333333,37.55102040816326 97.41581026,45.714285714285715 97.47761849999999,53.87755102040816 97.36000946666667,62.04081632653061 97.22293942666667,70.20408163265306 97.10976516,78.36734693877551 96.74040997333333,86.53061224489795 96.52833208,94.6938775510204 96.48894438666667")
              polyline(fill="none" stroke="#68389a" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 98.38414904666666,13.061224489795919 98.29257536,21.22448979591837 98.28326120666667,29.38775510204082 98.85081914666665,37.55102040816326 98.73594456,45.714285714285715 98.76593028666666,53.87755102040816 98.48434330666666,62.04081632653061 98.28703232,70.20408163265306 98.20255757333332,78.36734693877551 98.00214740000001,86.53061224489795 97.91784908666668,94.6938775510204 97.88668448000001")
              polyline(fill="none" stroke="#bd5d92" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 99.37016506,13.061224489795919 99.32286681333333,21.22448979591837 99.31988201333334,29.38775510204082 99.61104411333334,37.55102040816326 99.61525736666667,45.714285714285715 99.62619680666667,53.87755102040816 99.42327674666667,62.04081632653061 99.24485498666668,70.20408163265306 99.18570091333333,78.36734693877551 99.06049062,86.53061224489795 98.98320008666667,94.6938775510204 98.9731605")
              polyline(fill="none" stroke="#a3bc3e" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 94.44030748,13.061224489795919 94.31932183999999,21.22448979591837 94.30148926000001,29.38775510204082 95.51827028000001,37.55102040816326 95.52039138,45.714285714285715 95.56725942,53.87755102040816 94.55474183333334,62.04081632653061 93.44404034,70.20408163265306 93.03053741333333,78.36734693877551 92.72304622,86.53061224489795 92.64743045333333,94.6938775510204 92.6427483")
              polyline(fill="none" stroke="#ffc52b" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 97.46351366666667,13.061224489795919 97.37009467333333,21.22448979591837 97.34986868666667,29.38775510204082 98.55080796666668,37.55102040816326 98.63076412000001,45.714285714285715 98.66662468,53.87755102040816 98.68740408,62.04081632653061 98.59974146,70.20408163265306 98.58592126666666,78.36734693877551 98.701318,86.53061224489795 98.80532805333334,94.6938775510204 98.79954233333332")
              polyline(fill="none" stroke="#a37c09" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 98.35346202666668,13.061224489795919 98.33965944,21.22448979591837 98.37808872,29.38775510204082 99.06282522666667,37.55102040816326 99.05899548666667,45.714285714285715 99.08458322,53.87755102040816 98.99604376,62.04081632653061 98.89926890666668,70.20408163265306 98.86124410000001,78.36734693877551 98.76059358666667,86.53061224489795 98.70938927333334,94.6938775510204 98.69479584000001")
              polyline(fill="none" stroke="#F59894" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 97.40398401333333,13.061224489795919 97.24881815333333,21.22448979591837 97.26144516000001,29.38775510204082 96.79224711333333,37.55102040816326 96.19468560666668,45.714285714285715 96.20993732666666,53.87755102040816 96.15468544,62.04081632653061 96.10236948,70.20408163265306 96.23301760000001,78.36734693877551 96.05468375333334,86.53061224489795 96.013447,94.6938775510204 97.24881815333333")
              polyline(fill="none" stroke="#ff4050" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 79.70814808,13.061224489795919 78.99132124666667,21.22448979591837 79.03329593333333,29.38775510204082 68.19457967333332,37.55102040816326 60.81928465333334,45.714285714285715 60.69280090666667,53.87755102040816 49.334631333333334,62.04081632653061 40.556446906666665,70.20408163265306 40.939773566666666,78.36734693877551 25.317027000000003,86.53061224489795 12.670507266666664,94.6938775510204 12.401943399999999")

            g
              circle(r="4" cx="4.90%" cy="97.49%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="97.71%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="97.92%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="98.59%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="98.42%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="98.47%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="97.47%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="96.70%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="96.40%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="96.16%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="96.08%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="96.03%" fill="#539ed4" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="90.61%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="89.70%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="89.10%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="91.49%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="89.84%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="90.09%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="88.55%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="86.57%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="85.98%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="87.05%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="88.14%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="87.97%" fill="#16B56F" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="96.06%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="95.85%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="95.89%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="97.50%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="97.42%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="97.48%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="97.36%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="97.22%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="97.11%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="96.74%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="96.53%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="96.49%" fill="#ff8800" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="98.38%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="98.29%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="98.28%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="98.85%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="98.74%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="98.77%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="98.48%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="98.29%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="98.20%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="98.00%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="97.92%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="97.89%" fill="#68389a" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="99.37%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="99.32%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="99.32%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="99.61%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="99.62%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="99.63%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="99.42%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="99.24%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="99.19%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="99.06%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="98.98%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="98.97%" fill="#bd5d92" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="94.44%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="94.32%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="94.30%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="95.52%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="95.52%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="95.57%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="94.55%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="93.44%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="93.03%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="92.72%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="92.65%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="92.64%" fill="#a3bc3e" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="97.46%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="97.37%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="97.35%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="98.55%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="98.63%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="98.67%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="98.69%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="98.60%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="98.59%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="98.70%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="98.81%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="98.80%" fill="#ffc52b" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="98.35%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="98.34%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="98.38%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="99.06%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="99.06%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="99.08%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="99.00%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="98.90%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="98.86%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="98.76%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="98.71%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="98.69%" fill="#a37c09" stroke="#fff" stroke-width="0")

            g
              circle(r="4" cx="4.90%" cy="97.40%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="97.25%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="97.26%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="96.79%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="96.19%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="96.21%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="96.15%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="96.10%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="96.23%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="96.05%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="96.01%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="97.25%" fill="#F59894" stroke="#fff" stroke-width="0")

            g
              circle(r="6" cx="4.90%" cy="79.71%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="13.06%" cy="78.99%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="21.22%" cy="79.03%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="29.39%" cy="68.19%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="37.55%" cy="60.82%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="45.71%" cy="60.69%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="53.88%" cy="49.33%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="62.04%" cy="40.56%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="70.20%" cy="40.94%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="78.37%" cy="25.32%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="86.53%" cy="12.67%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="94.69%" cy="12.40%" fill="#ff4050" stroke="#fff" stroke-width="0")


          // CHART 2: fig-7b
          .box-sub-right-mobile: .chart-subtitle Percentage contributions over GDP
          svg.box-right(height="100%")

            // Y-Axis labels
            svg(height="100%")
              svg(y="100.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0%
              svg(y="80%")
                text(text-anchor="end" transform="translate(-8 4)") 0.005%
              svg(y="60%")
                text(text-anchor="end" transform="translate(-8 4)") 0.01%
              svg(y="40.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0.015%
              svg(y="20%")
                text(text-anchor="end" transform="translate(-8 4)") 0.02%
              svg(y="0.00%")
                text(text-anchor="end" transform="translate(-8 4)") 0.025%

            // Y-Axis minor lines
            svg(height="100%")
              svg
                line(x1="0%" y1="0.00%" x2="0%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="0%" y1="0.00%" x2="100%" y2="0.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="20%" x2="100%" y2="20%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="40%" x2="100%" y2="40%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="60.00%" x2="100%" y2="60.00%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="80%" x2="100%" y2="80%" stroke="#5552" stroke-dasharray="")
              svg
                line(x1="0%" y1="100.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")
              svg
                line(x1="100%" y1="0.00%" x2="100%" y2="100%" stroke="#bbb" stroke-dasharray="")

            // X-Axis labels
            svg(class="x-label" x="4.90%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2010
            svg(class="x-label" x="13.06%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2011
            svg(class="x-label" x="21.22%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2012
            svg(class="x-label" x="29.39%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2013
            svg(class="x-label" x="37.55%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2014
            svg(class="x-label" x="45.71%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2015
            svg(class="x-label" x="53.88%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2016
            svg(class="x-label" x="62.04%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2017
            svg(class="x-label" x="70.20%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2018
            svg(class="x-label" x="78.37%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2019
            svg(class="x-label" x="86.53%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2020
            svg(class="x-label" x="94.69%" y="100%")
              text(text-anchor="end" transform="rotate(-45) translate(-8, 24)") 2021

            // OPTIONAL GUIDE LINE
            // CHART LINES
            svg(height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none")
              // SERIES LINES
              polyline(fill="none" stroke="#539ed4" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 83.814648,13.061224489795919 87.54008,21.22448979591837 87.060056,29.38775510204082 79.82114000000001,37.55102040816326 75.614756,45.714285714285715 77.80530399999999,53.87755102040816 62.493676,62.04081632653061 58.174788,70.20408163265306 45.098756,78.36734693877551 31.019828,86.53061224489795 17.631676,94.6938775510204 33.647564")
              polyline(fill="none" stroke="#16B56F" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 88.37723199999999,13.061224489795919 88.64642,21.22448979591837 85.00988000000001,29.38775510204082 72.83164,37.55102040816326 66.30706799999999,45.714285714285715 52.687876,53.87755102040816 47.206136,62.04081632653061 46.833384,70.20408163265306 41.449772,78.36734693877551 43.70593600000001,86.53061224489795 32.99206,94.6938775510204 38.560888000000006")
              polyline(fill="none" stroke="#ff8800" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 93.578324,13.061224489795919 93.445876,21.22448979591837 92.36757200000001,29.38775510204082 89.389396,37.55102040816326 89.67752000000002,45.714285714285715 89.680032,53.87755102040816 90.472768,62.04081632653061 91.44345200000001,70.20408163265306 91.438516,78.36734693877551 90.62798000000001,86.53061224489795 89.34891999999999,94.6938775510204 90.912048")
              polyline(fill="none" stroke="#68389a" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 94.152128,13.061224489795919 94.488568,21.22448979591837 93.657552,29.38775510204082 90.05938,37.55102040816326 88.442,45.714285714285715 87.662184,53.87755102040816 86.530516,62.04081632653061 86.22096000000002,70.20408163265306 86.192192,78.36734693877551 85.465856,86.53061224489795 83.903392,94.6938775510204 85.364808")
              polyline(fill="none" stroke="#bd5d92" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 95.238232,13.061224489795919 95.180684,21.22448979591837 94.93676400000001,29.38775510204082 93.96448800000002,37.55102040816326 94.2675,45.714285714285715 93.391276,53.87755102040816 88.19688,62.04081632653061 83.58140399999999,70.20408163265306 83.58519199999999,78.36734693877551 82.931268,86.53061224489795 80.74927600000001,94.6938775510204 80.86464400000001")
              polyline(fill="none" stroke="#a3bc3e" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 71.236356,13.061224489795919 75.606024,21.22448979591837 73.74377600000001,29.38775510204082 52.619492,37.55102040816326 51.758475999999995,45.714285714285715 41.68992,53.87755102040816 30.078464,62.04081632653061 22.218096000000006,70.20408163265306 31.663628,78.36734693877551 26.278224,86.53061224489795 14.444652000000001,94.6938775510204 27.499436")
              polyline(fill="none" stroke="#ffc52b" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 83.39212800000001,13.061224489795919 83.45590399999999,21.22448979591837 79.312364,29.38775510204082 71.465224,37.55102040816326 70.742944,45.714285714285715 66.90103199999999,53.87755102040816 66.40684,62.04081632653061 70.010276,70.20408163265306 72.033472,78.36734693877551 72.74543600000001,86.53061224489795 70.851136,94.6938775510204 76.519584")
              polyline(fill="none" stroke="#a37c09" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 86.80888399999999,13.061224489795919 87.09391600000001,21.22448979591837 86.165604,29.38775510204082 82.40065999999999,37.55102040816326 81.18348399999999,45.714285714285715 80.367224,53.87755102040816 79.886448,62.04081632653061 80.294972,70.20408163265306 82.007828,78.36734693877551 81.454224,86.53061224489795 78.86061600000001,94.6938775510204 78.81168000000001")
              polyline(fill="none" stroke="#F59894" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 75.519212,13.061224489795919 77.385604,21.22448979591837 75.208752,29.38775510204082 35.093824000000005,37.55102040816326 23.11500000000001,45.714285714285715 8.918988000000002,53.87755102040816 10.809700000000005,62.04081632653061 17.423212000000007,70.20408163265306 28.565084000000002,78.36734693877551 23.013212000000006,86.53061224489795 9.08146800000001")
              polyline(fill="none" stroke="#ff4050" stroke-dasharray="" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" points="4.8979591836734695 90.890296,13.061224489795919 91.98091199999999,21.22448979591837 91.667,29.38775510204082 73.76746800000001,37.55102040816326 69.53550399999999,45.714285714285715 69.416716,53.87755102040816 62.648019999999995,62.04081632653061 60.551292000000004,70.20408163265306 65.96757199999999,78.36734693877551 57.421516000000004,86.53061224489795 51.337047999999996,94.6938775510204 59.426816")
            g
              circle(r="4" cx="4.90%" cy="83.81%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="87.54%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="87.06%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="79.82%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="75.61%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="77.81%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="62.49%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="58.17%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="45.10%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="31.02%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="17.63%" fill="#539ed4" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="33.65%" fill="#539ed4" stroke="#fff" stroke-width="0")
            g
              circle(r="4" cx="4.90%" cy="88.38%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="88.65%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="85.01%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="72.83%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="66.31%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="52.69%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="47.21%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="46.83%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="41.45%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="43.71%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="32.99%" fill="#16B56F" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="38.56%" fill="#16B56F" stroke="#fff" stroke-width="0")
            g
              circle(r="4" cx="4.90%" cy="93.58%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="93.45%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="92.37%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="89.39%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="89.68%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="89.68%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="90.47%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="91.44%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="91.44%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="90.63%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="89.35%" fill="#ff8800" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="90.91%" fill="#ff8800" stroke="#fff" stroke-width="0")
            g
              circle(r="4" cx="4.90%" cy="94.15%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="94.49%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="93.66%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="90.06%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="88.44%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="87.66%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="86.53%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="86.22%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="86.19%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="85.47%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="83.90%" fill="#68389a" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="85.36%" fill="#68389a" stroke="#fff" stroke-width="0")
            g
              circle(r="4" cx="4.90%" cy="95.24%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="95.18%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="94.94%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="93.96%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="94.27%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="93.39%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="88.20%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="83.58%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="83.59%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="82.93%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="80.75%" fill="#bd5d92" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="80.86%" fill="#bd5d92" stroke="#fff" stroke-width="0")
            g
              circle(r="4" cx="4.90%" cy="71.24%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="75.61%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="73.74%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="52.62%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="51.76%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="41.69%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="30.08%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="22.22%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="31.66%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="26.28%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="14.44%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="27.50%" fill="#a3bc3e" stroke="#fff" stroke-width="0")
            g
              circle(r="4" cx="4.90%" cy="83.39%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="83.46%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="79.31%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="71.47%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="70.74%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="66.90%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="66.41%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="70.01%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="72.03%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="72.75%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="70.85%" fill="#ffc52b" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="76.52%" fill="#ffc52b" stroke="#fff" stroke-width="0")
            g
              circle(r="4" cx="4.90%" cy="86.81%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="87.09%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="86.17%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="82.40%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="81.18%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="80.37%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="79.89%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="80.29%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="82.01%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="81.45%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="78.86%" fill="#a37c09" stroke="#fff" stroke-width="0")
              circle(r="4" cx="94.69%" cy="78.81%" fill="#a37c09" stroke="#fff" stroke-width="0")
            g
              circle(r="4" cx="4.90%" cy="75.52%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="13.06%" cy="77.39%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="21.22%" cy="75.21%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="29.39%" cy="35.09%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="37.55%" cy="23.12%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="45.71%" cy="8.92%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="53.88%" cy="10.81%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="62.04%" cy="17.42%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="70.20%" cy="28.57%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="78.37%" cy="23.01%" fill="#F59894" stroke="#fff" stroke-width="0")
              circle(r="4" cx="86.53%" cy="9.08%" fill="#F59894" stroke="#fff" stroke-width="0")
            g
              circle(r="6" cx="4.90%" cy="90.89%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="13.06%" cy="91.98%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="21.22%" cy="91.67%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="29.39%" cy="73.77%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="37.55%" cy="69.54%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="45.71%" cy="69.42%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="53.88%" cy="62.65%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="62.04%" cy="60.55%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="70.20%" cy="65.97%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="78.37%" cy="57.42%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="86.53%" cy="51.34%" fill="#ff4050" stroke="#fff" stroke-width="0")
              circle(r="6" cx="94.69%" cy="59.43%" fill="#ff4050" stroke="#fff" stroke-width="0")
      
      .row
        ul.legend.legend.list-bare.txt-left.flex.flex-ch.flex-wrap
          for ax, i in new Array(chart.series.length)
            if i
              li.legend-item
                span.legend-item-box(style=`background: ${chart.colors[chart.series[i].color]}`)
                span.legend-item-label= chart.series[i].title

      .chart-source.txt-right.txt-muted.txt-cond!= chart.source
      .chart-notes.txt-right.txt-muted.txt-cond!= chart.notes
  
block append css
  style
    :sass
    
      .wrapper
        height: 660px
        max-width: 1062px

      .chart
        box-sizing: border-box
        position: relative

      .chart-content
        position: absolute
        top: 10px
        left: 60px
        right: 20px
        bottom: 40px

      .chart-title
        margin: auto
        font-size: 18px
        
      .chart-subtitle
        font-weight: normal
        margin-top: 0
        font-size: 14px
        padding: 1rem
        
      .tooltip
        position: absolute
        left: 0
        background: #fffe
        padding: .75em
        opacity: 1
        border-radius: .2em
        box-shadow: 0 0 5px 0 #0004
        transition-duration: 0.5s
        pointer-events: none
        font-size: 14px
        text-transform: lowercase
        max-width: 180px
        box-sizing: border-box

      li
        list-style: none
        margin: 0
        padding: 4px 16px 4px 24px
        line-height: 1.2em

      .legend
        font-size: 12px
        margin-top: 1.6em

      .legend-item
        margin: 0 4px
        padding-right: 0
        position: relative
        white-space: nowrap

      .legend-item-box
        position: absolute
        left: 0
        top: .5em
        height: 1em
        width: 1em
        background: black
        border-radius: 50%

      polyline
        vector-effect: non-scaling-stroke

      text
        font-size: 11px
        fill: currentColor

      svg
        overflow: visible
        
      .chart-notes, .chart-source
        margin-right: 2em
        font-size: 11px
        
      .chart-value
        opacity: 0
        transition-duration: .4s
        pointer-events: none
      
      .chart-content:hover .chart-value
        opacity: 1

      .txt-muted
        color: #767676

      .box-left,.box-right
        background-color: #eff1f280
      .box-left,.box-sub-left
        float: left
        width: 46%
        margin: 0
      .box-right,.box-sub-right,.box-subright-mobile
        float: right
        width: 46%
        margin: 0
      .chart-container
        height: 90%
      .box-sub-right-mobile
        display: none

      @media (max-width: 700px)
        
        .x-label text
          text-anchor: end
          transform: rotate(-45deg) translate(-8px, 24px)
        text
          font-size: 11px
        .box-left
          width: 44%
        .box-right
          width: 44%
        .legend
        font-size: 11px
          
      @media (max-width: 450px)
        .legend
          /* flex-direction: column */
        .chart-title
          font-size: 16px
        .chart-subtitle
          font-size: 12px
        .chart-notes,
        .chart-source
          text-align: center
          font-size: 13px
        .x-label 
          display: none  
        .x-label:nth-child(2n+3)
          display: block

        .chart-container
          height: auto
        .box-left,.box-sub-left,.box-right,.box-sub-right-mobile
          width: 100%
          float: none
        .box-sub-right-mobile
          margin-top: 2em !important
        .box-sub-right .chart-subtitle
          display: none
        .box-sub-right-mobile
          display: block
        .x-label text
          text-anchor: middle
          transform: translate(-8px, 18px)
        .chart-subtitle
          padding: 0.5rem
        li 
          padding: 4px 12px 2px 16px
        .legend-item-box
          height: 0.8em
          width: 0.8em
