- chartData = page.data.covid

.slide.bg-dk
  .slide-inner(data-view="in-viewport")
    .type.txt-lg.txt-ff.txt-left(
      data-view="slide, in-viewport"
      data-duration=1800
    )
      span.line.bg-hl.txt-mono!= chartData.title

    for chart, j in chartData.data.slice(1)
      #covid-zero(style="margin: 4rem auto;")
        .type.txt-ff.txt-left(
          style="font-size: 28px;"
          data-view="slide, in-viewport"
          data-duration=1800
        )
          span.line.bg-ta.txt-mono!= chart.title

        .scale.flip.fade-in.delay-10 
          for tick, i in chart.ticks
            .scale-tick
              if i == 0
                .scale-tick-label= chart.unit
              else if i % 2 == 0
                .scale-tick-label= tick

        .txt-dk-mid.txt-sm
          .bars(style={"margin-top": "0.5rem"})
            - labels = chartData.labels
            - values = chart.values
            - m = chart.multiplier
            for value, i in values
              .bar.bar-border
                .fw.fh(
                  data-view="bars, in-viewport"
                  data-duration=1200
                  data-delay=(i * 100)
                  data-value=value
                  data-precision=(j ? 0 : 1)
                  data-suffix=(j ? "k" : "M")
                )
                  .bar-bg(
                    class=(i == 3 ? "bg-ff" : "bg-lta")
                    style=`width: ${(m * value)}%`
                  )
                    .bar-value.txt-ff(class=(i == 3 ? "ph-lg" : "bar-value-right"))= value
                  .bar-label.txt-right(class=(i == 3 ? "txt-ff" : ""))= labels[i]

          .scale.fade-in.delay-10 
            for tick, i in chart.ticks
              .scale-tick
                if i == 0
                  .scale-tick-label= chart.unit
                else if i % 2 == 0
                  .scale-tick-label= tick

    //- .scale-source Source: Merics
    //- .legend.txt-right
      for key, i in chartData.keys
        .key.fade-in(class=`delay-${8 * i}`)
          .key-label= key
          .key-box(class=i ? "bg-lta" : "bg-hl")