.slide.bg-dk
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    .slide-inner(
      data-view="in-viewport, page"
      data-pages=2
    )
      .txt-mono

        img.fade-in.posa.fh(
          data-src="./img/economy/davos.jpg"
          data-attributes=[
            {style: "transition-duration: 1s; transform: translate3d(0, 0, 0);"},
            {style: "transform: translate3d(0, 0, 0); transition-duration: 1s"},
          ]
        )

        img.posa.fh(
          data-src="./img/economy/nationalist.jpg"
          data-attributes=[
            {style: "transition-duration: 1s; transform: translate3d(0, 0, 0); opacity: 0;"},
            {style: "transition-duration: 1s; transform: translate3d(0, 0, 0);"},
          ]
        )

        .posa.txt-md.txt-ff.txt-roman.txt-sans.txt-bold.txt-tu.fw(style="bottom: 0")
          span.fade-in.posa.bg-ff.ph-sm.txt-dk Davos man
          span.fade-in.posa.bg-hl.ph-sm(
            data-attributes=[{style: "opacity: 0;"}, {style: ""}]
          )
            | Chinese Nationalist

        .posa.fw.txt-sm.txt-dk.fade-in(style="margin-top: 180px")
      
          .fade-in.pv-sm(
            data-attributes=[
              {style: "transform: translate3d(29%, 0, 0);"},
              {style: "transform: translate3d(29%, -60%, 0); opacity: .2"},
            ]
          )
            .line.bg-ff.ph-sm.mx-auto
              .line-bg
              | “We should remove barriers, not erect walls;
            .line.bg-ff.ph-sm.mx-auto
              .line-bg
              | open up, not close off; seek integration,
            .line.bg-ff.ph-sm.mx-auto
              .line-bg
              | not decoupling. This is the way
            .line.bg-ff.ph-sm.mx-auto
              .line-bg
              | to build an open world economy.”

            .fade-in.txt-ff.txt-sm.txt-center.pv-sm(
              data-attributes=[
                {style: "transition-delay: 400ms;"},
                {},      
              ]
            )
              | Xi in Davos, January, 2022

          .fade-in.pv-sm.txt-ff(
            data-attributes=[
              {style: "transform: translate3d(29%, -80%, 0); opacity: 0"},
              {style: "transform: translate3d(29%, -55%, 0);"},
            ]
          )
            .line.bg-hl.ph-sm.mx-auto
              .line-bg
              | “We must tighten global production chains'
            .line.bg-hl.ph-sm.mx-auto
              .line-bg
              | dependence on China and forge ‘assassin's mace’
            .line.bg-hl.ph-sm.mx-auto
              .line-bg
              | technologies to deter foreigners who would
            .line.bg-hl.ph-sm.mx-auto
              .line-bg
              | cut off supply to China.”

            .fade-in.txt-ff.txt-sm.txt-center.pv-sm(
              data-attributes=[
                {style: "transition-delay: 400ms"},          
                {},
              ]
            )
              | Internal speech, April, 2020

        //- svg.posa.fade-in.txt-mid(
          width="32"
          height="520"
          fill="none"
          stroke="white"
          data-attributes=[
            {style: "top: -90px; left: calc(50% - 16px); transform: translate3d(0, 16px, 0); opacity: 0"},
            {style: "top: -90px; left: calc(50% - 16px); opacity: 1"},
          ]
          )
          //- d="M0 0 l32 32 l-32 32 l32 32 l-32 32 l32 32 l-32 32 l32 32 l-32 32 l32 32 l-32 32 l32 32 l-32 32 l32 32 l-32 32 l32 32 l-32 32 l32 32 l-32 32 l32 32 l-32 32 l32 32 l-32 32"
          path(
            d="M32 0 L0 700"
            stroke-width=8
          )
