.slide.bg-dk.txt-ff
  .slide-inner.txt-mono.flex.flex-col.flex-ch(data-view="in-viewport")
    .type.txt-lg.txt-ff.mx-auto(
        data-view="type, in-viewport"
        data-duration=1200
      )
        span.line.bg-hl How is Xi different?

    .flex-ch.mx-auto.txt-center
      for item, i in page.data.leaders
        .member(
          style="margin: 0 12px; padding: 0"
        )
          .fade-in(
            class=("delay-" + (2 + i * 3))
          )
            img(data-src=item.img)

          .pv-sm.bg-dk.fade-in(
            class=("delay-" + (i * 3))
          )
            .type.mx-auto.pv-xs.txt-sm(
              data-view="type, in-viewport"
              data-duration=800
              data-delay=(300 + 500 * i)
            )
              span.line= item.name
              span.line.txt-muted= item.years