
for key in ["reform", "confidence", "military"]
  .slide.bg-dk.txt-ff
    .slide-inner(data-view="in-viewport")
      .type.txt-lg.txt-left.posa.fade-in(
        data-view="slide, in-viewport"
        data-duration=1000
      )
        span.line.bg-lta.txt-mono
          = page.data.keywords[key].title

      .bars.txt-muted.fh.txt-sm.fade-in(style={"margin-top": "80px"})
        for item, j in page.data.keywords[key].data
          if j > 0
            .bar-group.flex-cv(style={"padding-top": "40px", "height": "80%", "width": "100%"})
              strong.txt-sans.bar-group-label.txt-center.txt-tu.fade-in(
                class=[
                  j > 0 ? "txt-hl delay-12" : "txt-muted delay-8"
                ]
              )
                = item.label

            for value, i in item.values
              .bar.bar-border.bar-border-mid(
                data-view="bars, in-viewport"
                data-duration=(2000 - j * 400)
                data-delay=(j * 400 + i * 40)
                data-value=value
                data-direction=(j > 0 ? 1 : -1)
                data-suffix=" times"
              )
                .bar-bg(
                  style=`width: ${value / page.data.keywords[key].scale}%`
                  class=[
                    j > 0 ? "bg-hl txt-ff l0" : "bg-lta txt-ff r0"
                  ]
                )
                  .bar-value(
                    class=[
                      value / page.data.keywords[key].scale < 15 ? "bar-value-outside txt-muted" : "",
                      j > 0 ? "bar-value-right" : ""
                    ]
                  )
                    = value || ""

                .bar-label(
                  class=[
                      j > 0 ? "txt-right" : "txt-left"
                    ]
                )
                  //if value > 0  /* want to show all labels, not just ones with values */
                  if Array.isArray(page.data.keywords[key].labels[i])
                    = page.data.keywords[key].labels[i][j]
                  else
                    = page.data.keywords[key].labels[i]

      .posa.txt-mid.fade-in.delay-8(style="top: 0; right: 0")
        | Source: Government press releases, <em>The Economist</em>
