.slide.bg-dk.txt-ff
  .slide-inner(data-view="in-viewport")

    .type.txt-md.txt-left.posa.txt-mono.fade-in(
      data-view="slide, in-viewport"
      data-duration=1800
    )
      span.line.bg-hl.txt-lg= page.data.warshipTonnage.title
      span.line.txt-dk.bg-ff.txt-md= page.data.warshipTonnage.subtitle 

    #warship-tonnage.bars.txt-muted.fh.txt-sm.fade-in(style={"margin-top": "14rem"})
      for item, i in page.data.warshipTonnage.data
        .bar.bar-border(
          data-view="bars, in-viewport"
          data-duration=(2000 - i * 400)
          data-delay=(800 + i * 400 + i * 40)
          data-suffix="&hairsp;kt"
          data-precision=1
          data-value=item.value
        )
          .bar-bg(
            class=item.class
            style=`width: ${100 * item.value / page.data.warshipTonnage.scale}%`
          )
            .bar-value= item.value

          .bar-label.txt-right
            = item.label

    .posa.txt-mid.fade-in.delay-8(style="top: 0; right: 0")
      | Source: Government press releases, <em>The Economist</em>
