- const map = data.getOne("static/features/chinas-communist-party-under-xi-jinping/data/provinces")

.slide.bg-dk.flex
  .flex-cv.flex-grow.posr(data-view="in-viewport")
    .posa.fw.fh
      include /features/chinas-communist-party-under-xi-jinping/img/china.svg
      
      svg.mx-auto(
        width="954"
        height="720"
        stroke="#3f4457"
        fill="#585d6d"
        viewBox="60 48 848 640"
        font-size="12px"
      )
        for province, i in map.provinces
          g.fade-in(
            class="delay-" + ~~(i / 3)
          )
            use.fill-no(
              href="#" + province.id
            )
          
            text.txt-mono(
              x=province.x
              y=province.y + 4
              text-anchor="middle"
              stroke="none"
            )
              = province.name

    .slide-inner.flex-cv
      .type.txt-xl.txt-ff.txt-center.mx-auto(
        data-view="type, in-viewport"
        data-duration=1200
        data-underline=[{row:0,start:0,end:15}]
      )
        span.line.txt-mono 1.4 billion
